<div class="col-md-9 padding-top-0 chdsdarf custom-section-cc">
<div class="middle-content">
<picture class="desktop-image">
<source media="(min-width:465px)" srcset="{{ block.settings.img01 | img_url: 'master' }}">
 <img src="{{ block.settings.img01 | img_url: 'master' }}">
</picture>
  <picture class="mobile-image">
<source media="(min-width:465px)" srcset="{{ block.settings.img04 | img_url: 'master' }}">
 <img src="{{ block.settings.img04 | img_url: 'master' }}">
</picture>
<h2 class="text-start"><b class="hand-crafted"> {{block.settings.h01}}</b></h2>
<p>{{block.settings.p01}}</p>
<div class="row custom-youtube show-desktop">
 <iframe width="100%" height="450px" src="{{block.settings.videourl}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
</div>
<h3 id="handCarftHeading" class="custom-saunasd"><b class="hand-crafted">{{block.settings.h02}} </b></h3>
<center>
	<picture class="desktop-image2">
		<source media="(min-width:465px)" srcset="{{block.settings.img02 | img_url:'master'}}">
		<img src="{{block.settings.img02 | img_url:'master'}}">
	</picture>
  <picture class="mobile-image2">
		<source media="(min-width:465px)" srcset="{{block.settings.img08 | img_url:'master'}}">
		<img src="{{block.settings.img08 | img_url:'master'}}">
	</picture>
</center>
</div>
</div>