<a href="{{ routes.root_url }}" class="site-logo">
  {% if section.settings.logo %}
    <img src="{{ section.settings.logo | image_url: width: 300 }}" alt="{{ shop.name }}" width="{{ section.settings.logo_width }}" loading="eager">
  {% else %}
    <span class="site-logo-text heading-font">{{ shop.name }}</span>
  {% endif %}
</a>
