{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'custom-blog.css' | asset_url | stylesheet_tag }}

<div class="main-blog you-may-section page-width section-{{ section.id }}-pa" style="padding: 0 1rem;">
  <!-- Blog Title -->
  <h1 class="title__primary">More Article Like This</h1>
  <!-- Create a file named blog-content.liquid in the 'sections' folder -->
  <div class="blog-page">
    <div class="blog-posts section-post">
      <div class="grid product-grid">
        {% for article in blog.articles limit: 3 %}
          <div class="product-grid-item">
            <div class="related-article">
              <a href="{{ article.url }}">
                {% if article.image %}
                  <img src="{{ article.image | img_url: 'large' }}" alt="{{ article.title }}">
                {% else %}
                  <img src="//placehold.it/300x300" alt="{{ article.title }}">
                {% endif %}
              </a>
              <div class="article-details">
                <h3>
                  <a href="{{ article.url }}">{{ article.title }}</a>
                </h3>
                <div class="article-card__info caption-with-letter-spacing h5">
                  <span>{{ article.author }}</span> |
                  <span class="circle-divider">{{ article.published_at | time_tag: format: 'date' }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<style>
    .you-may-section{
    padding: 1rem !important;
  }
  .you-may-section .section-post{
    padding: 0;
  }
  .main-blog .title__primary {
    font-size: 27px;
    margin-bottom: 0;
    padding: 0.5rem;
    font-weight: 500;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 2.6rem;
  }
  .section-post {
    background: transparent !important;
  }
  .product-grid-item {
    background-color: transparent;
  }
  .related-article a img {
    width: 100%;
    height: auto;
    aspect-ratio: 5 / 2.6;
    /* height: 235px; */
    object-fit: cover;
    filter: brightness(0.8) !important;
    border-radius: 7px;
  }
  .related-article h3 a {
    margin: 30px 0;
    padding: 0;
    text-decoration: none !important;
    font-size: 23px;
    font-family: Roboto, sans-serif;
    /* min-height: 76px; */
    line-height: 29px;
    color: black;
    font-weight: 600;
  }
  .related-article .article-card__info {
    padding: 0 10px 10px 0;
    margin:7px 0!important;
    font-weight: 500;
    color: #545454;
    font-family:'open sans', sans-serif!important;
  }
  .article-details { 
    padding: 0 0.4rem;
  }

  @media (max-width: 1190px) {
    .product-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }

  @media (max-width: 880px) {
    .product-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
</style>
