<style>
  .destop-img{
    display: block;
  }
  .mobile-image{
    display:none;
  }
  @media (max-width: 640px) {
      .destop-img{
          display: none;
      }
      .mobile-image{
          display:flex;
      }
}
</style>
<section class="w3_bg {{ section.settings.addclass }}">
    <div class="w3_bg">
      <div class="acc-bg-blue w3_bg">
        <div class="container w3_bg">
          <div class="feature-h-text collapsed w3_bg mobile-image" data-toggle="collapse" data-target="#{{ section.id }}">

            <h4 class=" head-a1  medical-beni removebr">{{ section.settings.heading }} <br><span class="spn-a addnewcl">{{ section.settings.headblue }}</span></h4>
            <i class="fa fa-angle-up head-arrow arrow-gray"></i>
          </div>
        </div>
      </div>
      <div id="{{ section.id }}" class="container collapse in w3_bg" style="margin-top:{{ section.settings.mtop }}PX; margin-bottom:{{ section.settings.mbottom }}PX"> 
        <picture>
         <!-- <div class="imgcols destop-img">
              <img src="{{ section.settings.image | img_url:'master' }}" alt="medical benifits medical sauna's 3" class="img-responsive benefits-pd " data-done="Loaded">
         </div> -->
         <div class="imgscolty mobile-image">
            {% if section.settings.image1 %}
                <img src="{{ section.settings.image1 | img_url:'master' }}" alt="medical benifits medical sauna's 3" class="img-responsive benefits-pd " data-done="Loaded">
            {% else %}
                 <img src="{{ section.settings.image | img_url:'master' }}" alt="medical benifits medical sauna's 3" class="img-responsive benefits-pd " data-done="Loaded">
            {% endif %}
         </div>    
        </picture>
      </div>
    </div>
  </section>
{% schema %}
  {
    "name": "big-image-mobile",
    "settings": [
       {
        "type": "image_picker",
        "id":"image",
        "label":"Desktop Image"
      },
      {
        "type": "image_picker",
        "id":"image1",
        "label":"Mobile Image"
      },
      {
        "type": "text",
        "id":"heading",
        "label":"Main Heading"
      },
      {
        "type": "text",
        "id":"headblue",
        "label":"White text"
      },
       {
        "type": "text",
        "id":"addclass",
        "label":"addclass"
      }, {
          "type": "text",
          "id": "mtop",
          "label": "Margin top (PX)"
        },
      {
          "type": "text",
          "id": "mbottom",
          "label": "Margin Bottom (PX)"
        }
      
    ],
    "presets":[
      {
         "name": "big-image-mobile"
      }
    ]
  }
{% endschema %}
