  {%- style -%}
   .Inner-main .doctor-descrp{
     text-align: left;
   }
    .medical-mcard{
      display:none;
    }
 .xfcgdxd p.doctor-descrp {
  
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}
    .container.xfcgdxd {
    width: 1140px!important;
}
    .xfcgdxd  h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    color: #6f6e6e !important;
    font-size: 24px !important;
    padding: 0px;
    margin: 5px 0px;
}

    @media screen and (max-width: 750px) {
    .medical-deskimg{
      display:none;
      }

      .container.xfcgdxd {
    width: 100% !important;
}
      .xfcgdxd  h4 {
    margin: 5px 30px !important;
    margin-top: 15px !important;
}

      .xfcgdxd p.doctor-descrp {
    margin: 5px 30px !important;
        margin-bottom: 20px !important;
}
      
      .medical-mainhead{
        padding-top:10px;
      }
    .medical-mcard{
        display: grid;
        margin: auto;
        justify-content: center;
      }
      .d-mblock{
        display:block;
      }
    .medical-mcard p:nth-child(2){
        color: #1c89ee;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
      }
    .medical-mcard p:nth-child(3){
        color: #040404;
        font-size: 16px;
        text-align: center;
         line-height: 25px;
        font-weight:bold;
      }

    }





    @media screen and (max-width: 767px) {
  .container.xfcgdxd {
    width: 100% !important;
  }

  .medical-deskimg {
    display: none;
  }

  .medical-mcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px !important;
  }

  .d-mblock {
    display: block;
  }

  .medical-mcard p:nth-child(2) {
         color: #1c89ee;
        font-size: 24px !important;
        font-weight: bold !important;
        text-align: center !important;
        margin-bottom: 5px;
  }

  .medical-mcard p:nth-child(3) {
    font-size: 16px;
    line-height: 22px;
     font-weight: bold !important;
  }
}

  {%- endstyle -%}
<div class="container xfcgdxd">
  <div class="Inner-main">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 p-0" style="padding-top:10px; margin:0px;">
              {% if section.settings.medical-heading %}
                 <h4 class="medical-mainhead">
                  <strong style="color: #000; text-align: center; line-height: 1.3; text-align: justify;">{{ section.settings.medical-heading }}</strong>
                 </h4>
              {% endif %}
              {% if section.settings.medical-description %}
                <p class="doctor-descrp"><strong>{{ section.settings.medical-description }}</strong></p>
              {% endif %}
              {% if section.settings.medical-heading-img1 %}
                <img class="medical-deskimg" src="{{ section.settings.medical-heading-img1 | image_url }}" alt="">
              {% endif %}  
              <div>
                {% for block in section.blocks %}
                  <div class="medical-mcard">
                    {% if block.settings.medical-heading-img2 %}
                      <img src="{{ block.settings.medical-heading-img2 | image_url }}" alt="Medical Card Image">
                    {% endif %}
              
                    {% if block.settings.medical-heading1 %}
                      <p class="medical-mhead">{{ block.settings.medical-heading1 }}</p>
                    {% endif %}
              
                    {% if block.settings.medical-description1 %}
                      <p>{{ block.settings.medical-description1 }} <span class="d-mblock">{{ block.settings.medical-description2 }}</span><span class="d-mblock">{{ block.settings.medical-description3 }}</span> </p>
                    {% endif %}
                  </div>
                {% endfor %}
              </div
        </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "celebrity-medical",
    "settings": [
        {
          "type": "textarea",
          "id": "medical-heading",
          "label": "Content "
        },
         {
          "type": "textarea",
          "id": "medical-description",
          "label": "Content-description "
        },
         {
          "type": "image_picker",
          "id": "medical-heading-img1",
          "label": "Image"
        }
    ],
    "blocks": [
      {
        "type":"medical-mcard",
        "name":"medical-mcard",
        "limit":10,
        "settings": [
              {
             "type": "image_picker",
             "id": "medical-heading-img2",
             "label": "Image"
             },
             {
              "type": "textarea",
              "id": "medical-heading1",
              "label": "Content-description "
              },
              {
              "type": "textarea",
              "id": "medical-description1",
              "label": "Content1-description "
              },
              {
              "type": "textarea", 
              "id": "medical-description2",
              "label": "Content2-description "
              },
              {
              "type": "textarea",
              "id": "medical-description3",
              "label": "Content3-description "
              }
        ]
      }
    ],
    "presets": [
    {
        "name":"celebrity-medical"
    }
    ]
  }
{% endschema %}