<section class="middle-content frozen_cold_plunge" style="background-color:{{ section.settings.addcolor}}">
        <div class="container plunge-container">
            <div class="row n-gutters" style="text-align: justify;">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="text_content">

                        <h4 class="p-c frozen-heading" style="text-align: center;">
                          {{ section.settings.text}}
                        </h4>
                        <p class="p-c plunge-content-para1">{{ section.settings.para1 }} </p>
                    </div>
                  
                   <div class="plunge-imagecontent">

                        <div class="col-md-8 our-story-img">
                              <img src="{{ section.settings.image | img_url:'master' }}" alt="medical breakthrough frozen" class="breakthrough-frozen-main">
                        </div>

                           <div class="col-md-4 our-story-img1"> <p class="pagedesign-p imagecontent-right ">{{ section.settings.para2 }} </p></div>
                    </div>
                  
                   
              <div class="col-md-12 plunge-bottomcontent">
                <div class=" plunge-bottomcontent1">
                     <p class="p-c plunge-content-para2">{{ section.settings.para3}} </p>
                  </div>
              </div>

                </div>
              <div class="row n-gutters" style="text-align: justify;">
               
              </div>
                
              
            
            </div>
        </div>
    </section>
 
{% schema %}
  {
    "name": "cold plunge content",
    "settings": [
     {
          "type": "textarea",
          "id": "text",
          "label": "Add content"
        }, 
      {
          "type": "textarea",
          "id": "para1",
          "label": "Add content"
        },
      {
          "type": "color",
      "id": "addcolor",
      "label": "Add color"
    },
       {
          "id": "image",
          "type": "image_picker",
          "label": "Select Image",
        },
        {
          "type": "textarea",
          "id": "para2",
          "label": "Add content"
        },
      {
          "type": "textarea",
          "id": "para3",
          "label": "Add content"
        },

      
    ],
    "presets": [
      {
         "name": "cold plunge content"
      }
    ]
  }
{% endschema %}