{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'custom_blog-post.css' | asset_url | stylesheet_tag }}

<div class="blog-main-banner-a index_banner " style="cursor:pointer; margin-bottom: 1rem;" bis_skin_checked="1">
  <img src="{{ section.settings.banner_image | image_url: width: 1000 }}">
</div>

<article class="article-template">
  <div class="main-blog main-article page-width section-{{ section.id }}-pa" style="padding: 0 1rem;">
    <div class="blog-page article-page">
      <div class="blog-posts">
        <div class="article-header">
          <h1>{{ article.title }}</h1>
          <hr>
        </div>

        <div class="article-image">
          <img
            srcset="
              {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
              {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ article.image.src | image_url }} {{ article.image.src.width }}w
            "
            src="{{ article.image.src | image_url: width: 533 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ article.image.src.alt | escape }}"
            class="motion-reduce"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
          >
        </div>

        <div class="article-content">
          <div class="article-meta">
            <span class="article-author">{{ article.author }}</span>
            <span class="article-date">{{ article.published_at | date: '%B %d, %Y' }}</span>
          </div>
          <div class="">
            {{ article.content }}
          </div>
        </div>
      </div>

      <div class="blog-sidebar">
        <div class="sidebar__wrapper">
          <div class="blog-categories">
            <h3 class="sidebar__title">Categories</h3>
             <ul>
                <li><a href="/blogs/official-blog/tagged/saunas">Saunas</a></li>
                <li><a href="/blogs/official-blog/tagged/outdoor-saunas">Outdoor Saunas</a></li>
                <li><a href="/blogs/official-blog/tagged/cold-plunge">Cold Plunge</a></li>
                <li><a href="/blogs/official-blog/tagged/traditional-saunas">Traditional Saunas</a></li>
              </ul>
          </div>
          <div class="recent-posts">
            <h3 class="sidebar__title">Recent Blog Posts</h3>
            <ul>
              {% for article in blog.articles limit: 4 %}
                <li>
                  <a href="{{ article.url }}">{{ article.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>

          {% comment %}
          <div class="products_cards">
            <h3 class="sidebar__title">Products</h3>
            <ul style="padding: 0;">
                
                {% for product in section.settings.product_list limit: 4 %}
                {% if product.compare_at_price > product.price %}
                <div class="related-product">
                  <h3>
                    {{ product.title }} Massage Chair
                  </h3>
                  <a href="{{ product.url }}" class="product__image">
                    <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}"> 
                  </a> 
                  <div class="product-details">
                      <div class="price">
                        <span class="compare-at-price" style="font-size: 18px;">Early Bird Special : <span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span></span>
                        <div class="discount">
                          You Save: {{ product.compare_at_price | minus: product.price | money }}
                        </div>
                        <span class="current-price">{{ product.price | money }}</span>
                      </div>
                      <a href="{{ product.url }}">
                        <img src="https://cdn.shopify.com/s/files/1/0873/4552/9119/files/learn-more.png?v=1719739288" alt="">
                      </a>
                  </div>
                </div>
              {% endif %}
              {% endfor %}
            </ul>
          </div>

 {% endcomment %}
          
        </div>
      </div>
    
    </div>
    <!-- More Arlicle Like This Section -->
    <div class="you-may-also-like">
      {% render 'more-article-like-this' %}
     </div>
  </div>
</article>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
        "type": "product_list",
        "id": "product_list",
        "label": "Featured Products",
        "limit": 4
    }
  ]
}
{% endschema %}