<section class="w3_bg medical3-v2aop {{ section.settings.addclass }}">
    <div class="w3_bg">
    <div class="acc-bg-blue w3_bg">
            <div class="container w3_bg">
            <div class="feature-h-text collapsed w3_bg" data-toggle="collapse" data-target="#{{ section.id }}-view">
                <h4 class="head-a1">{{ section.settings.heading }} </h4>
                <i class="fa fa-angle-up head-arrow arrow-gray"></i>
            </div>
            </div>
        </div>
       <div id="{{ section.id }}-view" class="collapse in">
           {% for block in section.blocks %}
          <div id="{{ section.id }}" class="collapse in  w3_bg" style="background-color:{{ block.settings.bgcolor }}" >   
           {%  if block.type == 'image_right' %}
              <section class="full-part w3_bg container {{ block.settings.addclass2 }}" id="section-block-{{ block.id }}" style="padding-top:{{ block.settings.mtop }}PX; padding-bottom:{{ block.settings.mbottom }}PX">
                 <div class="w3_bg">
                    <div class="row w3_bg medicalbased mb-1-img new-view--{{ forloop.index }} {{ forloop.index }} lefttestui">
                      <div class="col-md-2mobile-p-0  w3_bg block-id-{{ block.id }} firstcol" id="image-column-5">
                      <a>   
                        <img width="" height="" 
                            src="{{ block.settings.icpn01 | img_url: 'master' }}" 
                            alt="{{ block.settings.icpn01.alt }}"
                            class="rapid-img"
                            data-done="Loaded"> 
                       </a>
                        <h2>{{ block.settings.icontext }}</h2>
                      </div>
                     <div class="col-md-6 mobile-p-0  w3_bg block-id-{{ block.id }} secondcol" id="image-column-5">

                       <div class="imgcols">
                         <a class="onetiw" {% if block.settings.image_url != blank %}href="{{ block.settings.image_url }}" {% endif %}>
                          <img width="" height="" 
                            src="{{ block.settings.feature_image_r | img_url: 'master' }}" 
                            alt="{{ block.settings.feature_image_r.alt }}"
                            class="rapid-img"
                            data-done="Loaded">
                         </a>
                       </div>
                       <div class="imgscolty">
                         <a href="{{ block.settings.texturl }}" alt="texturl" >  
                       
                       {% if block.settings.feature_image_re %}
                      <img 
                          width="" 
                          height="" 
                          src="{{ block.settings.feature_image_re | img_url: 'master' }}" 
                          alt="{{ block.settings.feature_image_re.alt }}" 
                          class="rapid-img" 
                          data-done="Loaded">
                  {% else %}
                      <img 
                          width="" 
                          height="" 
                          src="{{ block.settings.feature_image_r | img_url: 'master' }}" 
                          alt="{{ block.settings.feature_image_r.alt }}" 
                          class="rapid-img" 
                          data-done="Loaded">
                  {% endif %}
                         </a>
                  </div>     
                      </div>
                       <div class="col-md-6 mobile-p-0 medicalbased-a w3_bg block-id-{{ block.id }} thirdcol" id="text-column-5">

                          {%  if block.settings.heading_r != blank %}
                         <h5 class="nature_padding_row font-style skin-reju"> 
                           {{ block.settings.heading_r }} 
                         </h5>
                         {% endif %}
                         
                         {{ block.settings.text_title_r }}

                          {%  if block.settings.heading2_r != blank %}
                         <h5 class="nature_padding_row font-style skin-reju">
                            {{ block.settings.heading2_r }}
                          </h5>
                         {% endif %}
                         
                           {{ block.settings.text_title2_r }}

                         {%  if block.settings.heading3_r != blank %}
                         <h5 class="nature_padding_row font-style skin-reju">
                            {{ block.settings.heading3_r }}
                          </h5>
                         {% endif %}
                           {{ block.settings.text_title3_r }}

                         {%  if block.settings.heading4_r != blank %}
                         <h5 class="nature_padding_row font-style skin-reju">
                            {{ block.settings.heading4_r }}
                          </h5>
                         {% endif %}
                           {{ block.settings.text_title4_r }}
                      </div>
                    
                    

                    </div>
                  </div>
              </section>
            {% endif %}


            

             
           </div>

      {% endfor %}     
     
    </div>
    </div>
  
</section>
<style>
  .fgfgttttgtgt .col-md-2mobile-p-0 {
    display: flex;
    align-items: center;
    width: 6% !important;
}
  
  .imgcols {
   display:block;
 }
  .imgscolty{
    display:none;
  }
  
  
  @media only screen and (max-width: 767px) {
    .fgfgttttgtgt .col-md-2mobile-p-0 {
    display: flex;
    align-items: center;
    width: 10%!important;
}
 .secondcomparision.secone .medicalbased {
    display: flex;
    flex-direction: row!important;
    flex-wrap: wrap;
}
   .w3_bg.medical3-v2aop.secondcomparision.secone {
    margin-bottom: 0.6%;
  }
    
    .secone .col-md-2mobile-p-0 {
    display: flex;
    align-items: center;
    width: 16%;
}
    .col-md-6.secondcol {
    width: 84%!important;
}
    .secone .col-md-2mobile-p-0 img.rapid-img {
    width: 25px!important;
}
    .secone .col-md-2mobile-p-0 h2 {
    font-size: 18px!important;
    padding-left: 6px!important;
    margin-top: 14px!important;
    font-weight: 800!important;
}
    .imgcols {
   display:none!important;
 }
  .imgscolty{
    display:block;
  }
    .secone p {
    /* font-size: 18px!important; */
    /* line-height: 30px!important; */
    font-size: 14px !important;
    line-height: 22px !important;
}
    .removebrsuna h5 br {
    display: none;
}
    .thirdcol h5 {
    font-weight: 700;
    font-size: 18px!important;
    color: #0097db!important;
    line-height: 22px;
    margin-bottom: 0;
}
    .thirdcol h5.nature_padding_row.font-style.skin-reju {
    font-size: 18px!important;
}
    .forpaddings {
    padding-top: 0!important;
    padding-bottom: 10px!important;
}
    .lefttestui {
    margin-top: 2px!important;
}
    .topimagetext .thirdcol h5.nature_padding_row.font-style.skin-reju {
    text-align: left;
    margin-top: 1px;
}
  }
  </style>




{% schema %}
  {
    "name": "custom product blocks",
    "settings": [
      {
          "type": "text",
          "id": "addclass",
          "label": "addclass"
        },
       {
          "type": "textarea",
          "id": "heading",
          "label": "Hedaing"
        }, {
          "type": "text",
          "id": "mtop",
          "label": "Margin top (PX)"
        },
      {
          "type": "text",
          "id": "mbottom",
          "label": "Margin Bottom (PX)"
        }
 
    ],
    "blocks":[
       {
          "type":"image_right",
          "name":"Image Right Text Left",
          "settings":[
             {
                "type":"text",
                "id":"addclass2",
                "label":"Add class"
             },
            {
                "type":"color",
                "id":"bgcolor",
                "label":"Background color"
             },
              {
                "type":"text",
                "id":"block-id",
                "label":"ID",
                "info": "Do Not Touch OR Edit ID"
             },
            {
                "type":"image_picker",
                "id":"icpn01",
                "label":"Icon"
             },
             {
                "type":"text",
                "id":"icontext",
                "label":"Icon Text"
             },
             {
                "type":"url",
                "id":"texturl",
                "label":"Image Link"
             },
            
            {
                "type":"image_picker",
                "id":"feature_image_r",
                "label":" image"
             },
             {
                "type":"image_picker",
                "id":"feature_image_re",
                "label":"Mobile image"
             },
             {
                "type":"textarea",
                 "id":"heading_r",
                "label":"Heading",
               "default":"Our World Famous Hip Twist™"
             },
            {
                "type":"textarea",
                 "id":"text_title_r",
                "label":"description"
             },
           
            {
          "type": "text",
          "id": "mtop",
          "label": "padding top (PX)"
        },
      {
          "type": "text",
          "id": "mbottom",
          "label": "padding Bottom (PX)"
        },
             {
          "type": "url",
          "id": "image_url",
          "label": "image url"
        }
          ]
       },
    
    {
      "type":"text_image",
      "name":"text image",
      "settings":[
         {
      "type": "text",
      "id": "ID_New",
      "label": "ID",
      "info": "DO Not Touch or Edit ID"
    },
        {
                "type":"image_picker",
                "id":"icon0123",
                "label":"Icon"
             },
        {
      "type":"text",
      "id":"icontext0123",
      "label":"Icon Text"
   },
    
  {
      "type":"image_picker",
      "id":"text0125",
      "label":"image"
   },
  {
      "type":"textarea",
      "id":"heading_new12",
      "label":"Heading"
   },
  {
      "type":"textarea",
       "id":"desc0123",
      "label":"description"
   } 
    ]
       }

    ],

    
    "presets": [{
      "name": "custom product blocks"
    }]
  }
{% endschema %}