<section id="{{ section.id }}" class="sdfsdfcsdf {{ section.settings.addclass }}">
  <div class="page-width dskksfndsjn">
    <div>
      <h2>{{ section.settings['heading-gbdfb'] }}</h2>
    </div>
    <div>
      <p>{{ section.settings['text-gbdfb'] }}</p>
    </div>
    <div>
      <p>{{ section.settings['text-gbdfbfdgs'] }}</p>
    </div>
    <div class="sdf00">
      <p>{{ section.settings['text-gbdfbsdfgsd'] }}</p>
    </div>
    {% for block in section.blocks %}
      <div class="custom-rdgfws {{ block.settings.addclass1 }}">
      <div class="Drreconnendation66">
        <div class="row-custom66">
          <div class="team ">
            <img src="{{ block.settings.image | img_url:'master' }}">
          </div>
        </div>
        <div class="row-custom26">
          <div class="row-custom3">
            <h5>{{ block.settings.heading1 }}</h5>
            <p>{{ block.settings.p1 }}</p>
          </div>
          <div class="row-custom46">
            <h5>{{ block.settings.heading2 }}</h5>
            <p>{{ block.settings.p2 }}</p>
          </div>
          <div class="row-custom56">
            <h5>{{ block.settings.heading3 }}</h5>
            <p class="fnbgn">{{ block.settings.p3 }}</p>
            <p>{{ block.settings.p4 }}</p>
          </div>
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
</section>
<style>
  /* Parent Container */
  .page-width {
      width: 100%;
      max-width: 1200px;
        
      padding: 5px;
  }

  .custom-rdgfws {
    margin-top: -24px;
}
  /* Block Container */
.Drreconnendation66 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1px!important;
    background-color: #F7F7F7;
   
    border: 2px solid #eee;
      border-radius: 10px;
}

  /* Image Wrapper */
  .row-custom66 .team img {
      max-width: 85%;
      display: block;
      height: auto;
        margin: 0 auto;
  }

  /* Text Content Containers */
  .row-custom26 {
      flex: 1;
      display: flex;
      flex-direction: column;
     padding-left:25px !important;
    padding-right:40px !important;
    padding-top:10px !important;
    padding-botom:10px !important;

  }

  .row-custom26 h5 {
      font-size: 16px !important;
      font-weight: 700 !important;
      margin-bottom: 8px;
      color: #333 !important;
      font-family: 'Open Sans' !important;
        border-bottom: solid 1px #efefef;
  }

  .row-custom26 p {
      font-size: 14px;
      line-height: 1.6;
      color: #555;
        line-height: 25px !important;
  }

  /* Custom Rows for Text Blocks */
  .row-custom3, .row-custom46, .row-custom56 {
      margin-bottom: 5px;
  }

  .row-custom56 p {
      margin-bottom: 6px;
  }

       .row-custom66 {
      width: 25%;
  }

    .sdf00 p {
      padding-bottom: 5px;
  }

.sdfsdfcsdf h5 {
    font-size: 16px !important;
    font-weight: 700 !important;
    margin-bottom: 8px;
    color: #000!important;
    font-family: 'Open Sans' !important;
    padding-bottom: 5px!important;
}

.sdfsdfcsdf h5 {
    color: #000!important;
}

.sdfsdfcsdf h5 {
 color: #000!important;
}
.sdfsdfcsdf h5 {
   color: #000!important;
}
.sdfsdfcsdf .Drreconnendation p {
    margin-top: 8px;
}

.newonepointsdfg h2 {
    color: #000!important;
    font-weight: bold!important;
    /* font-family: 'Oswald', sans-serif; */
    text-transform: uppercase!important;
    font-size: 24px!important;
    margin-top: 24px!important;
}
.pointdhdtbg {
    margin-top: -5px;
} 

  .sdfsdfcsdf a {
    color:#337ab7!important;
    font-size:12px;
  }

.sdfsdfcsdf p.fnbgn {
    margin-bottom: 14px;
}
p.mainhhhhh {
    margin-top: -2px;
}
.sdfsdfcsdf .row-custom26 {
    padding-left: 19px!important;
   padding-right: 0px!important;
}
  .sdfsdfcsdf .Drreconnendation66 {
    /* padding-inline: 37px; */
    padding-right: 50px!important;
    padding-left: 20px!important;
}
  .custom-rdgfws.sdfdsfdssss {
    margin-bottom: 15px;
}



  
    @media only screen and (max-width: 767px) {
    body {

  .Drreconnendation66 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 0px;
      background-color: #f9f9f9;
      padding: 11px;
      border-radius: 5px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      flex-direction: column;
  }

       .row-custom66 {
      width: 70%;
  }

  .Drreconnendation66 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 0px;
      background-color: #fff;
      padding: 11px;
      border-radius: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      flex-direction: column;
  }


  .row-custom3 {
      margin-top: 10px;
  }



  .row-custom26 h5{
    font-size: 16px !important;
      padding: 0px;
      margin: 5px 0px;
    line-height: initial;
    }


      section#template--24005261426976__custom_image_banner_NFdCQi {
      display: none;
  }


      .page-width {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 15px;
  }

    }

      .dskksfndsjn h2 {
    margin-top: 5px!important;
    margin-bottom: 13px!important;
}


      .sdfsdfcsdf .Drreconnendation66 {
    /* padding-inline: 37px; */
    padding-right:0px!important;
    padding-left: 0px!important;
}
      .sdfsdfcsdf .Drreconnendation66 {
    box-shadow: 0px 4px 30px #0000001a !important;
}
      .page-width.dskksfndsjn {
    padding-bottom: 0;
    margin-bottom: -7px;
}
      .sdfsdfcsdf .Drreconnendation66 {
    border-radius: 16px!important;
}
      .custom-rdgfws.sdfdsfdssss {
    margin-bottom: 22px!important;
}
     .sdfsdfcsdf h5 {
    line-height: 26px!important;
}
    .sdfsdfcsdf .row-custom26 {
    padding-left: 19px!important;
    padding-right: 19px!important;
    padding-top: 0!important;
}
    }
</style>

{% schema %}
{
  "name": "Custom Block",
  "settings": [
    {
          "type": "text",
          "id": "addclass",
          "label": "Add class"
        },

      {    "type": "text",
      "id": "heading-gbdfb",
      "label": "Heading"
    },

     {    "type": "text",
      "id": "text-gbdfb",
      "label": "Text"
    },

      {    "type": "text",
      "id": "text-gbdfbfdgs",
      "label": "Text"
    },

      {    "type": "text",
      "id": "text-gbdfbsdfgsd",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "group",
      "name": "Add Block",
      "settings": [
        {
          "type": "text",
          "id": "addclass1",
          "label": "Add class"
        },

 {
          "type": "image_picker",
          "id": "image",
          "label": "Study Image"
        },

        {
          "type": "text",
          "id": "heading1",
          "label": "Heading 1"
        },
         {
          "type": "textarea",
          "id": "p1",
          "label": "Description 1"
        },
        {
          "type": "text",
          "id": "heading2",
          "label": "Heading 2"
        },
         {
          "type": "textarea",
          "id": "p2",
          "label": "Description 2"
        },
        {
          "type": "text",
          "id": "heading3",
          "label": "Heading 3"
        },
         {
          "type": "textarea",
          "id": "p3",
          "label": "Description 3"
        },
        {
          "type": "textarea",
          "id": "p4",
          "label": "Description 4"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Block",
      "category": "Custom"
    }
  ]
}
{% endschema %}
