<section id="{{ section.id }}">
<div class="bsad container {{ section.settings.addclass }}">
  <div class="bsad1">
    <h2>{{ section.settings.h01 }}</h2>
    <img src="{{ section.settings.img0123 | img_url:'master' }}">
  </div>
  <div class="bsad1">
    <h2>{{ section.settings.h02 }}</h2>
  <p>{{ section.settings.p01 }}</p>
</div>
</div>
</section>

{% schema %}
  {
    "name": "custom left right",
    "settings": [
      {
        "type": "text",
        "id":"addclass",
        "label": "addclass"
      },
      {
        "type": "text",
        "id":"h01",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id":"img0123",
        "label": "Image"
      },
       {
        "type": "text",
        "id":"h02",
        "label": "Heading 2"
      },
      {
        "type": "textarea",
        "id":"p01",
        "label": "Text"
      }
    ],
     "presets":[
      {
        "name": "custom left right"
      }
    ]
  }
{% endschema %}