<!-- section-name.liquid -->
<section id="{{ section.id }}" class="{{ section.settings.addclass }} fly">
  <div class="image-position">
      <img class="image-00 desktop-images-position" src="{{ section.settings.desktop-image | img_url:'master' }}" />
      <img class="image-05 mobile-images-position" src="{{ section.settings.mobile-image | img_url:'master' }}"   />
  <div class="inner-image-position-a">
  <!-- traditional-saunas-started-here -->
  <!-- desktop-text-started -->
  <div class="desktop-text-hide">
   
    <h1 class="head-m1">{{ section.settings.heading }} </h1>
     <p class="para-m1">{{ section.settings.paragraph_text }} <span></span></p>
    <a href="{{ section.settings.button_link }}" class="">
  <p class="shopnow-button">{{ section.settings.button_text }}</p>
</a>
    <!-- 
   <p class="para-m1">Customize Your Own
   <span> Medical Sauna™</span></p>
      <h1 class="head-m1">
        Commercial-Grade<br />
       <span class="head-m1-span"> Medical Saunas</span> Maximize  <br>
       Member Satisfaction<br />
        & Retention</h1>
      <p class="para-m2">Boost Revenue With Minimal
        <span>Maintenance & No Specialized Staff Training</span></p>
    <p class="shopnow-button"><a href="#shop" class="shopnow-button">SHOP NOW</a></p>  -->
     </div>
    <!-- desktop-text-ended -->
    <!-- traditional-saunas-closed-here -->
    </div>
    </div>
</section>

<style>
  .image-00 {
    width:100%;
    height:auto;
  }
  .fly {
      scroll-behavior: smooth; /* Smooth scrolling */
    }

.image-up {
      /* height: 100vh; */
      padding-top: 60px; /* Offset for fixed navbar */
    } 

 .desktop-images-position {
    display: block;
} 
  .mobile-images-position {
    display: none;
}
  .inner-image-position-a {
    position: absolute;
    top: 228px;
    left: 138px;
    z-index: 0;
     }
.para-m1 {
    color: #fff;
    font-size: 20px;
    text-align: start;
    padding-bottom: 18px;
}
  .para-m2 {
    color: #fff;
    font-size: 20px;
    text-align: start;
    line-height: 28px;
    padding-bottom: 28px;
}
  .para-m1 span {
      display: flex;
} 
  .para-m2 span {
      display: flex;
}  
  .head-m1 {
    font-size: 50px;
    color: #fff;
    text-align: start;
    line-height: 55px;
    font-weight: 500;
    padding-bottom: 18px;
}
  .head-m1 span {
      display: block;
   /* color:#02cb17;  */
 } 

.shopnow-button {
    width: fit-content;
    background-color: #0582CF;
    color: white;
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 3px;
}
   /* .desktop-text-hide {
    display: block !important;
} */
    .mobile-text-hide {
    display: none !important;
}
  @media only screen and (max-width: 767px) {
    .image-up {
      padding-top: 0px; /* Offset for fixed navbar */
    } 
     .desktop-images-position {
        display: none !important;
    }
    .mobile-images-position {
        display: block;
        height: auto;
        width: 100%;
    }
    /* .desktop-text-hide {
    display: none !important;
} */
    .mobile-text-hide {
    display: block !important;
}
    .inner-image-position-a {
        position: absolute;
        top: 389px;
        left: 5%;
        z-index: 0;
    }
    .faq-img {
    width: 16px;
}
  .mobile-para-m1 {
        color: #919191;
        font-size: 14px;
        text-align: start;
        line-height: 21px;
    }
  .mobile-para-m1 span {
  display:flex;
  
}
  .mobile-para-m2 span {
   display:flex;  
}
    
  .mobile-para-m2 {
        color: #919191;
        font-size: 14px;
        text-align: start;
        line-height: 21px;
        padding-bottom: 6px;
    }
  .mobile-para-m2 span {
      display: flex;
}  
  .mobile-head-m1 {
  font-size: 14px;
  color: #fff;
  text-align: start;
  line-height: 21px;
  font-weight: bold;
  margin-top: 0px !important;
  }
    
 .mobile-head-m1-span{
    color:#02cb17;
 } 
    
 .mobile-shopnow-button {
        background-color: #016fac;
        color: #fff !important;
        font-size: 14px;
        width: fit-content;
        padding: 2px 8px 2px 8px;
        border-radius: 18px;
        font-weight: bold;
    }
    .shopnow-button {
        font-size: 16px;
        width: 95%;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
    }
  
  }
  @media only screen and (max-width: 325px) {
    .inner-image-position-a {
        position: absolute;
        top: 261px;
        left: 10px;
        z-index: 0;
    }
        .shopnow-button {
          font-size: 16px;
          width: 100%;
          border-radius: 5px;
          font-weight: bold;
          text-align: center;
    }
}
</style>
{% schema %}
{
  "name": "custom-banner-010525",
  "settings": [
     {
          "type": "text",
          "id": "addclass",
          "label": "Addclass"
        },

     {
          "type": "image_picker",
          "id": "mobile-image",
          "label": "mobile-image"
        },
    {
          "type": "image_picker",
          "id": "desktop-image",
          "label": "desktop-image"
        },
    
    {
      "type": "text",
      "id": "heading",
      "label": "desktop-headingtext",
      "default": "Welcome to Our Store"
    },
    {
      "type": "textarea",
      "id": "paragraph_text",
      "label": "desktop-paratext",
      "default": "This is a sample paragraph."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button-text",
      "default": "Click Me"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/collections/all"
    },
  ],
 
  "presets": [
    {
      "name": "custom-banner-010525",
      "category": "Custom"
    }
  ]
}
{% endschema %}