<section class="w3_bg1 medical3-v2a1 {{ section.settings.addclass }}">
    <div class="w3_bg1">
        <div id="medical-acc752" class="collapse in container w3_bg" style="margin-top:{{ section.settings.mtop }}PX; margin-bottom:{{ section.settings.mbottom }}PX" >
          
           {% for block in section.blocks %}
            
           {%  if block.type == 'two_images' %}
           <div class="twoimages1">
              <img src="{{ block.settings.img01 | img_url: 'master' }}">
              <img src="{{ block.settings.img02 | img_url: 'master' }}">
           </div>
            {% endif %}

{%  if block.type == 'three_images' %}
           <div class="twoimages2">
             <div class="gfdsdf"> <img src="{{ block.settings.img03 | img_url: 'master' }}"></div>
            <div class="ewrtrwe">  <img src="{{ block.settings.img04 | img_url: 'master' }}">
               <img src="{{ block.settings.img05 | img_url: 'master' }}"></div>
           </div>
            {% endif %}

             
             {%  if block.type == 'one_images' %}
           <div class="twoimages3">
             <div class="lkaksa"> <img src="{{ block.settings.img0001 | img_url: 'master' }}"></div>
            {% endif %}

  


{%  if block.type == 'three_imagesss' %}
           <div class="threeimages36">
          <img src="{{ block.settings.img6 | img_url: 'master' }}">
          <img src="{{ block.settings.img7 | img_url: 'master' }}">
               <img src="{{ block.settings.img8 | img_url: 'master' }}">
           </div>
            {% endif %}



             {%  if block.type == 'three_images55' %}
           <div class="twoimages55">
             <div class="gfdsdfafdfsad"> <img src="{{ block.settings.img56 | img_url: 'master' }}"></div>
            <div class="ewrtrwe">  <img src="{{ block.settings.img57 | img_url: 'master' }}">
               <img src="{{ block.settings.img58 | img_url: 'master' }}"></div>
           </div>
            {% endif %}



  {% endfor %}


             
      </div> 
    </div>




  
</section>
<style>


  .twoimages1 {
    display: flex;
    width: 48.8%;
    gap: 33px;
    margin-top: 22px;
}

  .twoimages2 {
    display: flex;
    gap: 33px;
    margin-top: 21px;
}

  .gfdsdf {
    width: 70%;
}
  .gfdsdf img {
    height: 606px;
}
  .ewrtrwe img {
    height: 286px;
        max-width: 380px;
}

  .ewrtrwe {
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 33%;
}

  .lkaksa {
    margin-top: 20px;
}

.threeimages36 {
    display: flex;
    gap: 33px;
    margin-top: 20px;
}

  .threeimages36 img {
    width: 380px;
    height: 481px;
}


 .wsfa .twoimages1 img {
    max-width: 622px;
}


  .svvsd img {
    max-width: 687px;
}

 .svvsd .ewrtrwe img {
    height: 286px;
    max-width: 473px;
}

  .customyyyy .twoimages1 {
    width: 63%;
}


  .sadasdcasc img {
    max-width: 710px;
}


  .twoimages55 {
    margin-top: 20px;
    display: flex;
    gap: 35px;
}

.ewrtrwe img {
    width: 128%;
}

  .gfdsdfafdfsad img {
    height: 606px;
    width: 688px;
}
.kkmaowsd h2.rich-text__heading.rte.inline-richtext.h1.scroll-trigger.animate--slide-in {
    color: black;
}



 .kkmaowsd .rich-text__blocks {
    max-width: 119rem;
}

  
/* Mobile responsive styles (for smaller screens) */
@media only screen and (max-width: 768px) {
    .twoimages1, .twoimages2, .twoimages55 {
        width: 100%;
        gap: 20px; /* Reduced gap for mobile */
    }

    .gfdsdf {
        width: 100%;
    }

    .gfdsdf img {
        height: auto;
        width: 100%;
    }

    .ewrtrwe {
        width: 100%;
        gap: 20px; /* Reduced gap for mobile */
    }

    .ewrtrwe img {
        width: 100%; /* Make images responsive */
        height: auto;
    }

    .threeimages36 {
        flex-direction: column; /* Stack images on top of each other */
        gap: 20px;
        margin-top: 20px;
    }

    .threeimages36 img {
        width: 100%; /* Make images responsive */
        height: auto;
    }

    .wsfa .twoimages1 img {
        max-width: 100%;
    }

    .svvsd img {
        width: 100%;
        max-width: 100%;
    }

    .customyyyy .twoimages1 {
        width: 100%;
    }

    .sadasdcasc img {
        width: 100%;
        max-width: 100%;
    }

    .lkaksa {
        margin-top: 15px; /* Reduced margin for mobile */
    }

    .gfdsdfafdfsad img {
        width: 100%; /* Make images responsive */
        height: auto;
    }

    .twoimages1, .twoimages2, .twoimages55, .threeimages36 {
        width: 100%;
        gap: 20px; /* Reduced gap for mobile */
        flex-direction: column; /* Stack items on mobile */
    }

    /* Make individual elements and images take full width */
    .gfdsdf, .ewrtrwe, .customyyyy .twoimages1 {
        width: 100%;
    }

    /* Adjust images inside the flex containers */
    .gfdsdf img, .ewrtrwe img, .threeimages36 img, .svvsd img, .sadasdcasc img {
        width: 100%;
        height: auto; /* Ensure images scale properly */
    }

    /* Remove large max-widths for images */
    .wsfa .twoimages1 img {
        max-width: 100%;
    }

    .sadasdcasc img {
        max-width: 100%;
    }

    /* Adjust the gap and margins */
    .lkaksa {
        margin-top: 15px; /* Reduced margin for mobile */
    }

    .gfdsdfafdfsad img {
        width: 100%; /* Make images responsive */
        height: auto;
    }

  .kkmaowsd h2.rich-text__heading.rte.inline-richtext.h1.scroll-trigger.animate--slide-in {
    color: black;
    font-size: 20px;
}

}


  
</style>

{% schema %}
  {
    "name": "custom images",
    "settings": [
      {
          "type": "text",
          "id": "addclass",
          "label": "addclass"
        },
       {
          "type": "textarea",
          "id": "heading",
          "label": "Hedaing"
        }, {
          "type": "text",
          "id": "mtop",
          "label": "Margin top (PX)"
        },
      {
          "type": "text",
          "id": "mbottom",
          "label": "Margin Bottom (PX)"
        },
      
      {
"type": "checkbox",
"id": "checked",
"label": "Show Icon Box Section",
"default": false
}
    ],
    "blocks":[
       {
          "type":"two_images",
          "name":"Two images",
          "settings":[
             {
                "type":"text",
                "id":"addclass2",
                "label":"Add class"
             },
            {
                "type":"image_picker",
                "id":"img01",
                "label":"image 1"
             },
            {
                "type":"image_picker",
                "id":"img02",
                "label":"image 2"
             }
              
          ]
       },
       {
          "type":"three_images",
          "name":"Three images",
          "settings":[
             {
                "type":"text",
                "id":"addclass3",
                "label":"Add class"
             },
            {
                "type":"image_picker",
                "id":"img03",
                "label":"image 2"
             },
            {
                "type":"image_picker",
                "id":"img04",
                "label":"image 3"
             },
             {
                "type":"image_picker",
                "id":"img05",
                "label":"image 4"
             }
 
          ]
       },
         {
          "type":"one_images",
          "name":"one images",
          "settings":[
             {
                "type":"text",
                "id":"addclass3",
                "label":"Add class"
             },
            {
                "type":"image_picker",
                "id":"img0001",
                "label":"image001"
             },
          ]
       },


       {
          "type":"three_imagesss",
          "name":"Three imagesss",
          "settings":[
             {
                "type":"text",
                "id":"addclass3",
                "label":"Add class"
             },
            {
                "type":"image_picker",
                "id":"img6",
                "label":"image 6"
             },
            {
                "type":"image_picker",
                "id":"img7",
                "label":"image 7"
             },
             {
                "type":"image_picker",
                "id":"img8",
                "label":"image 8"
             }
 
          ]
       },
        {
          "type":"three_images55",
          "name":"Three images55",
          "settings":[
             {
                "type":"text",
                "id":"addclass3",
                "label":"Add class"
             },
            {
                "type":"image_picker",
                "id":"img56",
                "label":"image 2"
             },
            {
                "type":"image_picker",
                "id":"img57",
                "label":"image 3"
             },
             {
                "type":"image_picker",
                "id":"img58",
                "label":"image 4"
             }
 
          ]
       },

    ],

    
    "presets": [{
      "name": "custom images"
    }]
  }
{% endschema %}


