<style>
  .space-up{
    margin-top: 1.5%;
  }
  </style>
<section class="designer-show w3_bg {{ section.settings.addclass }}">
    <div class="acc-bg-blue w3_bg">
      <div class="container w3_bg">
        <div class="feature-h-text w3_bg" data-toggle="collapse" data-target="#{{ section.id }}" aria-expanded="true">
          <h4 class="head-a1 addnewcl">{{ section.settings.heading }} <span class="">{{ section.settings.headblue }}</span></h4>
          <i class="fa fa-angle-down head-arrow arrow-gray rotate180"></i>
        </div>
      </div>
    </div>
    <div class="container spa-p0 collapse in w3_bg" id="{{ section.id }}" aria-expanded="true" style="margin-top:{{ section.settings.mtop }}PX; margin-bottom:{{ section.settings.mbottom }}PX">
      <div class="row w3_bg">
        <div class="col-md-12 spa-p0 w3_bg space-up">
        
          {% for block in section.blocks %}  
           <img src="{{ block.settings.image | img_url:'master' }}"  alt="medical sauna's nature4 - 01" class="img-responsive spa-4space padding-top5">
           <p class="design-a1">{{ block.settings.content }}</p>
          <br>
          {% endfor %}
        {%- render 'custom-3-showcase' -%}
        </div>

        
      </div>
    </div>
  </section>

<style>
   #{{ section.id }} br{
     display:none;
   }
     .designer-show.w3_bg br{
     display:none;
   }
   .design-a1{
      margin-bottom: 2% !important;
  }
   @media (max-width:600px){
     
       designer-show.w3_bg .head-a1 span {
        display: block;
     }
     .designer-show.w3_bg .head-a1 {
         text-align: left;
         font-size: 18px!important;
         width: 81%;
         padding-left: 0%;
         padding-bottom: 2%!important;
         padding-top: 2%!important;
         margin: 0%;
         text-transform: uppercase;
      }
      #{{ section.id }} .spa-p0 br {
         display:none;
      }
      #{{ section.id }} .spa-p0 p {
         line-height: 16px;
     }
     #{{ section.id }}{
         padding-left:8px!important;
         padding-right:8px!important;
     }
     .temp_commercial-spa-487  #{{ section.id }}{
         padding-left:0px!important;
         padding-right:0px!important;
     }
     
   }
</style>
  
{% schema %}
  {
    "name": "desginer-shocase-g3",
    "settings": [
       {
        "type": "text",
        "id":"heading",
        "label":"Main Heading"
      },
      {
        "type": "text",
        "id":"headblue",
        "label":"White text"
      }, {
          "type": "text", 
          "id": "addclass", 
          "label": "Add Class" 
        }, 
        {
          "type": "text",
          "id": "mtop",
          "label": "Margin top (PX)"
        },
      {
          "type": "text",
          "id": "mbottom",
          "label": "Margin Bottom (PX)"
        }
    ],
     "blocks": [
      {
        "type":"custom",
        "name":"Image",
        "settings":[
          {
            "type": "image_picker",
            "id":"image",
            "label":"Image"
          },
          {
             "type": "text",
             "id":"content",
             "label":"Content"
          }
        ]
      }
     ],
    "presets":[
      {
        "name": "desginer-shocase-g3"
      }
    ]
  }
{% endschema %}