<section class="newbluebaar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="navigationlist">
          {% for block in section.blocks %}
          <li class="bluebar_li">
            <a href="{{ block.settings.link }}">
              <div class="media">
                <div class="media-left">
                  <img class="media-object" src="{{ block.settings.image | img_url:'master' }}" alt="{{ block.settings.alt }}">
                </div>
                <div class="media-body">
                  <h4 class="media-heading desktop_text">{{ block.settings.desktop_text }}</h4>
                  <h4 class="media-heading mobile_text">{{ block.settings.mobile_text }}</h4>
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Documentedresearch",
  "settings": [],
  "blocks": [
    {
      "type": "navigation_item",
      "name": "Navigation Item",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "alt",
          "label": "Alt Text"
        },
        {
          "type": "text",
          "id": "desktop_text",
          "label": "Desktop Text"
        },
        {
          "type": "text",
          "id": "mobile_text",
          "label": "Mobile Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Documentedresearch",
      "category": "Custom"
    }
  ]
}
{% endschema %}
