<section class="faq-text" id="{{ section.id }}">
<div class="faq-display">
  <div class="faq-div1"> 
    <h1 class="faq-h1">{{ section.settings.heading-a1}} </h1>
  </div>
  <div class="faq-div2">
          <div class="panel-group" id="accordion-199" style="margin-top: 2rem;">
            <div class="panel">
       <h4 class="faq-h2 panel-title-aa h4-panel padding-top-0 collapsed" data-toggle="collapse" data-parent="#accordion-199" href="#faq-01" style="text-align: start;margin-top:0;margin-bottom:0;">
                    {{ section.settings.heading-a2}}   
         <!-- <span class="faq-h2span heading-acc">Why is it called 485, 486, 487, 488 and 489? </span> -->
<a><span class="glyphicon "></span><i class="fa fa-angle-down pull-right arrow-size9 rotate180"></i></a></h4>

                <div id="faq-01" class="panel-collapse collapse in" style="">

                  <div class="">

                    <p class="acordian-disc">{{ section.settings.para-a1 }} 
                   </p>

                  </div>

              </div>

                    </div>
                         </div>
    
  </div>
  
  </div>
</section>
<style>
.faq-h1{
  font-weight:bold;
  font-size:38px;
  
}
.faq-h2 .faq-h2span {
  display:block;
}  
</style


<section class="full-part margin-bottom-15 custom-faq-section" id="{{ section.id }}">
        <div class="container box-radiuse">
            <div class="row">

        <p class="desgin-spa-1">FREQUENTLY ASKED<span class="black-system"> QUESTIONS?</span></p>

        <div class="panel-group" id="accordion-1" style="margin-top: 2rem;">
   <div class="panel">
               <div class="">

                  <h4 class="panel-title-aa h4-panel padding-top-0 collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#Twentyfour" style="text-align: start;margin-top:0;margin-bottom:0;">



                      <span class="heading-acc">Why is it called 485, 486, 487, 488 and 489? 

                      </span>

                      <a>

                          <span class="glyphicon "></span>

                          <i class="fa fa-angle-down pull-right arrow-size9 rotate180"></i>

                      </a>

                  </h4>

              </div>

              <div id="Twentyfour" class="panel-collapse collapse in" style="">

                  <div class="">

                    <p class="acordian-disc">

                    Because over 48 doctors work tirelessly on commercial saunas, we want to honor and remember their hard work in helping make these saunas provide as many medical benefits as possible .

                      </p>

                  </div>

              </div>

          </div>

          <div class="panel  panel-border">

              <div class="">

                  <h4 class="panel-title-aa h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwentyfive" style="text-align: start;margin-top:0;margin-bottom:0;">



                      <span class="heading-acc">Why can't I use a residential sauna for commercial use? 

                      </span>

                      <a>

                          <span class="glyphicon "></span>

                          <i class="fa fa-angle-down pull-right arrow-size9"></i>

                      </a>

                  </h4>

              </div>





              <div id="collapseTwentyfive" class="panel-collapse collapse" style="height: 0px;">

                  <div class="">

                      <p class="acordian-disc">

                   Owners usually take care of their saunas, but commercial members often do not. Therefore, we must make the sauna almost indestructible for commercial use. The commercial spa series is made so indestructible that it is made to be used 15 hours a day, 365 days a year, without any issues.

                      </p>

                  </div>

              </div>

          </div>

           <div class="panel  panel-border margin-bottom-15">

              <div class="">

                  <h4 class="panel-title-aa h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwentysix" style="text-align: start;margin-top:0;margin-bottom:0;">



                      <span class="heading-acc">Can I use the doctor's name for my business?

                      </span>

                      <a>

                          <span class="glyphicon "></span>

                          <i class="fa fa-angle-down pull-right arrow-size9"></i>

                      </a>

                  </h4>

              </div>





              <div id="collapseTwentysix" class="panel-collapse collapse">

                  <div class="">

                      <p class="acordian-disc">

                      Yes, that's one of the benefits of purchasing a commercial sauna from Medical Saunas. Not only do you obtain a high-quality Commercial Spa, but you also receive the backing of over 48 professionals, including doctors, chiropractors, nurse practitioners, massage therapists, physical therapists, nutritionists, and surgeons. There's no need to spend 30 years building doctor endorsements for your business. Simply highlight that your establishment boasts a Commercial Medical Spa backed by over 48 medical professionals. You're permitted to use any of their full names to bolster your business, given that you have one of our saunas on your premises.

                      </p>

                  </div>

              </div>

          </div>
      </div> 
    </div>   
   </div>
 </section>
    <style>
    #{{ section.id }}  .desgin-spa-1 {
    color: #0097db;
    text-align: center !important;
    font-weight: 800;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif !important;
    font-size: 38px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 40px;
  }
   #{{ section.id }} .desgin-spa-1 .black-system{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
   }
   #{{ section.id }}   .panel-title-aa {
    padding: 20px 0px !important;
    border-bottom: 1px solid #ccc !important;
   }
   #{{ section.id }}  .heading-acc {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #545454 !important;
    padding-left: 0px !important;
   }
    #{{ section.id }} .acordian-disc {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-size: 16px !important;
}
      
      @media(max-width:767px){
      #{{ section.id }}  .desgin-spa-1 {
         font-size: 20px !important;
         padding-top: 10px;
         margin-bottom: 0px;
       }
         #{{ section.id }} .acordian-disc {
     font-size: 14px !important;
   }
     #{{ section.id }} .panel-title-aa {
      padding: 5px 0px !important;
    } 
     #{{ section.id }} .heading-acc{
       padding: 0px !important;
      font-size: 15px !important;
    } 
    .template-product-custom2 #{{ section.id }} .desgin-spa-1{
       padding:0 !important;
       margin-top:0 !important;
     }
   }
    </style>

{% schema %}
  {
    "name": "faq-010525",
    "settings": [
       {
      "type": "text",
      "id": "heading-a1",
      "label": "faq-heading",
      "default": "Welcome to Our Store"
    },
          {
      "type": "text",
      "id": "heading-a2",
      "label": "faq-heading",
      "default": "Welcome to Our Store"
    },
        {
      "type": "textarea",
      "id": "para-a1",
      "label": "faq-para",
      "default": "This is a sample paragraph."
    },
    ],
    "presets": [
      {
         "name": "faq-010525"
      }
    ]
  }
{% endschema %}