{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer desktop-footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top">
        <div
          class="mb-subscribe-container footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext p1 ">{{ section.settings.newsletter_heading }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper fake-input">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"

                      name="contact[email]"
                      class="field__input youremail"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <!-- <label class="field__label" for="NewsletterForm--{{ section.id }}"> Your Email Address </label> -->
                    <button
                      type="submit"
                      class="newsletter-form__button field__button subscribe"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      <span class="svg-wrapper">
                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                      </span>
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          {%- endif -%}

          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {{ shop | login_button: action: 'follow' }}
            </div>
          {%- endif -%}
        </div>
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- for block in section.blocks -%}
              <div
                class="logo-footer-{{ forloop.index }} footer-block grid__item{% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                {%- endif -%}

                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'text' -%}
                    <div class="footer-block__details-content rte">
                      {{ block.settings.subtext }}
                    </div>
                  {%- when 'link_list' -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="footer-block__details-content list-unstyled">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            <a
                              href="{{ link.url }}"
                              style="pointer-events: none"
                              class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{ link.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  {%- when 'brand_information' -%}
                    <div class="footer-block__brand-info">
                      {%- if settings.brand_image != blank -%}
                        {%- assign brand_image_height = settings.brand_image_width
                          | divided_by: settings.brand_image.aspect_ratio
                        -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                        >
                          {{
                            settings.brand_image
                            | image_url: width: 1100
                            | image_tag:
                              loading: 'lazy',
                              widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                              height: brand_image_height,
                              width: settings.brand_image_width
                          }}
                        </div>
                      {%- endif -%}
                      {%- if settings.brand_headline != blank -%}
                        <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                      {%- endif -%}
                      {%- if settings.brand_description != blank -%}
                        <div class="rte">{{ settings.brand_description }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                    </div>
                  {%- when 'image' -%}
                    <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                      {%- if block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                          <img
                            srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                            src="{{ block.settings.image | image_url: width: 760 }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                          >
                        </div>
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>
                    {%- if section.settings.show_social and has_social_icons -%}
                      {%- render 'social-icons', class: 'footer__list-social' -%}
                    {%- endif -%}
                    <ul class="linklist l-s">
                      <li class="msc text-center pt-10 upper-font">
                        <a href="https://www.medicalsaunas.com" class="white website-name text-center"
                          >MedicalSaunas.com</a
                        >
                      </li>
                      <li style="border-bottom:none; color: darkgray;" class="address address-footer text-center pt-10">
                        24971 Avenue Stanford, Unit B<br>
                        Santa Clarita, CA 91355
                      </li>
                    </ul>
                {%- endcase -%}
              </div>
            {%- endfor -%}
            {% render 'footer-last' %}
          </div>
        {%- endif -%}

        <div class="row footer-copywrite">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <br>
            <p style="color:darkgray" class="footer-copy-right-text">
            <span style="font-size: 13px;">
              Copyright 2025 - MedicalSaunas® <span> <a class="white-color" href="/collections/nature-flatroof-saunas">All Rights Reserved.</a></span>
            </span>
            </p>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
            <ul class="anotherlist pull-right footer_list_pad">
              <li>
                <a href="https://www.synchrony.com/mmc/GI209548900"><span class="ad-5">Financing</span></a>
              </li>
              <li>|</li>
              <li>
                <a href="/pages/privacy-policy-1"> <span class="ad-5">Privacy</span> </a>
                <a href="/pages/privacy-policy-1"> <span class="ad-5">Policy</span> </a>
              </li>
              <li>|</li>
              <li>
                <a href="/pages/terms"><span class="ad-5">Terms &amp; Conditions</span></a>
              </li>
              <li>|</li>
              <li>
                <a href="/pages/sitemap-1"><span class="ad-5">Sitemap</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div
    style="display:none;"
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__copyright caption">
        <small class="copyright__content"
          >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
        <small class="copyright__content">{{ powered_by_link }}</small>
        {%- if section.settings.show_policy -%}
          <ul class="policies list-unstyled">
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content"
                    ><a href="{{ policy.url }}">{{ policy.title | escape }}</a></small
                  >
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

<section class="mobile-footer visible-xs m-bg w3_bg">
  <div class="container m-bg w3_bg">
    <br>
    <div class="row w3_bg">
      <div class="col-md-1 w3_bg"></div>
      <div class="col-md-10 w3_bg" style="text-align: center;">
        <p class="be">
          <b class="white ">Be the first to know about new products, exciting upgrades and promotions.</b>
        </p>
      </div>
      <div class="col-md-1 w3_bg"></div>
    </div>
    <div class="row w3_bg">
      <div class="col-md-12 w3_bg" style="margin-bottom: 18px;">
        {%- if section.settings.newsletter_enable -%}
          <div class="footer-block__newsletter">
            {%- if section.settings.newsletter_heading != blank -%}
              <h2 class="footer-block__heading inline-richtext p1 ">{{ section.settings.newsletter_heading }}</h2>
            {%- endif -%}
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper fake-input">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"

                    name="contact[email]"
                    class="field__input youremail"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}"> Your Email Address </label>
                  <button
                    type="submit"
                    class="newsletter-form__button field__button subscribe"
                    name="commit"
                    id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}"
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-arrow.svg' | inline_asset_content -}}
                    </span>
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </small>
                {%- endif -%}
                {%- if form.errors == null and form.email != blank and form.tags == 'newsletter' -%}
                  <p class="newsletter-form__message form__message">
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                    Email already exist.
                  </p>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3
                  class="newsletter-form__message newsletter-form__message--success form__message"
                  id="ContactFooter-success"
                  tabindex="-1"
                  autofocus
                >
                  <span class="svg-wrapper">
                    {{- 'icon-success.svg' | inline_asset_content -}}
                  </span>
                  {{- 'newsletter.success' | t }}
                </h3>
              {%- endif -%}
            {%- endform -%}
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="row w3_bg">
      <div class="col-md-1 w3_bg"></div>
      <div class="col-md-10 w3_bg" style="text-align: center;">
        <a href="https://www.medicalsaunas.com/">
          <img
            width="399"
            height="82"
            src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/new-logo2.png?v=1733749565"
            data-src="https://www.medicalsaunas.com/images/new-logo2.png"
            class="img-fluid"
            alt=""
            html=""
            data-done="Loaded"
          >
        </a>
      </div>
      <div class="col-md-1 w3_bg"></div>
    </div>
    <div class="row w3_bg">
      <div class="w3_bg">
        <div class="panel-group w3_bg" id="accordion-13" style="margin-top: 2rem;">
          <div class="panel panel-default panel-border w3_bg">
            <div class="panel-heading panel-bg line-bottom w3_bg">
              <h4
                class="panel-title h4-panel"
                data-toggle="collapse"
                data-parent="#accordion-13"
                href="#FiftyOne"
                style="text-align: start;"
              >
                <span class="white"> Shop </span>
                <a>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/down-arrow-svgrepo-com.svg?v=1734528792"
                    alt=""
                  >
                </a>
              </h4>
            </div>
            <div id="FiftyOne" class="panel-collapse collapse m-bg w3_bg">
              <div class="panel-body left-text p-6 ul-flex w3_bg">
                <ul class="linklist ul-2col">
                  <li>
                    <a href="/products/medical-3™" class="white">Medical 3 <sup>™</sup> </a>
                  </li>
                  <li>
                    <a href="/products/medical-4™" class="white">Medical 4 <sup>™</sup> </a>
                  </li>
                  <li>
                    <a href="/products/medical-5™" class="white">Medical 5 <sup>™</sup> </a>
                  </li>
                  <li>
                    <a href="/products/medical-6™" class="white">Medical 6 <sup>™</sup> </a>
                  </li>
                  <li>
                    <a href="/products/medical-7plus™" class="white">Medical 7 Plus <sup>™</sup> </a>
                  </li>
                </ul>
                <ul class="linklist ul-2col" style="padding-left: 28px;">
                  <li>
                    <a href="/products/customsauna" class="white">Custom Saunas <sup>™</sup> </a>
                  </li>
                  <li>
                    <a href="/collections/traditional-saunas" class="white">Traditional Saunas <sup>™</sup> </a>
                  </li>
                  <li>
                    <a href="/collections/naturesaunas" class="white">Outdoor Saunas <sup></sup> </a>
                  </li>
                  <li>
                    <a href="/collections/commercialspas" class="white">Commercial Saunas <sup></sup> </a>
                  </li>
                  <li>
                    <a href="/collections/frozen-cold-plunges" class="white">Cold Plunge <sup>™</sup> </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-border w3_bg">
            <div class="panel-heading panel-bg line-bottom w3_bg">
              <h4
                class="panel-title h4-panel"
                data-toggle="collapse"
                data-parent="#accordion-13"
                href="#FiftyTwo"
                style="text-align: start;"
              >
                <span class="white">Discounts </span>
                <a>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/down-arrow-svgrepo-com.svg?v=1734528792"
                    alt=""
                  >
                </a>
              </h4>
            </div>
            <div id="FiftyTwo" class="panel-collapse collapse m-bg w3_bg">
              <div class="panel-body left-text p-6 w3_bg">
                <ul class="linklist">
                  <li>
                    <a href="/pages/doctors" class="white">Doctors </a>
                  </li>
                  <li>
                    <a href="/pages/celebrity" class="white">Celebrities </a>
                  </li>
                  <li>
                    <a href="/pages/military" class="white">Military &amp; Government</a>
                  </li>
                  <li>
                    <a href="/pages/seniordiscounts" class="white">Senior</a>
                  </li>
                  <li>
                    <a href="/pages/businesses" class="white">Businesses</a>
                  </li>
                  <!-- figma-new -->
                    <li>
                    <a href="https://www.synchrony.com/mmc/GI209548900" class="white">Financing</a>
                  </li>
                  <li>
                    <a href="/blogs/official-blog" class="white">Blog</a>
                  </li>
                  <li>
                    <a href="/pages/contactus" class="white">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-border w3_bg">
            <div class="panel-heading panel-bg line-bottom w3_bg">
              <h4
                class="panel-title h4-panel"
                data-toggle="collapse"
                data-parent="#accordion-13"
                href="#FiftyThree"
                style="text-align: start;"
              >
                <span class="white">Quicklinks </span>
                <a>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/down-arrow-svgrepo-com.svg?v=1734528792"
                    alt=""
                  >
                </a>
              </h4>
            </div>
            <div id="FiftyThree" class="panel-collapse collapse m-bg w3_bg">
              <div class="panel-body left-text p-6 w3_bg">
                <ul>
                  <li>
                    <a href="https://www.synchrony.com/mmc/GI209548900" class="white">Financing</a>
                  </li>
                  <li>
                    <a href="/blogs/official-blog" class="white">Blog</a>
                  </li>
                  <li>
                    <a href="/pages/contactus" class="white">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-border w3_bg">
            <div class="panel-heading panel-bg line-bottom w3_bg">
              <h4
                class="panel-title h4-panel"
                data-toggle="collapse"
                data-parent="#accordion-13"
                href="#FiftyFour"
                style="text-align: start;"
              >
                <span class="white"> Contacts </span>
                <a>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/down-arrow-svgrepo-com.svg?v=1734528792"
                    alt=""
                  >
                </a>
              </h4>
            </div>
            <div id="FiftyFour" class="panel-collapse collapse m-bg w3_bg">
              <div class="panel-body left-text p-6 w3_bg">
                <ul class="linklist size-t">
                  <li class="white" style="display:flex;gap:15px;padding-bottom: 10px;">
                    <img
                      data-class="LazyLoad"
                      src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/phone.png?v=1734523201"
                      alt="medicalsauna's contacts"
                      html=""
                      style="width:35px;height:fit-content"
                    >
                    <div>
                      <span class="mobile-space1"
                        >Call Us
                        <a href="tel: (818) 805-0026" class="white">  (818) 805-0026 </a>
                      </span>
                      <br>
                      <span class="mobile-space2">
                        <a href="mailto:sales@medicalbreakthrough.com" class="white">sales@medicalbreakthrough.com </a>
                      </span>
                      <br>
                      <span class="mobile-space3"> Open 5AM - 11:30PM, 18 hours a day. </span>
                      <br>
                      <span class="mobile-space4">
                        365 days a year,
                        <a href="tel: (818) 805-0026" style="display:inline-block;">
                          <strong style="color:#f8c100;"> Open - Call Now.</strong>
                        </a>
                      </span>
                    </div>
                  </li>
                  <li class="white" style="display:flex;gap:15px;padding-bottom: 10px;">
                    <img
                      data-class="LazyLoad"
                      src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/mail.png?v=1734523119"
                      alt="medicalsauna's mail"
                      html=""
                      style="width:35px;height:fit-content"
                    >
                    <div>
                      <span class="mobile-space1">
                        Customer Support <a href="tel: (818) 805-0026" class="white">(818) 805-0026</a>
                      </span>
                      <br>
                      <span class="mobile-space2">
                        <a href="mailto:Support@MedicalSaunas.com" class="white"> Support@MedicalSaunas.com</a>
                      </span>
                      <br>
                      <span class="mobile-space3">
                        8AM - 5PM PST, Monday to
                        <a style="display:inline-block;" href="../medicalsaunas-ver2.php" class="white"> Friday</a>
                      </span>
                    </div>
                  </li>
                  <li class="white" style="display:flex;gap:15px;padding-bottom: 10px;align-items: center;">
                    <img
                      data-class="LazyLoad"
                      src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/web.png?v=1737355483"
                      alt="medicalsauna's website"
                      html=""
                      style="width:35px;height:fit-content"
                    >
                    <div>
                      <span class="mobile-space1">
                        <a href="https://www.medicalsaunas.com" class="white">MedicalSaunas.com</a>
                      </span>
                    </div>
                  </li>
                  <li class="white" style="display:flex;gap:15px;padding-bottom: 5px;">
                    <img
                      data-class="LazyLoad"
                      src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/map.png?v=1737355612"
                      alt="medicalsauna's location"
                      html=""
                      style="width:35px;height:fit-content"
                    >
                    <div>
                      <span class="mobile-space1">24971 Avenue Stanford,</span>
                      <br>
                      <span class="mobile-space2">Santa Clarita, CA 91355</span>
                    </div>
                  </li>
                  <li class="" style="padding-left:38px;">
                    <a href="https://www.instagram.com/medicalsaunas/" target="_blank">
                      <img
                        data-class="LazyLoad"
                        src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/instagram.jpg?v=1734522831"
                        class="mblogo-h"
                        alt="medicalsauna's social media - 01"
                        style="width:40px"
                        html=""
                      >
                    </a>
                    <a href="https://www.youtube.com/channel/UCEkDhCYPjHjigB3ZbJtbmCA" target="_blank">
                      <img
                        data-class="LazyLoad"
                        src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/youtube.jpg?v=1734522831"
                        class="mblogo-h"
                        alt="medicalsauna's social media - 02"
                        style="width:40px"
                        html=""
                      >
                    </a>
                    <a href="https://www.facebook.com/medicalsaunas/" target="_blank">
                      <img
                        data-class="LazyLoad"
                        src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/facebook.jpg?v=1734522831"
                        class="mblogo-h"
                        alt="medicalsauna's social media - 02"
                        style="width:40px"
                        html=""
                      >
                    </a>
                    <a href="https://www.tiktok.com/@medicalsaunas/" target="_blank">
                      <img
                        data-class="LazyLoad"
                        src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/tiktok-logo.jpg?v=1734522832"
                        class="mblogo-h"
                        alt="medicalsauna's social media - 01"
                        style="width:40px;padding:10px;"
                        html=""
                      >
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-border w3_bg">
            <div class="panel-heading panel-bg line-bottom w3_bg">
              <h4
                class="panel-title h4-panel"
                data-toggle="collapse"
                data-parent="#accordion-13"
                href="#FiftyFive"
                style="text-align: start;"
              >
                <span class="white">Legal </span>
                <a>
                  <img
                    src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/down-arrow-svgrepo-com.svg?v=1734528792"
                    alt=""
                  >
                </a>
              </h4>
            </div>
            <div id="FiftyFive" class="panel-collapse collapse m-bg w3_bg">
              <div class="panel-body left-text p-6 w3_bg">
                <ul class="anotherlist pull-right footer_list_pad">
                  <li>
                    <a href="/pages/privacy-policy-1" style="font-size:16px;">Privacy</a>
                    <a href="/pages/privacy-policy-1" style="font-size:16px;"> Policy</a>
                  </li>
                  <li>
                    <a href="/pages/terms">
                      <span style="font-size:16px;">Terms &amp; Conditions</span>
                    </a>
                  </li>
                  <li>
                    <a href="/pages/sitemap-1">
                      <span style="font-size:16px;">Sitemap</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="dr w3_bg" style="background-color:#1F5D8C;">
                <div class="w3_bg">
                  <div class="row w3_bg">
                    <div class="col-md-12 col-sm-12 col-xs-12 w3_bg">
                      <p style="font-family: 'Open Sans', sans-serif; font-size:10px; color:#FFF; line-height:14px;padding-top:10px;">
                        <b
                          >* The pictures and diagrams displayed on the website represent our saunas. However, the
                          actual model may differ. Please note that the design and construction may be subject to
                          changes to enhance the quality of the sauna. If you apply for financing, it is based on
                          approved credit, taxes and fees may apply.</b
                        >
                      </p>
                      <p style="font-family: 'Open Sans', sans-serif; font-size:10px; color:#FFF; line-height:14px;">
                        <b
                          >† All photos, digital art, names, logos, and brands are property of their respective owners.
                          All photos, digital art, company, product and service names used in this website are for
                          informational purposes only. These images are digital enhanced artwork. Actual product may
                          look different. Use of these names, artwork, logos, photos and brands does not imply any kind
                          of endorsement.</b
                        >
                      </p>
                      <p style="font-family: 'Open Sans', sans-serif; font-size:10px; color:#FFF;line-height:14px;">
                        <b>^ See warranty card for full details</b>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row w3_bg">
      <div class="col-md-12 w3_bg">
        <p style="text-align: center;" >
          <a href="/collections/medicalsaunas-fulls1" class="copy-col">
            <span style="font-size:12px;">
              Copyright 2025 - MedicalSaunas® All Rights <span class="copy-col">Reserved.</span>
            </span>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .footer input#NewsletterForm--{{ section.id }}::placeholder {
    font-size: 16px!important;
    opacity: 1!important;
   }

  .footer-block__heading a:hover {
     color:#fff !important;
  }
  .white-color {
    color: darkgray;
  }
  .white-color:hover  {
    color: darkgray !important;
  }
  
</style>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
