 {{ 'frozencoldplunges-main.css' | asset_url | stylesheet_tag }}
<div class="container plunge-image-section" style="background-color:{{ section.settings.bg-color}}">
        <div class="row frozen_cold_plunge-main-1">
            <div class="col-md-12 ">
                <div class="text_content ">
                    <b class="heading-div-p text-pd">
                        <div class="plunge-center-image">
                           <img src="{{ section.settings.image | img_url:'master' }}" alt="medical breakthrough frozen" class="breakthrough-frozen-main">
                        </div>
                        <div class="frozen_cold_plunge-main-a">
                            <h2 class="plunge-heading1">{{ section.settings.heading }}</h2>
                            <p class="plunge-heading-desc">{{ section.settings.description }}</p>
                        </div>
                    </b>
                </div>
            </div>
        </div>
    </div>
    <style>
      .plunge-image-section{
        margin-top:20px;
      }
      @media(max-width:767px){
        .plunge-image-section{
        margin-top:00px;
      }
      }
    </style>
{% schema %}
  {
    "name": "frozen section",
    "settings": [
      {
          "id": "image",
          "type": "image_picker",
          "label": "Select Image",
        },
         {
          "type": "textarea",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Sub Heading",
        },
         {
          "type": "color",
          "id": "bg-color",
          "label": "Add Background Color",
        },
    ],
    

    
    "presets":[
      {
       "name": "frozen section"
    }
    ]
  }
{% endschema %}