<section class="gap-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <p style="text-align: center; font-size: 32px;" class="white"><b>Pick Your <span class="blue-c">Frozen<sup style="font-size: 16px;">™</sup>
                            </span> Cold Plunge</b></p>
                    <div class="row">

                      {% for block in section.blocks %}
                        <div class="col-md-4">
                            <p>  
                              <a href="{{ block.settings.uniform }}">
                            <img src="{{ block.settings.image | img_url:'master' }}" class="img-fluid" alt="Frozen {{ forloop.index }}  Cold Plunge">
                            </a> 
                            </p>
                            <div class="cold-box{{ forloop.index }} border-r">
                                {{ block.settings.content }}

                            </div>
                            <!-- <p class="mt-20-buy">
                                <a href="{{ block.settings.uniform }}">
                                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buy-frozen_2.png?v=1735647052" class="img-fluid" alt="buynow"> </a>
                            </p> -->
                           {% assign variable = 1 %}
                              
                                
                                    {% assign productzxx = block.settings.cus-product %}
                                    <td class="prod-brk-td td-{{ variable }}cell" data-label="{{ productzxx.title | escape}} ">
                                      {% render 'frozen-buy-now', 
                                        productzxx: productzxx,
                                        variable23: variable23,
                                        variable23sd: variable23sd
                                      %}
                                    </td>
                              {% assign variable = variable | plus: 1 %} 
                             
                         
                        </div>
                        
                      {% endfor %}

                    </div>
                </div> 
            </div>
        </div>    
</section>
<style>
  .temp_frozen-1-cold-plunge .product-form__submit {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
</style>
{% schema %}
  {
    "name": "frozen1 products",
    "settings": [],
    "blocks": [
      {
        "type":"products",
        "name":"products",
        "settings":[
          {
            "type":"image_picker",
            "id":"image",
            "label":"Product Image"
          },
          {
          "type": "product",
          "id": "cus-product",
          "label": "Add Products"
        },
          {
            "type":"url",
            "id":"uniform",
            "label":"Product url"
          },
          {
            "type":"textarea",
            "id":"content",
            "label":"Product content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "frozen1 products"
      }
    ]
  }
{% endschema %}