<section class="plunge-mobile-product">
<div class="plunge-mobile-product1">
  <div class="card" style="margin: auto;">
                    <div class="mobile-image" style="padding-bottom: 0px;">
                    <a href="/collections/cold-plunge"> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-1-6-30_1.png?v=1736249541" style="border-radius: 30px;"></a>
                    </div>
                    <div class="card-inner">
                        <div class="mobile-header mobile-header-a">
                            <h2 style="padding: 18px 40px 55px 55px;"><span style="color:#2596be;font-size:25px; font-weight:800;">Frozen</span> Cold Plunge </h2>
                        </div>
                        <div class="side-by-side">
                            <div>
                              {% assign productone = all_products['frozen-1-cold-plunge'] %}
                              
                                <ul class="mobile-product-spec">
                                    <li class="p-type">Standard</li>
                                    <li class="p-size">Up to 6'1, 275 lbs</li>
                                    <li><br></li>
                                    <li class="p-retail">Retail:</li>
                                    <li class="p-price"><del>{{ productone.compare_at_price_max | money_without_trailing_zeros }}</del></li> 
                                    <li><br></li>
                                    <li class="p-save">You Save:</li>
                                    <li>{{ productone.compare_at_price_max | minus: productone.price | money_without_trailing_zeros }}</li>
                                    <li><br></li>
                                    <li class="p-main-price">{{ productone.price | money_without_trailing_zeros }}</li>
                                    <li><a href="https://shopify.medicalsaunas.com/products/frozen-1%E2%84%A2-cold-plunge"><button type="button" class="btn btn-primary btn-sm">&nbsp;LEARN MORE&nbsp;</button></a></li>
                                </ul>
                            </div>
                            <div>
                              {% assign producttwo = all_products['frozen-2-cold-plunge'] %}
                                <ul class="mobile-product-spec">
                                    <li class="p-type">X-Large</li>
                                    <li class="p-size">Up to 6'6, 350 lbs</li>
                                    <li><br></li>
                                    <li class="p-retail">Retail:</li>
                                    <li class="p-price"><del>{{ producttwo.compare_at_price_max | money_without_trailing_zeros }}</del></li>
                                    <li><br></li>
                                    <li class="p-save">You Save:</li>
                                    <li>{{ producttwo.compare_at_price_max | minus: producttwo.price | money_without_trailing_zeros }}</li>
                                    <li><br></li>
                                    <li class="p-main-price">{{ producttwo.price | money_without_trailing_zeros }}</li>
                                    <li><a href="https://shopify.medicalsaunas.com/products/frozen-2%E2%84%A2-cold-plunge"><button type="button" class="btn btn-primary btn-sm">&nbsp;LEARN MORE&nbsp;</button></a></li>
                                </ul>
                            </div>
                            <div> 
                              {% assign productthree = all_products['frozen-3-cold-plunge'] %}
                                <ul class="mobile-product-spec">
                                    <li class="p-type">Commercial</li>
                                    <li class="p-size">Heavy Duty, up to 6'7, 375 lbs</li>
                                    <!-- <li><br></li> -->
                                    <li class="p-retail p-retail-a">Retail:</li>
                                    <li class="p-price"><del>{{ productthree.compare_at_price_max | money_without_trailing_zeros }}</del></li>
                                    <li><br></li>
                                    <li class="p-save">You Save:</li>
                                    <li>{{ productthree.compare_at_price_max | minus: productthree.price | money_without_trailing_zeros }}</li>
                                    <li><br></li>
                                    <li class="p-main-price">{{ productthree.price | money_without_trailing_zeros }}</li>
                                    <li><a href="https://shopify.medicalsaunas.com/products/frozen-3%E2%84%A2-cold-plunge"><button type="button" class="btn btn-primary btn-sm">&nbsp;LEARN MORE&nbsp;</button></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

           <div class="card" style="margin: auto;">
                    <div class="mobile-image" style="padding-bottom: 0px;">
                    <a href="/collections/cold-plunge"> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-2-6-30_1.png?v=1736247801" style="border-radius: 30px;"></a>
                    </div>
                    <div class="card-inner">
                        <div class="mobile-header">
                            <h2 style="padding: 10px 40px 55px 55px;"><span style="color:#2596be;font-size:25px; font-weight:800;">Frozen</span> Cold Plunge <span style="display:block"> + Accessories Kit</span></h2>
                            
                        </div>
                        <div class="side-by-side">
                            <div>
                              {% assign productfour = all_products['frozen-4-cold-plunge'] %}
                                <ul class="mobile-product-spec">
                                    <li class="p-type">Standard</li>
                                    <li class="p-size">Up to 6'1, 275 lbs</li>
                                    <li><br></li>
                                    <li class="p-retail">Retail:</li>
                                    <li class="p-price"><del>{{ productfour.compare_at_price_max | money_without_trailing_zeros }}</del></li>
                                    <li><br></li>
                                    <li class="p-save">You Save:</li>
                                    <li>{{ productfour.compare_at_price_max | minus: productfour.price | money_without_trailing_zeros }}</li>
                                    <li><br></li>
                                    <li class="p-main-price">{{ productfour.price | money_without_trailing_zeros }}</li>
                                    <li><a href="https://shopify.medicalsaunas.com/products/frozen-4%E2%84%A2-cold-plunge"><button type="button" class="btn btn-primary btn-sm">&nbsp;LEARN MORE&nbsp;</button></a></li>
                                </ul>
                            </div>
                            <div>
                              {% assign productfive = all_products['frozen-5-cold-plunge'] %}
                                <ul class="mobile-product-spec">
                                    <li class="p-type">X-Large</li>
                                    <li class="p-size">Up to 6'6, 350 lbs</li>
                                    <li><br></li>
                                    <li class="p-retail">Retail:</li>
                                    <li class="p-price"><del>{{ productfive.compare_at_price_max | money_without_trailing_zeros }}</del></li>
                                    <li><br></li>
                                    <li class="p-save">You Save:</li>
                                    <li>{{ productfive.compare_at_price_max | minus: productfive.price | money_without_trailing_zeros }}</li>
                                    <li><br></li>
                                    <li class="p-main-price">{{ productfive.price | money_without_trailing_zeros }}</li>
                                    <li><a href="https://shopify.medicalsaunas.com/products/frozen-5%E2%84%A2-cold-plunge"><button type="button" class="btn btn-primary btn-sm">&nbsp;LEARN MORE&nbsp;</button></a></li>
                                </ul>
                            </div>
                            <div>
                              {% assign productsix = all_products['frozen-6-cold-plunge'] %}
                                <ul class="mobile-product-spec">
                                    <li class="p-type">Commercial</li>
                                    <li class="p-size">Heavy Duty, up to 6'7, 375 lbs</li>
                                    <!-- <li><br></li> -->
                                    <li class="p-retail p-retail-a">Retail:</li>
                                    <li class="p-price"><del>{{ productsix.compare_at_price_max | money_without_trailing_zeros }}</del></li>
                                    <li><br></li>
                                    <li class="p-save">You Save:</li>
                                    <li>{{ productsix.compare_at_price_max | minus: productsix.price | money_without_trailing_zeros }}</li>
                                    <li><br></li>
                                    <li class="p-main-price">{{ productsix.price | money_without_trailing_zeros }}</li>
                                    <li><a href="https://shopify.medicalsaunas.com/products/frozen-6%E2%84%A2-cold-plunge"><button type="button" class="btn btn-primary btn-sm">&nbsp;LEARN MORE&nbsp;</button></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="card" style="margin: auto;">
                    <div class="mobile-image" style="padding-bottom: 0px;">
                    <a href="/collections/cold-plunge"> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-3-6-30_1.png?v=1736247800" style="border-radius: 30px;"></a>
                    </div>
                    <div class="card-inner">
                        <div class="mobile-header">
                            <h2><span style="color:#2596be;font-size:25px; font-weight:800;">Frozen</span> Cold Plunge <span style="display:block"> + Accessories Kit</span><span style="display:block"> + Essential Oil Steam</span></h2>
                            
                        </div>
                        <div class="side-by-side">
                            <div>
                              {% assign productseven = all_products['frozen-7-cold-plunge'] %}
                                <ul class="mobile-product-spec">
                                    <li class="p-type">Standard</li>
                                    <li class="p-size">Up to 6'1, 275 lbs</li>
                                    <li><br></li>
                                    <li class="p-retail">Retail:</li>
                                    <li class="p-price"><del>{{ productseven.compare_at_price_max | money_without_trailing_zeros }}</del></li>
                                    <li><br></li>
                                    <li class="p-save">You Save:</li>
                                    <li>{{ productseven.compare_at_price_max | minus: productseven.price | money_without_trailing_zeros }}</li>
                                    <li><br></li>
                                    <li class="p-main-price">{{ productseven.price | money_without_trailing_zeros }}</li>
                                    <li><a href="https://shopify.medicalsaunas.com/products/frozen-7%E2%84%A2-cold-plunge"><button type="button" class="btn btn-primary btn-sm">&nbsp;LEARN MORE&nbsp;</button></a></li>
                                </ul>
                            </div>
                           
                            <div>
                              {% assign producteight = all_products['frozen-8-cold-plunge'] %}
                                <ul class="mobile-product-spec">
                                    <li class="p-type">X-Large</li>
                                    <li class="p-size">Up to 6'6, 350 lbs</li>
                                    <li><br></li>
                                    <li class="p-retail">Retail:</li>
                                    <li class="p-price"><del>{{ producteight.compare_at_price_max | money_without_trailing_zeros }}</del></li>
                                    <li><br></li>
                                    <li class="p-save">You Save:</li>
                                    <li>{{ producteight.compare_at_price_max | minus: producteight.price | money_without_trailing_zeros }}</li>
                                    <li><br></li>
                                    <li class="p-main-price">{{ producteight.price | money_without_trailing_zeros }}</li>
                                    <li><a href="https://shopify.medicalsaunas.com/products/frozen-8%E2%84%A2-cold-plunge"><button type="button" class="btn btn-primary btn-sm">&nbsp;LEARN MORE&nbsp;</button></a></li>
                                </ul>
                            </div>
                            <div>
                              {% assign productnine = all_products['frozen-9-cold-plunge'] %}
                                <ul class="mobile-product-spec">
                                    <li class="p-type">Commercial</li>
                                    <li class="p-size">Heavy Duty, up to 6'7, 375 lbs</li>
                                    <!-- <li><br></li> -->
                                    <li class="p-retail p-retail-a">Retail:</li>
                                    <li class="p-price"><del>{{ productnine.compare_at_price_max | money_without_trailing_zeros }}</del></li>
                                    <li><br></li>
                                    <li class="p-save">You Save:</li>
                                    <li>{{ productnine.compare_at_price_max | minus: productnine.price | money_without_trailing_zeros }}</li>
                                    <li><br></li>
                                    <li class="p-main-price">{{ productnine.price | money_without_trailing_zeros }}</li>
                                    <li><a href="https://shopify.medicalsaunas.com/products/frozen-9%E2%84%A2-cold-plunge"><button type="button" class="btn btn-primary btn-sm">&nbsp;LEARN MORE&nbsp;</button></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
   

</div>

      </section>           
      

    
{% schema %}
  {
    "name": "Frozen Products Mobile",
    "settings": [
      
         {
      "type": "text",
      "id": "addclass",
      "label": "Add Class"
    },
      {
          "id": "image",
          "type": "image_picker",
          "label": "Select Image",
        },
          {
      "type": "textarea",
      "id": "heading1",
      "label": "Add Heading"
    },
      {
          "type": "color",
          "id": "bg-color",
          "label": "Add Background Color",
        },
  {
          "type": "textarea",
          "id": "heading",
          "label": "Heading"
        },
      {
          "type": "textarea",
          "id": "subheading",
          "label": "Sub Heading"
        },
      {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
      
    ],
       
    "presets": [
      {
        "name": "Frozen Products Mobile"
      }
    ]
  }
{% endschema %}