<section class="section-designer-case gap-3">
    <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="">
                    <div class="col-md-10  designer-case-row">
                        <h3 class="unc white uuu uuu-h1" id="#">{{ section.settings.heading }}</h3><br>
<p class="here-1 white mx-sm-2">{{ section.settings.para }}</p>
<div class="row">
  {% for block in section.blocks %}
    <div class="col-md-6 col-sm-12">
        <div class="yt-iframe-container">
            <iframe class="yt-iframe" width="100%" height="315" src="https://www.youtube.com/embed/{{ block.settings.os_video.id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
        </div>
    </div>
    {% endfor %}
    
</div>           
                     {% if section.settings.image1 != blank %} <img src="{{ section.settings.image1 | img_url:'master' }}" alt="Frozen1-02" class="img-fluid">{% endif %}
                      {% if section.settings.image2 != blank %}  <img src="{{ section.settings.image2 | img_url:'master' }}" alt="Frozen1-03" class="img-fluid div-img-c"> {% endif %}
                      {% if section.settings.image3 != blank %}  <img src="{{ section.settings.image3 | img_url:'master' }}" alt="Frozen1-04" class="img-fluid div-img-c"> {% endif %}
                      {% if section.settings.image4 != blank %}  <img src="{{ section.settings.image4 | img_url:'master' }}" alt="Frozen1-05" class="img-fluid div-img-c"> {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% schema %}
  {
    "name": "frozen1 youtube video",
    "settings": [
      {
     "type": "textarea",
      "id":"heading",
     "label":"Heading"
      },
      {
     "type": "textarea",
      "id":"para",
     "label":"Paragraph"
      },
      {
        "type":"image_picker",
        "id":"image1",
        "label":"image 1"
      },
      {
        "type":"image_picker",
        "id":"image2",
        "label":"image 2"
      },
      {
        "type":"image_picker",
        "id":"image3",
        "label":"image 3"
      },
      {
        "type":"image_picker",
        "id":"image4",
        "label":"image 4"
      }
    ],
    "blocks": [
      {
        "type": "youtube-video",
        "name":"Youtube Video",
        "settings": [
          {
        "type": "video_url",
        "id": "os_video",
        "label": "You Tube Link",
        "accept": [
          "youtube",
          "vimeo"
        ]
      }
        ]
      }
    ],
    "presets":[
      {
        "name": "frozen1 youtube video"
      }
    ]
  }
{% endschema %}