<section class="gap-2">
        <div class="container">
    <div class="row m-p"> 
        <div class="col-md-10 frozen-col-10">
    {% for block in section.blocks %}
{%  if block.type == 'image_right' %}

          
            <div class="row" style="margin-top: 1%;">
                <div class="col-md-6 col-mt">
                    {% if block.settings.heading != blank %}
                  <h3><b class="frozen-p-h1">
                          {{ block.settings.heading }}
                        </b>
                    </h3>
                      {% endif %}
                  
                    <div class="panel-group " id="accordion-4">
                      {% if block.settings.ac1text!= blank %}
                        <div class="panel panel-default panel-border">
                            <div class="panel-heading panel-bg">
                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion-4   " href="#{{ block.id }}-1" style="text-align: start;">
                                    <span> <img src="{{ block.settings.ac1image | img_url:'master' }}" class="img-fluid w-8" alt="Improve Circulation">
                                        <span class="white" style="margin-left: 10px;">{{ block.settings.ac1text }}
                                        </span>

                                    </span>
                                    <a data-toggle="collapse" data-parent="#accordion-4" href="#collapseOne">
                                        <span class="glyphicon "></span>
                                        <i class="fa fa-angle-down white pull-right arrow-size9"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="{{ block.id }}-1" class="panel-collapse collapse">
                                <div class="panel-body">{{ block.settings.ac1content }} </div>
                            </div>
                        </div>
                     {% endif %}
                      {% if block.settings.ac2text!= blank %}
                        <div class="panel panel-default panel-border">
                            <div class="panel-heading panel-bg">
                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion-4" href="#{{ block.id }}-2" style="text-align: start;">
                                  {% if block.settings.ac2image != blank %}
                                    <span> <img src="{{ block.settings.ac2image | img_url:'master' }}" class="img-fluid w-8" alt="Reduce inflammation"><span class="white" style="margin-left: 15px;">{{ block.settings.ac2text }}</span> </span>
                                    {% endif %}
                                    <a>
                                        <span class="glyphicon"></span>
                                        <i class="fa fa-angle-down white pull-right arrow-size9"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="{{ block.id }}-2" class="panel-collapse collapse ">
                                <div class="panel-body">{{ block.settings.ac2content }}</div>
                            </div>
                        </div>
                        {% endif %}
                      {% if block.settings.ac3text!= blank %}
                        <div class="panel panel-default panel-border">
                            <div class="panel-heading panel-bg">
                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion-4" href="#{{ block.id }}-3" style="text-align: start;">

                                        
                                    <span> {% if block.settings.ac3image != blank %}
                                      <img src="{{ block.settings.ac3image | img_url:'master' }}" class="img-fluid w-8" alt="Boost immune">
                                        {% endif %}
                                      
                                      <span class="white" style="margin-left: 10px;">{{ block.settings.ac3text }}</span> </span>



                                    <a>
                                        <span class="glyphicon "></span>
                                        <i class="fa fa-angle-down white pull-right arrow-size9"></i>
                                    </a>
                                </h4>
                            </div>


                            <div id="{{ block.id }}-3" class="panel-collapse collapse ">
                                <div class="panel-body">
                                   {{ block.settings.ac3content }}</div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6" style="padding:0px;">
                    <img src="{{ block.settings.image | img_url:'master' }}" alt="The Medical Benefits of Cold Plunge ">
                </div>
            </div>

{% endif %}
      {%  if block.type == 'image_left' %}
        

            <div class="row" style="margin-top: 2%;">
                <div class="col-md-6" style="padding:0px;" id="image-column-4">
                  {% if block.settings.imageleft != blank %}
                    <img src="{{ block.settings.imageleft | img_url:'master' }}" alt="Specific Health Benefits of Cold Plunges">
                  {% endif %}
                </div><div class="col-md-6 col-mt1" id="text-column-4">



                    <h3 class="frozen-p-h">{{ block.settings.headingleft}}
                    </h3>

                    <div class="panel-group" id="accordion-3">
                        <div class="panel panel-default panel-border">
                            <div class="panel-heading panel-bg">
                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion-3" href="#collapseTwentyone" style="text-align: start;">
                                  {% if block.settings.ac1textleft != blank %}
                                    <span class="white" style="margin-left: 10px;">{{ block.settings.ac1textleft }} </span>{% endif %}
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyone">
                                        <span class="glyphicon"></span>
                                        <i class="fa fa-angle-down white pull-right arrow-size9"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwentyone" class="panel-collapse collapse">
                                <div class="panel-body"> {{ block.settings.ac1contentleft }}
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default" style="border: 1px solid #000;">
                            <div class="panel-heading" style="background-color: #000;    padding: 0px;">
                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion-3" href="#collapseTwenty" style="text-align: start;">
                                    <span class="white" style="margin-left: 10px;">{{ block.settings.ac2textleft }}</span>
                                    <a>
                                        <span class="glyphicon "></span>
                                        <i class="fa fa-angle-down white pull-right arrow-size9"></i>
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseTwenty" class="panel-collapse collapse ">
                                <div class="panel-body">{{ block.settings.ac2contentleft }}</div>
                            </div>
                        </div>
                        <div class="panel panel-default" style="border: 1px solid #000;">
                            <div class="panel-heading" style="background-color: #000;    padding: 0px;">
                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion-3" href="#collapseTwentytwo" style="text-align: start;">


                                    <span class="white" style="margin-left: 10px;">{{ block.settings.ac3textleft }}</span>



                                    <a>
                                        <span class="glyphicon "></span>
                                        <i class="fa fa-angle-down white pull-right arrow-size9"></i>
                                    </a>
                                </h4>
                            </div>


                            <div id="collapseTwentytwo" class="panel-collapse collapse ">
                                <div class="panel-body">
                                    {{ block.settings.ac3contentleft }}</div>
                            </div>
                        </div>

                    </div>

                </div>
                
            </div>
{% endif %}
{% endfor %}
           





          
        </div> 
    </div>
</div>

<script>
    $(document).ready(function() {
      function setColumnOrder(firstID, secondID) {
        if ($(window).width() < 992) { // if screen size is less than 992px
          $('#' + firstID).insertAfter('#' + secondID); // move the first column after the second column
        } else { // if screen size is greater than or equal to 992px
          $('#' + secondID).insertAfter('#' + firstID); // move the second column after the first column
        }
      }

      // set initial column order on page load
      setColumnOrder('image-column', 'text-column');
      setColumnOrder('image-column-2', 'text-column-2');
      setColumnOrder('image-column-3', 'text-column-3');
      setColumnOrder('image-column-4', 'text-column-4');
      setColumnOrder('image-column-5', 'text-column-5');
      setColumnOrder('image-column-6', 'text-column-6');

      $(window).resize(function() {
        // set column order on window resize
        setColumnOrder('image-column', 'text-column');
        setColumnOrder('image-column-2', 'text-column-2');
        setColumnOrder('image-column-3', 'text-column-3');
        setColumnOrder('image-column-4', 'text-column-4');
        setColumnOrder('image-column-5', 'text-column-5');
        setColumnOrder('image-column-6', 'text-column-6');
      });

    });
  </script>
    </section>
{% schema %}
  {
    "name": "frozen content image",
    "settings": [],
    "blocks":[
       {
          "type":"image_right",
          "name":"Image Right Text Left",
          "settings":[
            {
              "type":"textarea",
              "id":"heading",
              "label":"Main Heading"
            },
            {
              "type":"image_picker",
              "id":"image",
              "label":"Image"
            },
            {
              "type":"image_picker",
              "id":"ac1image",
              "label":"Accordion Logo 1"
            },
            {
               "type":"text",
              "id":"ac1text",
              "label":"Accordion Heading 1"
            },
            {
               "type":"textarea",
              "id":"ac1content",
              "label":"Accordion Content 1"
            },
            {
              "type":"image_picker",
              "id":"ac2image",
              "label":"Accordion Logo 2"
            },
            {
               "type":"text",
              "id":"ac2text",
              "label":"Accordion Heading 2"
            },
            {
               "type":"textarea",
              "id":"ac2content",
              "label":"Accordion Content 2"
            },
            {
              "type":"image_picker",
              "id":"ac3image",
              "label":"Accordion Logo 3"
            },
            {
               "type":"text",
              "id":"ac3text",
              "label":"Accordion Heading 3"
            },
            {
               "type":"textarea",
              "id":"ac3content",
              "label":"Accordion Content 3"
            }
          ]
       },
      {
          "type":"image_left",
          "name":"Image Left Text Right",
         "settings":[
            {
              "type":"textarea",
              "id":"headingleft",
              "label":"Main Heading"
            },
            {
              "type":"image_picker",
              "id":"imageleft",
              "label":"Image"
            },
            {
              "type":"image_picker",
              "id":"ac1imageleft",
              "label":"Accordion Logo 1"
            },
            {
               "type":"text",
              "id":"ac1textleft",
              "label":"Accordion Heading 1"
            },
            {
               "type":"textarea",
              "id":"ac1contentleft",
              "label":"Accordion Content 1"
            },
            {
              "type":"image_picker",
              "id":"ac2imageleft",
              "label":"Accordion Logo 2"
            },
            {
               "type":"text",
              "id":"ac2textleft",
              "label":"Accordion Heading 2"
            },
            {
               "type":"textarea",
              "id":"ac2contentleft",
              "label":"Accordion Content 2"
            },
            {
              "type":"image_picker",
              "id":"ac3imageleft",
              "label":"Accordion Logo 3"
            },
            {
               "type":"text",
              "id":"ac3textleft",
              "label":"Accordion Heading 3"
            },
            {
               "type":"textarea",
              "id":"ac3contentleft",
              "label":"Accordion Content 3"
            }
          ]
       }
    ],
    "presets":[
      {
        "name": "frozen content image"
      }
    ]
  }
{% endschema %}