
<style>
 
  @media screen and (max-width: 767px) {
   .newo {
          display: block !important;
}
}
</style>
<section class="full-part w3_bg {{ section.settings.addclass }}" style="background-color:{{ section.settings.colors }}" id="{{ section.id }}_text">
    <div class="w3_bg">
        <div class="acc-bg-blue w3_bg">
            <div class="container w3_bg">
                <div class="feature-h-text collapsed w3_bg desktop-none" data-toggle="collapse"
                    data-target="#{{ section.id }}">
                    <h4 class=" head-a1 removebr">{{ section.settings.heading }} <br><span>{{ section.settings.headblue }}</span> </h4>
                    <i class="fa fa-angle-up head-arrow arrow-gray"></i>
                </div>
            </div>
        </div>
        <div id="{{ section.id }}" class="collapse in w3_bg custom-left_image">
            <div class="container w3_bg" style="margin-top:{{ section.settings.mtop }}px; margin-bottom:{{ section.settings.mbottom }}px">
                <div class="row w3_bg">
                    <div class="col-md-12 padding-0 w3_bg">
                        <div class="middle-content w3_bg">
                            <div class="row w3_bg medicalbased left-side-flow newo" id="block-id-{{ section.id }}">
                                <div class="col-md-6 text-center w3_bg" id="image-column-2">
                                    <img width="" height=""
                                        src="{{ section.settings.image | img_url:'master'}}"                                        
                                        alt="{{image.alt}}" class="mb-2-c" >
                                </div>
                                <div class="col-md-6 padding-0 w3_bg " id="text-column-2">
                                    <p class="para-text">{{ section.settings.para }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
  @media (max-width:767px){
      section#{{ section.id }}_text {
        margin-bottom: 0!important;
      }
  }
  .pacnh #block-id-{{ section.id }} {
     display:flex;
     align-items:center;
    }
    #{{ section.id }}_text .row.w3_bg {
      display: flex;
       align-items: center;
    }
    #{{ section.id }}_text {
       padding-bottom:0px;
    }
     #block-id-{{ section.id }} .based-para1 {
       line-height: 26px !important;
     }

     #block-id-{{ section.id }} {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
     }
</style>

{% schema %}
  {
    "name": "left img text",
    "settings": [
      {
       "type": "color",
        "id":"colors",
        "label":"Background color" 
      },
      {
        "type": "text",
        "id":"heading",
        "label":"Main Heading"
      },
      {
        "type": "text",
        "id":"headblue",
        "label":"White text"
      },
      {
        "type": "image_picker",
        "id":"image",
        "label":"Image"
      },
      {
        "type": "textarea",
        "id":"para",
        "label":"Add Content"
      },
      {
        "type": "text",
        "id":"addclass",
        "label":"Add class"
      }, {
          "type": "text",
          "id": "mtop",
          "label": "Margin top (PX)"
        },
      {
          "type": "text",
          "id": "mbottom",
          "label": "Margin Bottom (PX)"
        }
    ],
    "presets":[
      {
        "name": "left img text"
      }
    ]
  }
{% endschema %}