<section id="{{ section.id }}">
<div class="container">
<div class="Inner-main ktaylor1">



<div class="row">



<div class="col-md-12 col-sm-12 col-xs-12" style="padding:0px; margin:30px 0 0 0;">

<div class="row">

	<div class="col-md-2">
		<img src="{{ section.settings.logo | img_url:'master' }}" class="img-responsive pull-right">
</div>
	
<div class="col-md-10">

<h4 style="margin-top:30px; text-align:justify;"><strong class="heading" style="text-align:center; font-size:30px;">{{ section.settings.headblue }}
	<br>
	<span style="color:red; font-size:24px;"> {{ section.settings.headred }}</span> </strong></h4>
</div>





</div>




<p>&nbsp;</p>

<div class="row">
<div class="col-md-12">
<div class="col-md-7">
<p>

Katie Taylor credits the infrared technology used in Medical Saunas with extending the life of her sick husband's life by an extra 12 years.  Katie is a school teacher.  One day her husband came home sick with what he thought was the flu.  However, his condition quickly grew worse by the hour and eventually he ended up in the hospital – where they admitted him to the cardiology department. <font color="red" class="extreme-red"><strong><br>
<br>
It turned out that her husband needed an emergency heart transplant!<br>
</strong></font><br>
	</p>
<p>
 Obviously, this turned Katie’s world upside down. And from that moment her and her husband’s lives were never the same.</p>

</div>
<div class="col-md-5">
<center>



<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ section.settings.os_video.id }}"></iframe>
</div>
<br>


</center>
</div>
</div>
</div>

<br>

<div class="row">
	<div class="col-md-12">
		
		
		<p style="margin-top: -24px;margin-left:15px;">
After her husband’s heart transplant doctors didn’t expect him to live very long. They didn’t think he’d survive the first year after the operation.</p>
		<p style="margin-top: -24px;margin-left:15px;" class="d-inlies">&nbsp;</p>
		<p style="margin-top: -24px;margin-left:15px;"> But her husband  insisted on fighting for his life.  He told Katie that if he just had more energy that he knew he’d be able to hang on and continue living ... if only he had more energy.  That’s when he started doing lots of research, and then began using infrared technology.</p>
		<br>
		
    	<p style="margin-left:15px;" class="digital-web"> The infarared medical technology ended up giving him the energy boost he needed.  Through the use of the <strong>infared  therapy </strong> he lived for another twelve years.  That’s right, he survived -- when everyone told him he only had a year left -- and lived over a decade longer than doctors had predicted. And according to Katie, his quality of life was great.  She says during those last few years he was healthy and  happy.  </p>
    	<p style="margin-left:15px;" class="digital-web"> <br>
        Beating all the odds made Katie appreciate the power of infrared therapy.  She now uses infrared saunas to improve her health and to help her live longer. </p>
    	<p style="margin-left:15px;" class="digital-web"><br>
    	  Katie talks about how her Medical Sauna™ helps soothe her headaches. “One of the symptoms that happens right before I get a margarine is I get bone-chilled cold.  And so I used the sauna because it’s easy for me to get in, get warm, and raise my body temperature.  That oftentimes will help to reduce the migraine altogether.”</p>
   <p style="margin-left:15px;" class="digital-web">
  <br>
  According to Katie, “Using an infrared sauna really helps to open up my pores … to take the toxins that are in our body and get rid of them.”  Her and her family use their sauna almost daily.  “It really helps us to sleep better at night and feel more refreshed afterwards,” she says.</p>
<p style="margin-left:15px;" class="d-inlies">&nbsp;</p>
<p style="margin-left:15px;">
We are so thankful that Katie Taylor could help extend her husband's life by 12 years. Her story is one of the most touching accounts we have ever heard, and because of it we know we are on the right path. </p>
<p style="margin-left:15px; " class="d-inlies">&nbsp;</p>
<p style="margin-left:15px;">Thank you, Katie, for  using the Medical Sauna™. Your story, helps everyone in our entire company work even harder because we know we are onto something  good and making a difference. That's why over 26+ doctors, chiropractors, pain specialist and even surgeons are behind us. </p>
<p style="margin-left:15px;" class="d-inlies">&nbsp;</p>


    </div>
</div>

<br><br>

</div>

<div class="col-md-1"></div>

</div>

<br>

</div>

</div>

</section>

<style>
  .page-width{
    width:1230px;
  }
.row.ktaylor-box {
    padding-top: 20px;
}
  span.blue-color  {
    color: #4080C5;
  
}
  span.ktaylor-heading-red {
    color: red;
    font-size: 24px;
}
  
  span.grey-color {
    color: #6f6f6f;
}
    .col-md-7.left-content {
    padding-left: 0px;
}
    .red-highlight p {
    font-weight: 700;
    color:#FF0000;
}
  .row.ktaylor-box {
    padding-top: 20px;
    padding-left: 60px;
}

  .paragraph p {
    margin-bottom: 30px;
    
    color:#545454;
}
  .para1 p {
    color: #545454;
}

@media(max-width:767px){
    .row.ktaylor-left-image-box {
    margin: 0px;
}
  .ktaylor-left-image-box {
    display: flex;
    align-items: center;
    padding: 28px 1px;
}
  .row.ktaylor-box {
    padding-top: 20px;
    padding-left: 0px;
}
}
  
</style>





{% schema %}
  {
    "name": "left-image",
    "settings": [

       {
      "type": "image_picker",
      "id": "logo",
      "label": "Add logo"
    },
        {
        "type": "textarea",
        "id":"headblue",
        "label":"heading"
      },
        {
        "type": "text",
        "id":"headred",
        "label":"heading2"
      },
        {
        "type":"textarea",
        "id":"para1",
        "label":"Description"
             
      },
        {
        "type":"textarea",
        "id":"para2",
        "label":"Description"
             
      },
      {
        "type":"textarea",
        "id":"para3",
        "label":"Description"
             
      },
      {
        "type": "video_url",
        "id": "os_video",
        "label": "You Tube Link",
        "accept": [
          "youtube",
          "vimeo"
        ]
      },
      
    ],

    
     "blocks":[
       {
          "type":"image_right",
          "name":"Large_description",
          "settings":[
             {
        "type":"textarea",
        "id":"para4",
        "label":" Add Description"
             
      },
          ]
       }
 ],

    
    
    "presets": [
    {
      "name": "left-image"
    }
  ]
  }
  

{% endschema %}