<div class="visible-xs w3_bg" id="{{ section.id }}">
    <div class="container spa-mobile-a w3_bg">
        <div class="div w3_bg">
            <a href="/products/custom1">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-Homepage-15_51021a93-d7eb-4437-87b5-1e162b6e1d60.png?v=1735205529" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-Homepage-15_51021a93-d7eb-4437-87b5-1e162b6e1d60.png?v=1735205529" alt="" class="spa-product-1" html="" data-done="Loaded">
            </a>
            <div class="w3_bg">
                <a style="color:#fff;" class="custom31" dataid="49736642068768">
                    <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-1b" html="" data-done="Loaded">
                </a>
            </div>
        </div>
          
          <div class="div w3_bg">
              <a href="/products/custom2">
                  <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-Homepage-16_08fb24d2-4392-4138-820c-2bcb36171bec.png?v=1735205528" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-Homepage-16_08fb24d2-4392-4138-820c-2bcb36171bec.png?v=1735205528" alt="" class="spa-product-2" html="" data-done="Loaded">
              </a>
              <div class="w3_bg">
                  <a style="color:#fff;" class="custom31" dataid="49391562653984">
                  <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-2b" html="" data-done="Loaded">
                  </a>
              </div>
          </div>
          
          <div class="div w3_bg">
              <a href="/products/custom3">
                  <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-Homepage-17_75eff02a-5a0a-4730-b94a-4101956089cc.png?v=1735205529" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-Homepage-17_75eff02a-5a0a-4730-b94a-4101956089cc.png?v=1735205529" alt="" class="spa-product-3" html="" data-done="Loaded">
              </a>
              <div class="w3_bg">
                  <a style="color:#fff;" class="custom31" dataid="49391590179104">
                      <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-3b" html="" data-done="Loaded">
                  </a>
              </div>
          </div>
    </div>
    <div class="container spa-mobile-a w3_bg">
          <div class="col-6 w3_bg">
              <div class="div w3_bg">
                  <a href="/products/custom4-5">
                      <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-Homepage-18_db7576c6-9fda-4229-9aef-4ad4b875feb4.png?v=1735205529" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-Homepage-18_db7576c6-9fda-4229-9aef-4ad4b875feb4.png?v=1735205529" alt="" class="spa-product-4" html="" data-done="Loaded">
                  </a>
                  <div class="w3_bg">
                  <a style="color:#fff;" class="custom31" dataid="49391593226528">
                      <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-4b" html="" data-done="Loaded">
                  </a>
                  </div>
              </div>
          </div>
          <div class="col-6 w3_bg">
              <div class="div w3_bg">
                  <a href="/products/custom6-9">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/main-commercialspa9-Plus_b06847fb-9412-4625-ab73-347de63537a8.png?v=1735205528" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/main-commercialspa9-Plus_b06847fb-9412-4625-ab73-347de63537a8.png?v=1735205528" alt="" class="spa-product-5" html="" data-done="Loaded">
                  </a>
                  <div class="w3_bg">
                  <a style="color:#fff;" class="custom31" dataid="49391596142880">
                    <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-5b" html="" data-done="Loaded">
                  </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <style>


    @media(max-width:580px){
     #{{ section.id }}{
       margin-bottom:20px !important;
     }
    #{{ section.id }} .spa-product-1 {
      width: 80%;
      margin: auto;
      display: flex;
    }
    #{{ section.id }} .spa-product-1b {
    width: 95%;
    margin: auto;
    display: flex;
    }
     #{{ section.id }} .spa-product-2 {
      width: 83%;
      margin: auto;
      display: flex;
    }
     #{{ section.id }} .spa-product-2b {
      width: 60%;
      margin: auto;
      display: flex;
    }
     #{{ section.id }} .spa-product-3 {
    width: 80%;
    display: flex;
    margin: auto;
     }
    #{{ section.id }} .spa-product-3b {
      width: 65%;
      margin: auto;
      display: flex;
    }
    #{{ section.id }} .spa-product-4 {
    width: 620px;
    margin: auto;
    display: flex;
    }
    #{{ section.id }} .spa-product-4b {
    width: 60%;
    margin: auto;
    display: flex;
    }
    #{{ section.id }} .spa-product-5 {
    width: 700px !important;
    margin: auto;
    display: flex;
   }
     #{{ section.id }} .spa-product-5b {
    width: 65%;
    margin: auto;
    display: flex;
    padding-top:0 !important;
   }
    }
  </style>

  <script>
   $(document).on('click', '.custom301', function(event) {
    event.preventDefault();
    var ID = $(this).attr("dataid");
    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: ID
        },
        dataType: 'json',
        success: function (data) {
            console.log('Item added to cart. Quantity:', data.quantity);
            window.location.href = '/cart';
        },
        error: function (xhr, status, error) {
            console.log('Error adding item to cart:', error);
        }
    });
});
</script>
{% schema %}
  {
    "name": "mobile view custom",
    "settings": [],
    "presets": [
      {
        "name": "mobile view custom"
      }
    ]
  }
{% endschema %}