{% for block in section.blocks %}
  {%  if block.type == 'image_right' %}
<section class="full-part bg-sec right-views-{{ forloop.index }}" style="background-color:{{ block.settings.textever }}">
    <div class="container">
      <div class="row">
        <div class="col-md-12 image_color_padding">
          <div class="middle-content">
            <div class="row">
              <div class="col-md-6">
                {% if block.settings.text != blank %}
                <h2 class="font-style first-child" style="color:#0382CF; text-align:left; font-weight:bold;">{{ block.settings.text }}</h2>{% endif %}
                {{ block.settings.content }}

              </div>
              <div class="col-md-6">
                {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url:'master'}}" alt="medicalsaunas traditional8plus durable hemlock construction">
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
     <br>
 {% endif %}

   {%  if block.type == 'image_left' %}
  <section class="full-part bg-sec left-views-{{ forloop.index }}" style="background-color:{{ block.settings.evertext }};">
    <div class="container">
      <div class="row">
        <div class="col-md-12 image_color_padding">
          <div class="middle-content">
            <div class="row">
              <div class="col-md-6">
                {% if block.settings.imageleft != blank %}
                <img src="{{ block.settings.imageleft | img_url:'master'}}" alt="medicalsaunas traditional8plus products based on documented research">
               {% endif %}
              </div><div class="col-md-6" id="text-column-4">
                {% if block.settings.textleft != blank %}
                <h2 class="font-style first-child" style="color:#0382CF; font-weight:bold;">{{ block.settings.textleft }}</h2>{% endif %}
                {{ block.settings.contentleft }}
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
     <br>
  {% endif %}

  
 {%  if block.type == 'full_right' %}
  <section class="full-part full--{{ forloop.index }}">
    <div class="container">
      <div class="row">
        <div class="col-md-6" id="image-column-5">
           {% if block.settings.fullimg != blank %}
          <img src="{{ block.settings.fullimg | img_url:'master' }}" alt="medicalsaunas traditional8plus comparison: Rapid internal heat system." style="border-radius:{{ block.settings.border }}px;">
          {% endif %}
        </div>
        <div class="col-md-6" id="text-column-5">
          {% if block.settings.heading1 != blank %} <h5 class="font-style first-child">{{ block.settings.heading1 }}</h5>{% endif %}
          {% if block.settings.para1 != blank %}<p class="font-style_color">{{ block.settings.para1 }}</p>{% endif %}
          {% if block.settings.heading2 != blank %}<h5 class="nature_padding_row first-child">{{ block.settings.heading2 }}</h5>{% endif %}
          {% if block.settings.para2 != blank %}<p class="font-style_color">{{ block.settings.para2 }}</p>{% endif %}
         {% if block.settings.heading4 != blank %} <h5 class="nature_padding_row first-child">{{ block.settings.heading4 }}</h5> {% endif %}
         {% if block.settings.para5 != blank %}<p class="font-style_color">{{ block.settings.para5 }}</p> {% endif %}
        </div>
        
      </div>


      <div class="row">
        <div class="col-md-12">
          <div style="margin-top:9px;">{% if block.settings.heading3 != blank %}
            <h5 class="nature_padding_row font-style">{{ block.settings.heading3 }}</h5>{% endif %}
            {% if block.settings.para3 != blank %}
            <p class="font-style_color">
            {{ block.settings.para3 }} 
            </p>
            {% endif %}
            {% if block.settings.para4 != blank %}
            <p class="font-style_color">
            {{ block.settings.para4 }} 
            </p>
            {% endif %}
          </div>
        </div>
      </div>


    </div>
  </section>
   {% endif %}

 {%  if block.type == 'full_left' %}
  <section class="full-part full-left-{{ forloop.index }}">
    <div class="container ">
      <div class="row Although">{% if block.settings.leftheading1 !=blank %}
        <div class="col-md-6">
          <h5 class="font-style">{{ block.settings.leftheading1 }}</h5>
          <p class="font-style_color">{{ block.settings.leftpara1 }}</p>
          <h5 class="nature_padding_row">{{ block.settings.leftheading2 }}</h5>
          <p class="font-style_color">{{ block.settings.leftpara2 }} </p>
        </div>{% endif %}
        <div class="col-md-6">
          {% if block.settings.leftfullimg != blank %}
          <img src="{{ block.settings.leftfullimg |img_url:'master' }}" alt="medicalsaunas traditional8plus Detox Routine: Remove harmful toxins and impurities for a purified body.">
           {% endif %}
        </div>
      </div>
      
   <div class="row beneficial">
        <div class="col-md-12">{% if block.settings.leftheading3 != blank %}
          <h5>{{ block.settings.leftheading3 }}</h5>{% endif %}
        {% if block.settings.leftpara3 != blank %}<p class="font-style_color">{{ block.settings.leftpara3 }}</p>{% endif %}
        </div>

      </div>
    </div>
  </section>
   {% endif %}
{% endfor %}





<style>
 .full-part .row {
    display: flex !important;
    align-items: center !important;
}
h2.font-style {
    margin-bottom: 40px;
}
    @media (max-width: 767px) {
        .full-part .row {
           display: flex !important;
           flex-direction: column !important;
         }
    }
</style>








{% schema %}
  {
    "name": "multi block section",
    "settings": [],
    "blocks": [
           {
          "type":"image_right",
          "name":"Image Right Text Left",
          "settings": [
            {
            "type": "color",
             "id": "textever",
             "label":"Background color"
           },
           {
            "type": "textarea",
             "id": "text",
             "label":"Heading"
           },
           {
            "type": "textarea",
             "id": "content",
             "label":"Content"
           },
            {
            "type": "image_picker",
             "id": "image",
             "label":"Image"
           }
        ]
      },
       {
          "type":"image_left",
          "name":"Text Right Image Left",
          "settings": [
            {
            "type": "color",
             "id": "evertext",
             "label":"Background color"
           },
           {
            "type": "textarea",
             "id": "textleft",
             "label":"Heading"
           },
           {
            "type": "textarea",
             "id": "contentleft",
             "label":"Content"
           },
            {
            "type": "image_picker",
             "id": "imageleft",
             "label":"Image"
           }
        ]
      },
      {
          "type":"full_right",
          "name":"Full content img right",
          "settings": [
            {
              "type": "image_picker",
              "id": "fullimg",
              "label":"image"
            },
            {
              "type": "range",
              "id": "border",
              "min":0,
              "default":20,
              "max":50,
              "step": 1,
              "unit": "px",
              "label":"Radius image"
            },
            {
              "type": "text",
              "id": "heading1",
              "label":"Heading 1"
            },
            {
               "type": "text",
              "id": "para1",
              "label":"Paragraph 1"
            },
            {
              "type": "text",
              "id": "heading2",
              "label":"Heading 2"
            },
            {
               "type": "text",
              "id": "para2",
              "label":"Paragraph 2"
            },
            {
              "type": "text",
              "id": "heading4",
              "label":"Heading 3"
            },
            {
               "type": "text",
              "id": "para5",
              "label":"Paragraph 3"
            },
            {
              "type": "text",
              "id": "heading3",
              "label":"Full Heading"
            },
            {
               "type": "text",
              "id": "para3",
              "label":"Paragraph"
            },
            {
               "type": "text",
              "id": "para4",
              "label":"Paragraph"
            }
          ]
      },
      {
          "type":"full_left",
          "name":"Full content img left",
          "settings": [
            {
              "type": "image_picker",
              "id": "leftfullimg",
              "label":"image"
            },
            {
              "type": "text",
              "id": "leftheading1",
              "label":"Heading 1"
            },
            {
               "type": "text",
              "id": "leftpara1",
              "label":"Paragraph 1"
            },
            {
              "type": "text",
              "id": "leftheading2",
              "label":"Heading 2"
            },
            {
               "type": "text",
              "id": "leftpara2",
              "label":"Paragraph 2"
            },
            {
              "type": "text",
              "id": "leftheading3",
              "label":"Full Heading"
            },
            {
               "type": "text",
              "id": "leftpara3",
              "label":"Paragraph"
            }
          ]
      }
    ],
    "presets": [
      {
        "name": "multi block section"
      }
    ]
  }
{% endschema %}