 
 <!-- product _06  -->
    {% assign selected_product_handle = section.settings.custom_products6 %}
    {% assign product_06 = all_products[selected_product_handle] %}
 <!-- product _07  -->
    {% assign selected_product_handle = section.settings.custom_products7 %}
    {% assign product_07 = all_products[selected_product_handle] %}
 <!-- product _08  -->
    {% assign selected_product_handle = section.settings.custom_products8 %}
    {% assign product_08 = all_products[selected_product_handle] %}
 <!-- product _09  -->
    {% assign selected_product_handle = section.settings.custom_products9 %}
    {% assign product_09 = all_products[selected_product_handle] %}
 <!-- product _10  -->
    {% assign selected_product_handle = section.settings.custom_products10 %}
    {% assign product_10 = all_products[selected_product_handle] %}
 <!-- product _11  -->
    {% assign selected_product_handle = section.settings.custom_products11 %}
    {% assign product_11 = all_products[selected_product_handle] %}
 <!-- product _12  -->
    {% assign selected_product_handle = section.settings.custom_products12 %}
    {% assign product_12 = all_products[selected_product_handle] %}
 <!-- product _13  -->
    {% assign selected_product_handle = section.settings.custom_products13 %}
    {% assign product_13 = all_products[selected_product_handle] %}
 <!-- product _14  -->
    {% assign selected_product_handle = section.settings.custom_products14 %}
    {% assign product_14 = all_products[selected_product_handle] %}
 <!-- product _15  -->
    {% assign selected_product_handle = section.settings.custom_products15 %}
    {% assign product_15 = all_products[selected_product_handle] %}


    
<section class="obssaunas-main obsmain-desktop">
  <h3 class="obsaunas-head">Our Bestselling Saunas <span class="d-md-block">& Cold Plunges</span></h3>
    <ul class="nav nav-tabs obsaunas-tabs" role="tablist" id="myTab">
      <li class="active"><a class="link_obsa " href="#previousIssue" role="tab" data-toggle="tab"><img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/tab_icona.png?v=1745240366" alt="" class="tab_icona"><span> Saunas</span></a></li>
      <li class=""><a class="link_obsb" href="#currentIssue" role="tab" data-toggle="tab"><img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/tab_iconb.png?v=1745240366" alt="" class="tab_icona"><span>Cold Plunges</span></a></li>
      <!-- <li><a href="#nextIssue" role="tab" data-toggle="tab">Next issue</a></li> -->
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane .nav-tabs>li>a active" id="previousIssue">
      	 <div class="owl-carousel" id="tabs-carousela">
              <div class="item">
               <div class="product-card">
                 
                 {% if product_06.compare_at_price > product_06.price %}
                    {% assign save_amount_06 = product_06.compare_at_price | minus: product_06.price %}
                     <div class="save-tag">SAVE {{ save_amount_06 | money_without_trailing_zeros }}</div>
                  {% endif %} 
                  <a class="" href="products/medical-4">
                    <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Product_Image.png?v=1745242677" alt="Medical Sauna">
                  </a>
                  <!-- <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style=""> -->
                 <div class="product-dsc">
                    <div class="rating">
                      <div class="stars">★★★★★</div>
                      <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">369 Reviews</a></div>
                    </div>
                    <div class="subtitlee">MEDICAL SAUNA</div>
                    <div class="title">Medical 4™</div>
                    <div class="subtitlee">Ultra Full Spectrum Red Light Heaters</div>
                    <div class="price">
                      <del>{{ product_06.compare_at_price | money_without_trailing_zeros}}</del><span>{{ product_06.price | money_without_trailing_zeros}}</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                    </div>
                   </div>
                </div>
                    <a class="shop-btn" href="products/medical-4">SHOP NOW</a>
              </div>
             <div class="item">
               <div class="product-card">
                  {% if product_07.compare_at_price > product_07.price %}
                    {% assign save_amount_07 = product_07.compare_at_price | minus: product_07.price %}
                     <div class="save-tag">SAVE {{ save_amount_07 | money_without_trailing_zeros }}</div>
                  {% endif %} 
                 <a class="" href="products/nature8plus">
                  <img class="product-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/site/image_0105.png" alt="Medical Sauna">
                 </a>
                  <!-- <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style=""> -->
                 <div class="product-dsc">
                    <div class="rating">
                      <div class="stars">★★★★★</div>
                      <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">472 Reviews</a></div>
                    </div>
                    <div class="subtitlee">OUTDOOR SAUNA</div>
                    <div class="title">Nature 8Plus™ Flat Roof</div>
                    <div class="subtitlee">World’s First Outdoor Hybrid Sauna</div>
                    <div class="price">
                      <del>{{ product_07.compare_at_price | money_without_trailing_zeros}}</del><span>{{ product_07.price | money_without_trailing_zeros}}</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                    </div>
                   </div>
                </div>
                    <a class="shop-btn" href="products/nature8plus">SHOP NOW</a>
              </div>
              <div class="item">
               <div class="product-card">

                  {% if product_08.compare_at_price > product_08.price %}
                    {% assign save_amount_08 = product_08.compare_at_price | minus: product_08.price %}
                     <div class="save-tag">SAVE {{ save_amount_08 | money_without_trailing_zeros }}</div>
                  {% endif %} 
                 <a class="" href="products/medical-6">
                  <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image-0101.png?v=1745297830" alt="Medical Sauna">
                 </a>
                  <!-- <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style=""> -->
                 <div class="product-dsc">
                    <div class="rating">
                      <div class="stars">★★★★★</div>
                      <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">1224 Reviews</a></div>
                    </div>
                    <div class="subtitlee">MEDICAL SAUNA</div>
                    <div class="title">Medical 6™</div>
                    <div class="subtitlee">Ultra Full Spectrum Red Light Heaters</div>
                    <div class="price">
                      <del>{{ product_08.compare_at_price | money_without_trailing_zeros}}</del><span>{{ product_08.price | money_without_trailing_zeros}}</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                    </div>
                   </div>
                </div>
                    <a class="shop-btn" href="products/medical-6">SHOP NOW</a>
              </div>
              <div class="item">
               <div class="product-card">
                  {% if product_09.compare_at_price > product_09.price %}
                    {% assign save_amount_09 = product_09.compare_at_price | minus: product_09.price %}
                     <div class="save-tag">SAVE {{ save_amount_09 | money_without_trailing_zeros }}</div>
                  {% endif %} 
                 <a class="" href="products/nature-8">
                  <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image.png?v=1745298278" alt="Medical Sauna">
                 </a>
                  <!-- <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style=""> -->
                 <div class="product-dsc">
                    <div class="rating">
                      <div class="stars">★★★★★</div>
                      <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">1,224 Reviews</a></div>
                    </div>
                    <div class="subtitlee">OUTDOOR SAUNA</div>
                    <div class="title">Nature 8Plus™</div>
                    <div class="subtitlee">World’s First Outdoor Hybrid Sauna</div>
                    <div class="price">
                      <del>{{ product_09.compare_at_price | money_without_trailing_zeros}}</del><span>{{ product_09.price | money_without_trailing_zeros}}</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                    </div>
                   </div>
                </div>
                    <a class="shop-btn" href="products/nature-8">SHOP NOW</a>
              </div>
              <div class="item">
               <div class="product-card">
                  {% if product_10.compare_at_price > product_10.price %}
                    {% assign save_amount_10 = product_10.compare_at_price | minus: product_10.price %}
                     <div class="save-tag">SAVE {{ save_amount_10 | money_without_trailing_zeros }}</div>
                  {% endif %} 
                  <a class="" href="products/traditional-5">
                    <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image-0102.png?v=1745297830" alt="Medical Sauna">
                  </a>
                  <!-- <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style=""> -->
                 <div class="product-dsc">
                    <div class="rating">
                      <div class="stars">★★★★★</div>
                      <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">367 Reviews</a></div>
                    </div>
                    <div class="subtitlee">TRADITIONAL SAUNA</div>
                    <div class="title">Traditional 5™</div>
                    <div class="subtitlee">First-ever Commercial Medical Spa</div>
                    <div class="price">
                      <del>{{ product_10.compare_at_price | money_without_trailing_zeros}}</del><span>{{ product_10.price | money_without_trailing_zeros}}</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                    </div>
                   </div>
                </div>
                    <a class="shop-btn" href="products/traditional-5">SHOP NOW</a>
              </div>
          </div>
      </div>
      <div class="tab-pane " id="currentIssue">
          <div class="owl-carousel" id="tabs-carouselb">
                <div class="item">
                 <div class="product-card">
                    {% if product_11.compare_at_price > product_11.price %}
                      {% assign save_amount_11 = product_11.compare_at_price | minus: product_11.price %}
                       <div class="save-tag">SAVE {{ save_amount_11 | money_without_trailing_zeros }}</div>
                    {% endif %} 
                   <a class="" href="products/frozen-1-cold-plunge">
                    <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen1-main-v4_2.avif?v=1745489203" alt="Medical Sauna">
                   </a>
                    <!-- <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style=""> -->
                   <div class="product-dsc">
                      <div class="rating">
                        <div class="stars">★★★★★</div>
                        <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">332 Reviews</a></div>
                      </div>
                      <div class="subtitlee">Standard Cold Plunges</div>
                      <div class="title">Frozen 1™ Cold Plunge</div>
                      <div class="subtitlee">The World's First Cold Plunge</div>
                      <div class="price">
                        <del>{{ product_11.compare_at_price | money_without_trailing_zeros}}</del><span>{{ product_11.price | money_without_trailing_zeros}}</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                      </div>
                     </div>
                  </div>
                     <a class="shop-btn" href="products/frozen-1-cold-plunge">SHOP NOW</a>
                </div>
                <div class="item">
                 <div class="product-card">
                    {% if product_12.compare_at_price > product_12.price %}
                      {% assign save_amount_12 = product_12.compare_at_price | minus: product_12.price %}
                       <div class="save-tag">SAVE {{ save_amount_12 | money_without_trailing_zeros }}</div>
                    {% endif %} 
                   <a class="" href="products/frozen-3-cold-plunge">
                      <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen3-main-v4_12.webp?v=1745489204" alt="Medical Sauna">
                   </a>
                    <!-- <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style=""> -->
                   <div class="product-dsc">
                      <div class="rating">
                        <div class="stars">★★★★★</div>
                        <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">534 Reviews</a></div>
                      </div>
                      <div class="subtitlee">Standard Cold Plunges</div>
                      <div class="title">Frozen 3™ Cold Plunge</div>
                      <div class="subtitlee">The World's First Cold Plunge</div>
                      <div class="price">
                        <del>{{ product_12.compare_at_price | money_without_trailing_zeros}}</del><span>{{ product_12.price | money_without_trailing_zeros}}</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                      </div>
                     </div>
                  </div>
                      <a class="shop-btn" href="products/frozen-3-cold-plunge">SHOP NOW</a>
                </div>
                <div class="item">
                 <div class="product-card">
                   {% if product_13.compare_at_price > product_13.price %}
                      {% assign save_amount_13 = product_13.compare_at_price | minus: product_13.price %}
                       <div class="save-tag">SAVE {{ save_amount_13 | money_without_trailing_zeros }}</div>
                    {% endif %} 
                   <a class="" href="products/frozen-5-cold-plunge">
                    <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen5-main-v4_1.webp?v=1745489203" alt="Medical Sauna">
                   </a>
                    <!-- <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style=""> -->
                   <div class="product-dsc">
                      <div class="rating">
                        <div class="stars">★★★★★</div>
                        <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">590 Reviews</a></div>
                      </div>
                      <div class="subtitlee">X-Large Cold Plunges</div>
                      <div class="title">Frozen 5™ Cold Plunge</div>
                      <div class="subtitlee">The World's First Cold Plunge</div>
                      <div class="price">
                        <del>{{ product_13.compare_at_price | money_without_trailing_zeros}}</del><span>{{ product_13.price | money_without_trailing_zeros}}</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                      </div>
                     </div>
                  </div>
                      <a class="shop-btn" href="products/frozen-5-cold-plunge">SHOP NOW</a>
                </div>
                <div class="item">
                 <div class="product-card">
                    {% if product_14.compare_at_price > product_14.price %}
                      {% assign save_amount_14 = product_14.compare_at_price | minus: product_14.price %}
                       <div class="save-tag">SAVE {{ save_amount_14 | money_without_trailing_zeros }}</div>
                    {% endif %} 
                   <a class="" href="products/frozen-7-cold-plunge">
                    <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen7-main-v4_1.avif?v=1745489203" alt="Medical Sauna">
                   </a>
                    <!-- <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style=""> -->
                   <div class="product-dsc">
                      <div class="rating">
                        <div class="stars">★★★★★</div>
                        <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">124 Reviews</a></div>
                      </div>
                      <div class="subtitlee">Commercial Cold Plunges</div>
                      <div class="title">Frozen 7™ Cold Plunge</div>
                      <div class="subtitlee">The World's First Cold Plunge</div>
                      <div class="price">
                        <del>{{ product_14.compare_at_price | money_without_trailing_zeros}}</del><span>{{ product_14.price | money_without_trailing_zeros}}</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                      </div>
                     </div>
                  </div>
                      <a class="shop-btn" href="products/frozen-7-cold-plunge">SHOP NOW</a>
                </div>
                <div class="item">
                 <div class="product-card">
                    {% if product_15.compare_at_price > product_15.price %}
                      {% assign save_amount_15 = product_15.compare_at_price | minus: product_15.price %}
                       <div class="save-tag">SAVE {{ save_amount_15 | money_without_trailing_zeros }}</div>
                    {% endif %} 
                   <a class="" href="products/frozen-9-cold-plunge">
                    <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen9-main-v4_1.webp?v=1745489203" alt="Medical Sauna">
                   </a>
                    <!-- <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style=""> -->
                   <div class="product-dsc">
                      <div class="rating">
                        <div class="stars">★★★★★</div>
                        <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">241 Reviews</a></div>
                      </div>
                      <div class="subtitlee">Commercial Cold Plunges</div>
                      <div class="title">Frozen 9™ Cold Plunge</div>
                      <div class="subtitlee">The World's First Cold Plunge</div>
                      <div class="price">
                        <del>{{ product_15.compare_at_price | money_without_trailing_zeros}}</del><span>{{ product_15.price | money_without_trailing_zeros}}</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                      </div>
                     </div>
                  </div>
                      <a class="shop-btn" href="products/frozen-9-cold-plunge">SHOP NOW</a>
                </div>
            </div>
      </div>
     
    </div>
    <div class="progress-bar-wrappers progress-bar-wrapper">
      <div class="progress-bar progressBarssc" id="progressBarss" style="width: 20%;"></div>
    </div>
</section>


<style>
  .obssaunas-main{
    width: 90%;
    margin: 20px auto 60px auto;
  }
  ul#myTab {
      height: 75px;
      margin-bottom: 50px;
  }
  .obsaunas-head{
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  .nav-tabs>li>.link_obsa{
    border-bottom: 1px solid #ffffff !important;
    padding: 6px 40px;
    font-size:25px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  .nav-tabs>li>.link_obsa span{
    position: relative;
    left: -15px;
  }
  .nav-tabs>li>.link_obsa:hover,.nav-tabs>li>.link_obsb:hover,.nav-tabs>li>.link_obsa,.nav-tabs>li>.link_obsb {
    background-color: #fff !important;
    color: #000 !important;
    border-bottom: 1px solid #ccc;
  }
  .nav-tabs>li.active>.link_obsa,.nav-tabs>li.active>.link_obsb{
    background-color: #ccc;
    
  }
    .link_obsb {
        padding: 10px 30px !important;
       font-size:25px;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
  .nav-tabs{
    background-color: none !important;
  }
  .obsaunas-tabs .nav-tabs{
    border-bottom: none important;
    background-color: none important;
  }
  .product-card {
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
      width: 95%;
      margin:auto;
      overflow: hidden;
      position: relative;
      text-align: center;
    }
  .product-dsc {
    text-align: left;
    padding-left: 10px;
    color: #000 !important;
  }
  a.shop-btn:hover {
      color: #fff;
  }

    .save-tag {
      background: #c4ff00;
      color: #000;
      font-weight: 600;
      padding: 6px 16px;
      position: absolute;
      top: 10px;
      right: 0px;
      border-radius: 20px 0 0 20px;
      font-size: 14px;
    }

    .product-image {
      width: 100%;
      height: auto;
    }

    .rating {
      display: flex;
      align-items: baseline;
      margin: 12px 0;
      font-size: 12px;
    }
  .p-ratings{
    color: #000;
    text-decoration: underline;
  }

    .stars {
      color: #0070f3;
      margin-right: 6px;
      font-size:15px;
    }

    .title {
      font-size: 25px;
      font-weight: 700;
      margin: 4px 0;
    }

    .subtitlee {
      margin: 6px 0;
      font-size: 14px;
      display: flex;
      gap: 5px;
    }

    .price {
      margin: 12px 0 30px;
      font-size: 16px;
      display: flex;
      align-items: anchor-center;
      gap: 5px;
    }

    .price del {
      color: #888;
      /* margin-right: 8px; */
    }

    .early-bird {
      background: #fcdcdc;
      color: #000;
      padding: 6px 10px;
      border-radius: 20px;
      font-size: 14px;
      display: flex;
      gap: 5px;
      align-items: anchor-center;
    }
    .desscount-image{
      width: 15px;
      height: 16px;
      display: flex;
    }
    .shop-btn {
      display: block;
      background: #007bff;
      color: #fff;
      padding: 14px 0;
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      border-radius: 0 0 5px 5px;
      width: 95%;
      margin: auto;
    }
  #tabs-carousela .owl-item,#tabs-carouselb .owl-item {
      margin-right: 15px !important;
  }
  #tabs-carousela .owl-carousel .owl-item {
    width: 340px !important;
  }
    .tab-content {
        margin-top: 25px;
    }
  #productplay-image{
   width: 45px;position: absolute;right: 0;top: 50%; 
  }
  .progress-bar-wrappers {
        margin-top: 45px;
    }
  .tab_icona{
    padding-right:20px;
  }
  #tabs-carousela .owl-nav, #currentIssue .owl-nav {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -320px;
      font-size: 65px;
      margin-bottom: -90px;
  }
  #tabs-carousela button.owl-prev, #currentIssue button.owl-prev {
      position: relative;
      left: -40px;
  }
  #tabs-carousela button.owl-next, #currentIssue button.owl-next {
      position: relative;
      right: -40px;
  }
  @media (min-width: 1020px) and (max-width: 1445px) {
    .title {
    font-size: 20px;
        font-weight: 700;
        margin: 4px 0;
    }
    .price {
        margin: 12px 0 30px;
        font-size: 13px;
        display: flex;
        align-items: anchor-center;
        gap: 5px;
    }
  }
  @media (max-width: 600px) {
    .obsmain-desktop{
      /* display:none; */
    }
    .obssaunas-main{
      width:95%;
    }
    ul#myTab {
        display: flex;
    }
    .nav-tabs>li>.link_obsa {
        padding: 8px 25px;
        font-size: 18px;
    }
    .link_obsb {
        padding: 8px 18px !important;
        font-size: 16px;
    }
    img.tab_icona {
       width: 50px;
        padding-right: 0px;
    }
    .product-dsc {
        padding-left: 5px;
    }
    #tabs-carousela .item {
        margin: 0;
    }
    .rating {
      font-size: 9px;
      margin: 12px 0 5px;
    }
    .subtitlee {
      margin: 0;
      font-size: 12px;
    }
    .stars {
        font-size: 10px;
    }
    .title {
        font-size: 20px;
    }
    .price{
      display: block;
      margin: 12px 0 15px;
    }
    .early-bird {
        font-size: 12px;
        display: flex;
        gap: 5px;
        width: fit-content;
        margin-top: 5px;
    }
    #productplay-image {
        width: 25px;
        top: 37%;
    }

   }
  
</style>
 <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    
    <!-- Script to Initialize Carousel and Progress -->
    <script>
    $(document).ready(function () {
        const $carousel = $('#tabs-carousela');

        $carousel.owlCarousel({
            loop: true,
            margin: 15,
            dots: false,
            nav: true,
            autoplay: false,
            responsive: {
                0: { items: 2 },
                600: { items: 2 },
                800: { items: 2 },
                1000: { items: 3 },
                1300: { items: 4 }
            }
        });

        const totalItems = $carousel.find('.owl-item:not(.cloned)').length;

        function updateProgressBar(event) {
            const index = event.item.index - event.relatedTarget._clones.length / 2;
            const currentIndex = (index + totalItems) % totalItems;
            const percentage = ((currentIndex + 1) / totalItems) * 90;
            $('#progressBarss').css('width', percentage + '%');
        }

        $carousel.on('changed.owl.carousel', updateProgressBar);

        // Set initial progress bar
        $('#progressBarss').css('width', (1 / totalItems) * 90 + '%');
    });
    </script>
    <script>
    $(document).ready(function () {
        const $carousel = $('#tabs-carouselb');

        $carousel.owlCarousel({
            loop: true,
            margin: 15,
            dots: false,
            nav: false,
            autoplay: false,
            responsive: {
                0: { items: 2 },
                600: { items: 2 },
                800: { items: 2 },
                1000: { items: 3 },
                1300: { items: 4 }
            }
        });

        const totalItems = $carousel.find('.owl-item:not(.cloned)').length;

        function updateProgressBar(event) {
            const index = event.item.index - event.relatedTarget._clones.length / 2;
            const currentIndex = (index + totalItems) % totalItems;
            const percentage = ((currentIndex + 1) / totalItems) * 90;
            $('#progressBarss').css('width', percentage + '%');
        }

        $carousel.on('changed.owl.carousel', updateProgressBar);

        // Set initial progress bar
        $('#progressBarss').css('width', (1 / totalItems) * 90 + '%');
    });
    </script>


{% schema %}
{
  "name": "obsaunas-coldp180425",
  "settings": [
     {
        "type": "product",
        "id": "custom_products6",
        "label": "Select products"
      },
     {
        "type": "product",
        "id": "custom_products7",
        "label": "Select products"
      },
     {
        "type": "product",
        "id": "custom_products8",
        "label": "Select products"
      },
     {
        "type": "product",
        "id": "custom_products9",
        "label": "Select products"
      },
     {
        "type": "product",
        "id": "custom_products10",
        "label": "Select products"
      },
     {
        "type": "product",
        "id": "custom_products11",
        "label": "Select products"
      },
     {
        "type": "product",
        "id": "custom_products12",
        "label": "Select products"
      }, 
     {
        "type": "product",
        "id": "custom_products13",
        "label": "Select products"
      }, 
     {
        "type": "product",
        "id": "custom_products14",
        "label": "Select products"
      }, 
     {
        "type": "product",
        "id": "custom_products15",
        "label": "Select products"
      }, 
  ],
  "blocks": [
   
  ],
  "presets": [
    {
      "name": "obsaunas-coldp180425",
    }
  ]
}
{% endschema %}
