<section id="{{ section.id }}">


   <div class="thank_greet">
     {% if section.settings.yellow != blank %}
			<h1><span style="color:{{section.settings.colour}};">{{ section.settings.yellow }}</span> {{ section.settings.title }}</h1>
       {% endif %}
     {% if section.settings.para != blank %}
			<div class="than_disc">
				{{ section.settings.para }}
			</div>
        {% endif %}
			<div class="thank_links">
				<div>{{ section.settings.boxpara }}</div>
				
              {% for block in section.blocks %}
              <div class="thnk_menu">
					<a href="{{ block.settings.btn-url }}">{{ block.settings.btn-text }}</a>
					<a href="{{ block.settings.btn-urlr }}">{{ block.settings.btn-textr }}</a>
				</div>
				
            {% endfor %}
              	
			</div>
		</div>

  

</section>
{% style %}
  .thank_greet {
    margin-inline:auto;
    margin-block:{{section.settings.margin}}%;
    width: 60%;
}
  @media(max-width:767px){
    .thank_greet {
      width:100%;
    }
  }
{% endstyle %}
{% schema %}
  {
    "name": "Order confirmation Error",
    "settings": [
      {
      "type":"text",
      "id":"title",
      "label": "Heading"
      }
     ,
      {
      "type":"text",
      "id":"yellow",
      "label": "Color Heading"
     },
      {
      "type":"color",
      "id":"colour",
      "default":"#ffb31a",
      "label": "Color"
     },
      {
      "type":"richtext",
      "id":"para",
      "label": "Paragraph"
     },
      {
      "type":"richtext",
      "id":"boxpara",
      "label": "Box Title"
     },
      {
      "type":"range",
      "id":"margin",
       "min":0,
       "max":50,
       "step":1,
       "default":5,
       "label": "Space",
       
     }
    ],
    "blocks": [
      {
        "name":"Box",
        "type":"box",
        "settings": [
          {
            "type":"text",
            "id":"btn-text",
            "label":"First Button Text"
          }
          ,
          {
            "type":"url",
            "id":"btn-url",
            "label":"First Button URL"
          },
          {
            "type":"text",
            "id":"btn-textr",
            "label":"Second Button Text"
          }
          ,
          {
            "type":"url",
            "id":"btn-urlr",
            "label":"Second Button URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name":"Order confirmation Error"
      }
    ]
  }
{% endschema %}