
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<style>
  .custombuild-container {
        width: 90%;
    	margin: 50px auto 30px;
    	padding-bottom: 20px;
    }
    
    h3.ourcustombuild_h {
    	font-size: 40px;
    	font-weight: 600;
    	color: #000;
    }
    
    p.ourcustombuild_p {
    	font-size: 20px;
    	font-weight: 500;
    	color: #000;
    }
    .ourcustombuild-main {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .ourcustombuild-bmain {
        display: grid;
        gap: 20px;
    }
  
    .ourcustombuild-carousel .owl-stage-outer {
        
    }
  
    .ourcustombuild-carousel .owl-stage {
    	/* left: -10px; */
    }
    
    .ourcustombuild-carousel .item {
    	text-align: center;
    	padding: 0px;
    }
    
    .ourcustombuild-carousel .item img {
    	width: 100%;
    	height: auto;
    	border-radius: 10px;
    }
    
    .progressBar-b-wrapper {
    	height: 5px;
    	background: #ddd;
    	margin-top: 30px;
    	border-radius: 5px;
    	overflow: hidden;
    }
    
    .progressBar-b {
    	height: inherit;
    	background: black;
    	width: 20%;
    	/* Initial 20% */
    	transition: width 0.3s ease;
    }
    
    .progressBar-b {
    	position: absolute;
    	background-color: #3b3b3b !important;
    }
    
    .ourcustombuild-image {
        padding: 20px 20px 5px;
        position: absolute;
        bottom: 0;
        margin: 0px;
        margin-right: 15px;
        border-radius: 10px;
        width: 100%;
        background-image: linear-gradient(to bottom, #00000005, #000000b8, black);
    }
    
    p.ourcustombuild-name {
    	color: #fff;
    	font-size: 20px;
    	font-weight: 600;
    }
    
    p.ourcustombuild-disc {
    	color: #fff;
    }
    
    .ourcustombuild-container {
        position: relative;
    	border-radius: 10px;
    }
    
    .ourcustombuild_main {
    	display: flex;
    	justify-content: space-between;
    	align-items: center;
    	margin-bottom: 25px;
    }
    
    .sales_numbera {
    	color: #000;
    }
    
    .sales_numbera {
    	color: #fff;
    	background-color: #0382cf;
    	padding: 17px 30px;
    	font-size: 16px;
    	border-radius: 3px;
    }
    
    .ourcustombuild_subc {
    	display: none;
    }

    @media (max-width: 600px) {
    	.custombuild-container {
           display:none;
        }
    }

</style>

<div class="custombuild-container w3_bg">
   <div class="ourcustombuild_main">
      <div class="ourcustombuild_suba">
         <h3 class="ourcustombuild_h">{{ section.settings.heading_sec }}</h3>
         <p class="ourcustombuild_p">{{ section.settings.desc_sec }}</p>
      </div>
      <div class="ourcustombuild_subb">
         <a href="tel:(818) 273-6308" class="sales_numbera">Start Your Custom Design</a>
      </div>
   </div>
   <div class="carousel-container">
         <div class="ourcustombuild-carousel owl-carousel">
            {% for block in section.blocks %}
                <div class="item">
                   <div class="ourcustombuild-main">
                     <div class="ourcustombuild-smain">
                       <div class="ourcustombuild-container">
                          <img src="{{ block.settings.pickimage_1 | image_url }}" alt="review_clientimg">
                          <div class="ourcustombuild-image">
                             <p class="ourcustombuild-name">{{ block.settings.product_name1 }}</p>
                             <p class="ourcustombuild-disc"><i class="fas fa-map-marker-alt"></i> {{ block.settings.intall_location1 }}</p>
                          </div>
                       </div>
                     </div>
                     <div class="ourcustombuild-bmain">
                       <div class="ourcustombuild-bmaina">
                         <div class="ourcustombuild-container">
                            <img src="{{ block.settings.pickimage_2 | image_url }}" alt="review_clientimg">
                            <div class="ourcustombuild-image">
                               <p class="ourcustombuild-name">{{ block.settings.product_name2 }}</p>
                               <p class="ourcustombuild-disc"><i class="fas fa-map-marker-alt"></i> {{ block.settings.intall_location2 }}</p>
                            </div>
                         </div>
                       </div>
                       <div class="ourcustombuild-bmainb">
                         <div class="ourcustombuild-container">
                            <img src="{{ block.settings.pickimage_3 | image_url }}" alt="review_clientimg">
                            <div class="ourcustombuild-image">
                               <p class="ourcustombuild-name">{{ block.settings.product_name3 }}</p>
                               <p class="ourcustombuild-disc"><i class="fas fa-map-marker-alt"></i> {{ block.settings.intall_location3 }}</p>
                            </div>
                         </div>
                       </div>                   
                     </div>                 
                   </div>
                </div>
            {% endfor %}
      </div>
   </div>
   <div class="progressBar-b-wrapper">
      <div class="progressBar-b" id="progressBar-custom"></div>
   </div>
   <div class="ourcustombuild_subc">
      <a href="tel:(818) 273-6308" class="sales_numbera">Start Your Custom Design</a>
   </div>
</div>


<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
  $(document).ready(function(){
    var $carousel = $(".ourcustombuild-carousel");

    // Start with 20%
    $('#progressBar-custom').css('width', '20%');

    // Progress steps after first 20%
    const steps = [30, 60, 100, 0, 20];

    $carousel.owlCarousel({
      
      loop: true,
       margin:20,
       stagePadding: 0,
      nav: false,
      dots: false,
      responsive:{
        0:{ items:1, stagePadding: 10 },
        600:{ items:1 },
        800:{ items:2 },
      }
    });
   

 const totalItems = $carousel.find('.owl-item:not(.cloned)').length;

        function updateProgressBar(event) {
            const index = event.item.index - event.relatedTarget._clones.length / 2;
            const currentIndex = (index + totalItems) % totalItems;
            const percentage = ((currentIndex + 1) / totalItems) * 90;
            $('#progressBar-custom').css('width', percentage + '%');
        }

        $carousel.on('changed.owl.carousel', updateProgressBar);

        // Set initial progress bar
        $('#progressBar-custom').css('width', (1 / totalItems) * 90 + '%');
    
  });

  
</script>


{% schema %}
{
  "name": "ourcustombuild-010525",
  "settings": [
     {
        "type": "text",
        "id": "heading_sec",
        "label": "product name",
        "default": "write heading"
      },
     {
        "type": "text",
        "id": "desc_sec",
        "label": "desc section",
        "default": "write description"
      }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "pickimage_1",
          "label": "Custom build image 01"
        },
        {
          "type": "text",
          "id": "product_name1",
          "label": "product name 1",
          "default": "product name 1"
        },
        {
          "type": "text",
          "id": "intall_location1",
          "label": "enter product location 1",
          "default": "enter location"
        },
        {
          "type": "image_picker",
          "id": "pickimage_2",
          "label": "Custom build image 02"
        },
        {
          "type": "text",
          "id": "product_name2",
          "label": "product name 2",
          "default": "product name 2"
        },
        {
          "type": "text",
          "id": "intall_location2",
          "label": "enter product location 2",
          "default": "enter location"
        },
        {
          "type": "image_picker",
          "id": "pickimage_3",
          "label": "Custom build image 03"
        },
        {
          "type": "text",
          "id": "product_name3",
          "label": "product name 3",
          "default": "product name 3"
        },
        {
          "type": "text",
          "id": "intall_location3",
          "label": "enter product location 3",
          "default": "enter location"
        },
      ]
    }
  ],
  "max_blocks": 50,
  "presets": [
    {
      "name": "ourcustombuild-010525",
      "category": "Custom",
      "blocks": [
        {
          "type": "icon",
          "settings": {
            
          }
        }
      ]
    }
  ]
}
{% endschema %}

