<section class="table-break-x w3_bg medical3-v2a">
    <div class="w3_bg">
        <div class="acc-bg-blue w3_bg">
        <div class="container w3_bg">
            <div class="feature-h-text w3_bg" data-toggle="collapse" data-target="#medical-acc12" aria-expanded="true">
                <h4 class="head-a1">PRODUCT<span> SPECIFICATIONS</span> </h4>
                <i class="fa fa-angle-up head-arrow arrow-gray"></i>
            </div>
        </div>
        </div>
        <div class="container table-container w3_bg collapse in" id="medical-acc12" aria-expanded="true" style="">
            <div class="Inner-main w3_bg">
                <div class="col-md-12 col-sm-12 col-xs-12 mobile-inner w3_bg">


                  <div class="over-flow w3_bg">
                    <table class="table-condensed med_table_width">
                        <!-- table-images strated here -->
                        <thead>
                            <tr>
                                <th class="fixed-cell-a">
                                </th>
                                <th class="prod-brk-th td-1cell">
                                  <a href="https://0ee1ad-b2.myshopify.com/products/medical-3">
                                        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical-sauna-3-smallnew.jpg"  alt="custom1 spa" title="Medical 3™" style="padding:8px;" class="suanas-img-0a1">
                                  </a>
                                </th>
                                <th class="prod-brk-th td-2cell">
                                  <a href="https://0ee1ad-b2.myshopify.com/products/medical-4">
                                        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical-sauna-4-small.jpg" alt="custom2 spa" class="suanas-img-0a2" title="Medical 4™" >
                                  </a>
                                </th>
                                <th class="prod-brk-th td-3cell">
                                  <a href="https://0ee1ad-b2.myshopify.com/products/medical-5">
                                        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/m-s5-t-new.jpg" alt="custom3 spa" title="medicalsaunas5-v2a" class="suanas-img-0a3">
                                  </a>
                                </th>
                                <th class="prod-brk-th td-4cell">
                                  <a href="https://0ee1ad-b2.myshopify.com/products/medical-6">
                                        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical6-new/medical-sauna-6-small.jpg" alt="custom4-5 spa" title="	Medical 6™" class="suanas-img-0a4">
                                  </a>
                                </th>
                                <th class="prod-brk-th td-5cell">
                                  <a href="https://0ee1ad-b2.myshopify.com/products/medical-7plus">
                                        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/fnew.jpg"  alt="custom6-9 spa" title="Medical 7Plus™" class="mbreakx suanas-img-0a5">
                                  </a>
                                </th>
                            </tr>
                        </thead>
                        
                        <tbody>
                          <tr>
                            <td data-label="" class="fixed-cell-a">
                                <div class="visible-xs button-container w3_bg">
                                  <button class="btn btn-default-a hide-table-button" id="previous-table"><i class="fa fa-angle-down table-previous"></i></button>
                                  <button class="btn btn-default-a" id="next-table"><i class="fa fa-angle-down table-next"></i></button>
                              </div>
                            </td>

                                                           
                              {% assign variable = 1 %}
                              {% assign variable23 = 1 %}
                               {% assign variable23sd = 1 %}
                              {% for block in section.blocks %}
                                
                                  {% assign productzxx = block.settings.prod %}
                                  <td class="prod-brk-td td-{{ variable }}cell" data-label="{{ productzxx.title }} ">
                                    {% render 'buy-buttons-spec', 
                                      productzxx: productzxx,
                                      variable23: variable23,
                                      variable23sd: variable23sd
                                    %}
                                  </td>
                              {% assign variable = variable | plus: 1 %} 
                              {% assign variable23 = variable23 | plus: 1 %} 
                              {% assign variable23sd = variable23sd | plus: 1 %} 
                              {% endfor %}

                        </tr>
                          
                        <tr class="first">
                          
                            <td class="table-a fixed-cell-a">Model: </td>

                          {% assign variables = 1 %}
                                 {% assign variablesww = 1 %}
                                 {% assign variableswww = 1 %}
                                
                                 {% for block in section.blocks %}
                                    {% assign product = block.settings.prod %} 
                                    <th class="prod-brk-th td-{{ variables }}cell">
                                      <a href="{{ product.url }}" style="font-weight: 400; font-size: 14px; line-height: 20px;"
                                        class="table-a 
                                        {% if variablesww ==1  %}  
                                         table-aa
                                        {% endif %}
                                          {% if variablesww ==2  %}
                                        table-ab
                                             {% endif %}
                                          {% if variablesww ==3 %}
                                        table-ac
                                             {% endif %}
                                          {%  if variablesww ==4  %}
                                        table-ad
                                             {% endif %}
                                          {% if variablesww ==5 %}
                                        table-af
                                             {% endif %}
                                        " >
                                      {{ product.title }}
                                      </a>
                                    </th>
                                  {% assign variables = variables | plus: 1 %} 
                                  {% assign variablesww = variablesww | plus: 1 %} 
                                  {% assign variableswww = variableswww | plus: 1 %} 
                                   {% endfor %}
                          
                        </tr>
                        <tr class="bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Capacity</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01">1 person</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-02">2 people</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">3 People</span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="side-left-04">4 People</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="side-left-05">4-6 People</span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Heaters</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01">6</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-2cell"><span class="side-left-02">6</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">9</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-4cell"><span class="side-left-04">11</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="">13</span></td>
                        </tr>
                        <tr class="bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Hot/Cold Cleansing System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                          <td data-label="" class="fixed-cell-a title-td-specification">Detox Routine™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Insulated Airflow System™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                          <td data-label="" class="fixed-cell-a title-td-specification">3D Heat Therapy™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Safe Cool Down System™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                          <td data-label="" class="fixed-cell-a title-td-specification">Skin Rejuvenation/Cleansing System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Natural Hemlock Wooden Construction</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr class="">
                          <td height="25" data-label="" class="fixed-cell-a title-td-specification">Simple Touch LED Control Panel™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td height="32" class="fixed-cell-b title-td-specification" data-label="">Clasp-together Assembly</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr class="">
                          <td data-label="" class="fixed-cell-a fixed-cell-a title-td-specification">Roof Vent</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Tempered Glass Door</td> 
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-6cell"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr class="">
                          <td data-label="" class="fixed-cell-a title-td-specification">Speaker System with MP3 Connection</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        
<tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification"><b>Ultra</b> Full Spectrum <strong>Red Light</strong> Heaters™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        
                        <tr class="">
                          <td data-label="" class="fixed-cell-a title-td-specification">Energy Efficient Heating System™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                                           
                        <tr class="bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Rapid Internal Heating System™</td>

                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>

                        <tr>
                          <td data-label="" class="fixed-cell-a title-td-specification">Bluetooth Functionality</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification"> Mood Lighting™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                          <td height="23" class="fixed-cell-a title-td-specification" data-label="">3D Surround Heat with 2 Front Heaters</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™">&nbsp;</td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>

                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Chromatic Therapy System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™">&nbsp;</td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
              

                        <tr>
                          <td data-label="" class="fixed-cell-a title-td-specification" style="text-align:left;vertical-align:middle;"><span class="title-td-specification" style="text-align:left;vertical-align:middle;"><span class="title-td-specification" style="text-align:left;vertical-align:middle;">Deep Bench Seating for Extra Comfort </span></span></td>
                            <td data-label="" class="title-td-specification td-1cell">&nbsp;</td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>


                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification"> <span class="title-td-specification" style="text-align:left;vertical-align:middle;"><span class="title-td-specification" style="text-align:left;vertical-align:middle;"><span class="title-td-specification" style="text-align:left;vertical-align:middle;">Interior Reading Light System™</span></span></span></td>
                            <td data-label="" class="title-td-specification td-1cell" style="text-align:left;vertical-align:middle;">&nbsp;</td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td-a td-5cell"><i class="fa fa-check"></i></td>
                        </tr>


                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification"><span class="title-td-specification" style="text-align:left;vertical-align:middle;"><span class="title-td-specification" style="text-align:left;vertical-align:middle;">Silent Heating System™</span></span></td>
                            <td data-label="" class="title-td-specification td-1cell" style="text-align:left;vertical-align:middle;">&nbsp;</td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr class="bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification"><span class="title-td-specification" style="text-align:left;vertical-align:middle;">Long enough to lay down</span></td>
                            <td data-label="" class="title-td-specification td-1cell">&nbsp;</td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>


                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification"><span class="title-td-specification" style="text-align:left;vertical-align:middle;">Color Light Therapy to naturally improve your skin</span></td>
                            <td data-label="" class="title-td-specification td-1cell">&nbsp;</td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>


                        <tr class="bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification"> Full Spectrum Heaters™ that heats up 2X Faster</td>

                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>


                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Extra-Energy Efficient: 15% Thicker Glass &amp; Wood Panels</td>

                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>



                        <tr class="bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Built-in Backrest for ease of use</td>

                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr class="">
                            <td height="23" class="fixed-cell-a fixed-cell-atitle-td-specification" data-label="">Audio Theater System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification" style="text-align:left;vertical-align:middle;">Omni-Directional Heating™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>

                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Executive Corner Unit Design</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>


                        <tr class="bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Extra-Insulated Airflow System™</td>

                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03"></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="side-left-04"></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Extra-Rapid Internal Heating System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03"></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="side-left-04"></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
                        </tr>
                        
                        <tr class="bg-line-gray rrr">
                            <td data-label="" class="fixed-cell-b title-td-specification">Interior Dimensions<br>
                              (WDH)          </td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01">(WDH): 36″ x 32″ x 66.5″</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-02 side-left-02a">(WDH): 44″ x 38″ x 69″</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03 side-left-03a">(WDH): 57″ x 37″ x 69″</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="side-left-04 side-left-04a">(WDH): 67″ x 38″ x 69″</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td-a td-5cell"><span class="">(WDH): 62″ x 62″ x 69″</span></td>
                        </tr>


                        <tr class="rrr">
                            <td data-label="" class="fixed-cell-a title-td-specification">Exterior Dimensions<br>
                            (WDH)</td>

                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01">(WDH): 39″ x 36″ x 73"</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-02 side-left-02a">(WDH): 48″ x 42″ x 75″</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03 side-left-03a">(WDH): 63″ x 42″ x 75″</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="side-left-04 side-left-04a">(WDH): 71″ x 48″ x 77″</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="">(WDH): 66″ x 66″ x 77″</span></td>
                        </tr>

                        <tr class="bg-line-gray rrr">
                            <td data-label="" class="fixed-cell-b title-td-specification">Operating Voltage</td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-1cell"><span class="d-block side-left-01">120V/15amp </span> </td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-2cell"><span class="d-block side-left-02 side-left-02a">120V/15amp</span> </td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="d-block side-left-03 side-left-03a">120V/35amp</span> </td>

                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="d-block side-left-04 side-left-04a">120V/35amp</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="d-block ">120V/35amp</span></td>
                        </tr>


                        <tr class="rrr">
                            <td data-label="" class="fixed-cell-a title-td-specification">Watts</td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-1cell"><span class="d-block side-left-01">1500W</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-2cell"><span class="d-block side-left-02 side-left-02a">1700W</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"> <span class="d-block side-left-03 side-left-03a">2600W</span></td>

                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"> <span class="d-block side-left-04 side-left-04a">3100W</span> </td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"> <span class="d-block">3400W</span></td>
                        </tr>


                        <tr class="bg-line-gray rrr">
                            <td data-label="" class="fixed-cell-b title-td-specification">Plug Type</td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="prod-brk-td-a td-3cell"><span class="d-block side-left-03 side-left-03a">1-120VAC/15AMP</span></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="d-block side-left-03 side-left-03a">1-120VAC/15AMP</span></td>

                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="d-block side-left-03 side-left-03a">1-120VAC/15AMP<br>
                              1-120VAC/20AMP</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="d-block side-left-03 side-left-03a">1-120VAC/15AMP<br>
                            1-120VAC/20AMP</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="d-block side-left-03 side-left-03a">1-120VAC/15AMP<br>
                              1-120VAC/20AMP</span></td>
                        </tr>

                        <tr class="rrr">
                            <td data-label="" class="fixed-cell-a title-td-specification">Weight</td>

                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="d-block side-left-01">295 lbs.</span> </td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="d-block side-left-02 side-left-02a">385 lbs.</span> </td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="d-block side-left-03 side-left-03a">455 lbs.</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="d-block side-left-04 side-left-04a">550 lbs.</span> </td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="d-block ">625 lbs.</span></td>
                        </tr>
                        <!-- table row buy-now images strated here -->
                        <tr>

                            <td data-label="" class="fixed-cell-a"></td>



                          {% assign variablewe = 1 %}
                              {% for block in section.blocks %}
                                
                                    {% assign productzxx = block.settings.prod %}
                                    <td class="prod-brk-td td-{{ variablewe }}cell" data-label="{{ productzxx.title }} ">
                                      {% render 'buy-buttons-spec-b', 
                                        productzxx: productzxx,
                                        variablewe: variablewe
                                      %}
                                    </td>
                                
                              {% assign variablewe = variablewe | plus: 1 %} 
                              {% endfor %}

                        </tr>
                        <!-- table row buy-now images closed here -->
                    </tbody></table>
                </div>
                  
                  
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>


<style>
   span.side-left-04 {
    left: -40%!important;
}
  span.side-left-02 {
    left: -50px;
}
  .side-left-01 {
    left: 0px!important;
}

  .rrr .side-left-04a {
    left: -20px!important;
}
a.table-a{
    font-weight: 400!important;
}
  @media (max-width:767px){

       span.side-left-04 {
    left: 0%!important;
}
  span.side-left-02 {
    left: 0px;
}
  .side-left-01 {
    left: 0px!important;
}

  .rrr .side-left-04a {
    left: 0px!important;
}
    .rrr.side-left-6a {

    left: 0%!important;
}
  }
</style>

    
{% schema %}
  {
    "name": "P-specification med-5",
    "settings": [
      
    ],
    "blocks": [
         {
          "type":"product",
          "name":"Add product",
          "settings":[
            {
                "type":"product",
                "id":"prod",
                "label":"Select Product"
             },
            {
              "type": "image_picker",
              "id":"product_image",
              "label":"Product Image"
            }
             
          ]
       }
  ],
  "presets":[
      {
        "name": "P-specification med-5"
      }
    ]
  }
{% endschema %}