<section class="commerical-tabel " id="{{ section.id }}">
        <section class="table-break-x">
<div class="acc-bg-blue">
        <div class="container">
            <div class="feature-h-text" data-toggle="collapse" data-target="#spa-l" aria-expanded="true">
                <h4 class="head-a1">PRODUCT <span class="">SPECIFICATIONS</span> </h4>
                <i class="fa fa-angle-down head-arrow arrow-gray rotate180"></i>
            </div>
        </div>
    </div>
    <div class="container" style="padding: 0px;">
        <div class="row">
        <div class="Inner-main collapse in" id="spa-l">
            <div class="col-md-12 col-sm-12 col-xs-12 mobile-inner">
                <div class="over-flow">
                    <table class="table-condensed med_table_width">
                        <!-- table-images strated here -->
                        <thead>
                            <tr>
                                <th style="font-size:0px;" class="fixed-cell-a">
                                </th>
                                <th class="prod-brk-th td-1cell"><a href="/products/commercial-spa-485">
                                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Medical-Spa-used-31.png?v=1729497648" alt="custom1 spa" style="padding:8px;" class="suanas-img-0a1"></a>
                                </th>
                                <th class="prod-brk-th td-2cell"><a href="/products/commercial-spa-486">
                                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Medical-Spa-used-32.png?v=1729497662" alt="custom2 spa" class="suanas-img-0a2"></a></th>
                                <th class="prod-brk-th td-3cell"><a href="/products/commercial-spa-487">
                                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Medical-Spa-used-33.png?v=1729497678" alt="custom3 spa" class="suanas-img-0a3"></a></th>
                                <th class="prod-brk-th td-4cell"><a href="/products/commercial-spa-488">
                                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Medical-Spa-used-34.png?v=1729497718" alt="custom4-5 spa" class="suanas-img-0a4"></a></th>
                                <th class="prod-brk-th td-5cell"><a href="/products/commercial-spa-489plus">
                                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Medical-Spa-used-35.png?v=1729497733" alt="custom6-9 spa" class="mbreakx suanas-img-0a5"></a></th>
                            </tr>
                        </thead>
                       
                        <tbody>
                          <tr>
                          
                            <td data-label="" class="fixed-cell-a">
                              <div class="visible-xs button-container">
                                  <button class="btn btn-default-a hide-table-button" id="previous-table"><i class="fa fa-angle-down table-previous"></i></button>
                                  <button class="btn btn-default-a" id="next-table"><i class="fa fa-angle-down table-next"></i></button>
                              </div>
                            </td>
                          {% assign variable = 1 %}
                              {% assign variable23 = 1 %}
                               {% assign variable23sd = 1 %}
                              {% for block in section.blocks %}
                                
                                    {% assign productzxx = block.settings.prod %}
                                    <td class="prod-brk-td td-{{ variable }}cell" data-label="{{ productzxx.title }} ">
                                      {% render 'buy-buttons-spec', 
                                        productzxx: productzxx,
                                        variable23: variable23,
                                        variable23sd: variable23sd
                                      %}
                                    </td>
                              {% assign variable = variable | plus: 1 %} 
                              {% assign variable23 = variable23 | plus: 1 %} 
                              {% assign variable23sd = variable23sd | plus: 1 %} 
                              {% endfor %}

                            <!-- <td class="prod-brk-td td-1cell" data-label="Medical Breakthrough 5™ ">
                                <a class="commercialspa485"  dataid="49380262871328" href="javascript:void();">
                                    <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Medical Breakthrough - buynow" class="buynow_img1 side-left-01" html="" data-done="Loaded">
                                </a>
                            </td>
                            <td class="prod-brk-td td-2cell" data-label="Medical Breakthrough 6™ ">
                                <a class="commercialspa485"  dataid="49380492214560" href="javascript:void();">
                                    <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Medical Breakthrough - buynow" class="buynow_img1 side-left-6" html="" data-done="Loaded">
                                </a>
                            </td>
                            <td class="prod-brk-td td-3cell" data-label="Medical Breakthrough 7™ ">
                                <a class="commercialspa485"  dataid="49380492837152" href="javascript:void();">
                                    <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Medical Breakthrough - buynow" class="buy-img4t side-left-03" html="" data-done="Loaded">
                                </a>
                            </td>
                            <td class="prod-brk-td td-4cell" data-label="Medical Breakthrough 8™ ">
                                <a class="commercialspa485"  dataid="49380493197600" href="javascript:void();">
                                    <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Medical Breakthrough - buynow" class="buy-img4t side-left-04" html="" data-done="Loaded">
                                </a>
                            </td>

                            <td class="prod-brk-td td-5cell" data-label="Medical Breakthrough X™ ">
                                <a class="commercialspa485"  dataid="49380497228064" href="javascript:void();">
                                    <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Medical Breakthrough - buynow" class="buy-img5t" html="" data-done="Loaded">
                                </a>
                            </td> -->



                        </tr>
                        <tr class="bg-line-gray">
                            <td class="table-a fixed-cell-b">Model: </td>
                            <td class="prod-brk-td td-1cell"><a href="/products/commercial-spa-485" class="table-a table-aa">Commercial 485™ </a></td>
                            <td class="prod-brk-td td-2cell"><a href="/products/commercial-spa-486" class="table-a table-ab">Commercial 486™ </a></td>
                            <td class="prod-brk-td td-3cell"><a href="/products/commercial-spa-487" class="table-a table-ac">Commercial 487™ </a></td>
                            <td class="prod-brk-td td-4cell"><a href="/products/commercial-spa-488" class="table-a table-ad">Commercial 488™</a></td>
                            <td class="prod-brk-td td-5cell"><a href="/products/commercial-spa-489plus" class="table-a table-af">Commercial 489™ </a></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Capacity</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01">1 Person</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-02">2 People</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">3 People</span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="side-left-04">4-5 People</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="side-left-05">6-9 People</span></td>
                        </tr>
                        <tr class="bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Heaters</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01">7</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-2cell"><span class="side-left-02">9</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">11</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-4cell"><span class="side-left-04">15</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="">23</span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Weight Capacity</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01">350 lbs capacity</span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02">700 lbs capacity</span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03">1050 lbs capacity</span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04">2800 lbs capactiy</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="">4200 lbs capacity</span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">2x4 Fortified Wood Framing</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">10x Reinforced Commercial Grade Floors™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">48 Doctors, massage therapists, physical therapists, &amp; surgeons branding</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Soaring Sauna Ceilings™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Extra-Long Ergonomic 31-Inch Tall Built-In Backrest; spaciously curved to support your full back</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">31 Inch Chrome Easy Clean Handle with Washable Cover</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Safety Auto Shut-Off Timer System</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">3X Hemlock Walls™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Inside &amp; Out Dual Control Panel</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Easy-Clip Assembly</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Heat Resistant Tempered Glass Door</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Heat Resistant Commercial Speakers™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Energy Efficient Heating System™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Ultra Full Spectrum Heaters™ that heats up 2X Faster</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Hot/Cold Cleansing System™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Oxygen Ion Sanitation System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Medical Detox Routine™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Insulated Clean Airflow System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Superior Cool Down System™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Bluetooth Functionality</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">4D Surround Heat Therapy™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Omni-Directional Heating™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Made for Gyms - Extra Strong, Heavy Users. Benches with Double the Support</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Red Light Therapy</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Spacious Interior for Lounging</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Chromatic Therapy System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Deep Bench Seating for Extra Comfort</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Heat Resistant Interior Reading Lights™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Silent Heating System™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">The World's First Heat Resistant Android Tablet™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">On/Off Switch for Each Full Spectrum Heater</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Double Capacity Stadium Seating</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">36 Inch Wide Door for Easy Access</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">4-Hinged, Heavy Duty Commercial Door</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Enhanced Clean Air Inflow &amp; Outflow Ventilation System™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">500lbs Rated Backrests</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Audio Theater System</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Campfire Style Seating™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Smooth X-Large Accessible Ramp™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">ADA Compliant 60 Inch Internal Radius</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Extra-Insulated Airflow System™</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Extra-Rapid Internal Heating System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                            <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                            <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"></span></td>
                            <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="bg-line-gray">
                          <td data-label="" class="fixed-cell-b title-td-specification">Extra-Energy Efficient: 15% Thicker Glass &amp; Wood Panels</td>
                          <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td>
                          <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                          <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                          <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"></span></td>
                          <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Interior Dimensions<br>
                              (WDH)          </td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01">44” x 38” x 75”</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-02">57” x 38”x 75”</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">67” x 38”x 77”</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="side-left-04">87” x 61”x 77”</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td-a td-5cell"><span class="">106” x 106" x 80”</span></td>
                        </tr>


                        <tr class="bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Exterior Dimensions<br>
                            (WDH)</td>

                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01">48” x 42” x 81”</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-02">63” x 42“ x 81”</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">71” x 42“ x 83”</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="side-left-04">91” x 67“ x 83”</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="">110” x 110“ x 86”</span></td>
                        </tr>

                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Operating Voltage</td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-1cell"><span class="d-block side-left-01">120V / 15 amp*2 </span> </td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-2cell"><span class="d-block side-left-02">120V / 15 amp*2</span> </td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="d-block side-left-03">240V / 20 amp</span> </td>

                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="d-block side-left-04">240V / 30 amp</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="d-block ">240V / 50 amp</span></td>
                        </tr>


                        <tr class="bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Watts</td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-1cell"><span class="d-block side-left-01">2200W</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-2cell"><span class="d-block side-left-02">2750W</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"> <span class="d-block side-left-03">3450W</span></td>

                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"> <span class="d-block side-left-04">4750W</span> </td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"> <span class="d-block">7050W</span></td>
                        </tr>


                        <tr class="">
                            <td data-label="" class="fixed-cell-a title-td-specification">Plug Type</td>

                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="d-block side-left-01">XN515P-F</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="d-block side-left-02">XN515P-F</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="d-block side-left-03">XN520P-A</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="d-block side-left-04">XN530P-A</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="d-block">TT6-50P</span></td>
                        </tr>

                        <tr class="bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Weight</td>

                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="d-block side-left-01">352 lbs.</span> </td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="d-block side-left-02">485 lbs.</span> </td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="d-block side-left-03">573 lbs.</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="d-block side-left-04">837 lbs.</span> </td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="d-block ">1233 lbs.</span></td>
                        </tr>
                        <!-- table row buy-now images strated here -->
                        <tr>

                            <td data-label="" class="fixed-cell-a"></td>
                          {% assign variablewe = 1 %}
                              {% for block in section.blocks %}
                                
                                    {% assign productzxx = block.settings.prod %}
                                    <td class="prod-brk-td td-{{ variablewe }}cell" data-label="{{ productzxx.title }} ">
                                      {% render 'buy-buttons-spec-b', 
                                        productzxx: productzxx,
                                        variablewe: variablewe
                                      %}
                                    </td>
                                
                              {% assign variablewe = variablewe | plus: 1 %} 
                              {% endfor %}
                            <!-- <td class="prod-brk-td td-1cell" data-label="Medical Breakthrough 5™ ">
                                <a class="commercialspa485"  dataid="49380262871328" href="javascript:void();">
                                    <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Medical Breakthrough - buynow" class="buynow_img1 side-left-01 dpo1" html="" data-done="Loaded">
                                </a>
                            </td>
                            <td class="prod-brk-td td-2cell" data-label="Medical Breakthrough 6™ ">
                                <a class="commercialspa485"  dataid="49380492214560" href="javascript:void();">
                                    <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Medical Breakthrough - buynow" class="buynow_img1 side-left-6 dpo2" html="" data-done="Loaded">
                                </a>
                            </td>
                            <td class="prod-brk-td td-3cell" data-label="Medical Breakthrough 7™ ">
                                <a class="commercialspa485"  dataid="49380492837152" href="javascript:void();">
                                    <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Medical Breakthrough - buynow" class="buy-img4t side-left-03 dpo3" html="" data-done="Loaded">
                                </a>
                            </td>
                            <td class="prod-brk-td td-4cell" data-label="Medical Breakthrough 8™ ">
                                <a class="commercialspa485"  dataid="49380493197600" href="javascript:void();">
                                    <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Medical Breakthrough - buynow" class="buy-img4t side-left-04 dpo4" html="" data-done="Loaded">
                                </a>
                            </td>

                            <td class="prod-brk-td td-5cell" data-label="Medical Breakthrough X™ ">
                                <a class="commercialspa485"  dataid="49380497228064" href="javascript:void();">
                                    <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Medical Breakthrough - buynow" class="buy-img5t dpo5" html="" data-done="Loaded">
                                </a>
                            </td> -->




                        </tr>
                        <!-- table row buy-now images closed here -->
                    </tbody></table>
                </div>
            </div>
        </div>
        </div>
    </div>
      
    
</section>    </section>



<script>
$(document).on('click','.commercialspa485',function(){ 
    var ID = $(this).attr("dataid");
        $.ajax({
            type: 'POST',
            url: '/cart/add.js',
            data: {
              quantity: 1,
               id: ID
             },
              dataType: 'json', 
             success: function (data) { 
             
              console.log(data.quantity);
             
             } 
     });
}) 
  
</script>



<style>
    .commerical-tabel span.side-left-02 {
    left: -50px;
}
 .commerical-tabel span.side-left-04 {
    position: relative !important;
    left: -63px !important;
}
  .temp_commercial-spa-487 .side-left-6 {
    width: 70%!important;
    position: relative;
    left: -28% !important;
}
    @media(max-width:767px){
    #{{section.id}} img.buy-img4t.buy3{
      left: 0% !important;
    }
    #{{section.id}} .suanas-img-0a1 {
     width: 41%;
     left: 34%;
    }
    #{{section.id}} .commerical-tabel span.side-left-04 {
       left: 0% !important;
    }
   #{{section.id}} .suanas-img-0a3 {
    width: 64%;
    left: 20%;
    }
    #{{section.id}} .suanas-img-0a4 {
    width: 80%;
    left: 11%;
    }
     #{{section.id}} span.side-left-04{
      left: 0% !important;
    }
    #{{section.id}} .Inner-main .col-md-12.col-sm-12.col-xs-12.mobile-inner{
     padding-left:0 !important;
     padding-right:0 !important;
    }
    #{{section.id}} .buy-img4t.newbuy3.side-left-03{
      left: 0% !important;
    }
     #{{section.id}} .buy-img4t.newbuy4{
      left: 0% !important;
    }
      .temp_commercial-spa-487 #{{section.id}} .side-left-6{
    left:0 !important;
      }
  }
  
</style>

{% schema %}
  {
    "name": "Spec Commercial487",
    "settings": [
      
    ],
     "blocks": [
         {
          "type":"product",
          "name":"Add product",
          "settings":[
            {
                "type":"product",
                "id":"prod",
                "label":"Select Product"
             },
            {
              "type": "image_picker",
              "id":"product_image",
              "label":"Product Image"
            }
             
          ]
       }
  ],
  "presets":[
      {
        "name": "Spec Commercial487"
      }
    ]
  }
{% endschema %}