<section class="full-part w3_bg {{ section.settings.addclass }}" style="background-color:{{ section.settings.colors }}" id="{{ section.id }}_right">
    <div class="w3_bg">
      <div class="acc-bg-blue w3_bg">
        <div class="container w3_bg">
          <div class="feature-h-text collapsed w3_bg desktop-none" data-toggle="collapse" data-target="#{{ section.id }}">
            <h4 class=" head-a1 removebr">{{ section.settings.heading }} <br><span> {{ section.settings.headblue }}</span> </h4>
            <i class="fa fa-angle-up head-arrow arrow-gray"></i>
          </div>
        </div>
      </div>
      <div id="{{ section.id }}" class="collapse in w3_bg custom-right_image">
        <div class="container w3_bg" style="margin-top:{{ section.settings.mtop }}PX; margin-bottom:{{ section.settings.mbottom }}PX">
          <div class="row w3_bg">
            <div class="col-md-12 padding-0 w3_bg">
              <div class="middle-content w3_bg">
                <div class="row w3_bg">
                  <div class="col-md-6 padding-0 w3_bg">
                   {% for block in section.blocks %} 
                    <p class="para-text">{{ block.settings.para }} </p>
                    {% endfor %}
                  </div>
                  <div class="col-md-6 w3_bg">
                    {% if section.settings.image != blank %}
                    <img width="1000" height="822" src="{{ section.settings.image | img_url:'master' }}" alt="Medical Saunas protective heater covers" html="" data-done="Loaded">
                 {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 <style>
    #{{ section.id }} .row.w3_bg {
      display: flex;
     align-items: center;
    }
   @media(max-width:767px){
   #{{ section.id }} .row.w3_bg {
    display: flex;
    align-items: center;
    flex-direction: column;
   }
  .template-product-product-nature-8plus #{{ section.id }} .row.w3_bg {
    display: flex;
    flex-direction: column-reverse;
   }
   }
 </style>
  
{% schema %}
  {
    "name": "right image text",
    "settings": [
      {
       "type": "color",
        "id":"colors",
        "label":"Background color" 
      },
      {
        "type": "text",
        "id":"heading",
        "label":"Main Heading"
      },
      {
        "type": "text",
        "id":"headblue",
        "label":"White text"
      },
      {
        "type": "image_picker",
        "id":"image",
        "label":"Image"
      },
      {
        "type": "text",
        "id":"addclass",
        "label":"Add class"
      },
       {
          "type": "text",
          "id": "mtop",
          "label": "Margin top (PX)"
        },
      {
          "type": "text",
          "id": "mbottom",
          "label": "Margin Bottom (PX)"
        }
      
    ],
    "blocks": [
      {
        "type":"custom",
        "name":"paragraph",
        "limit":2,
        "settings":[
          {
            "type": "textarea",
            "id":"para",
            "label":"Add Content"
           }
        ]
      }
    ],
    "presets":[
      {
          "name": "right image text"
      }
    ]
  }
{% endschema %}