<div class="container bottom-space" style="border:2px #ccc solid; border-radius:40px; background-color:{{ section.settings.medal-coor }};" id="{{ section.id }}">
  <div class="Inner-main">
   <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:30px;">
        <h3 style="margin:0px; color:#000; font-weight:bold; text-transform:uppercase;">{{ section.settings.medal }}</h3><br>
        {{ section.settings.medal-para }}
      </div>
      <div class="row">
        {% for block in section.blocks %}
        <div class="col-md-6">
          <iframe src="https://www.youtube.com/embed/{{block.settings.os_video.id}}" allowfullscreen="" width="525" height="315" style="margin-left:17px;border:0;"></iframe>
          <p style="text-align:center;font-weight:bold; font-size:14px;"> {{ block.settings.yt_content }}</p>
        </div>
     {% endfor %}
    </div>
  </div>
</div>

<style>
  #{{ section.id }} {
  margin-top:10px;
    
}
  #{{ section.id }} iframe {
    max-width: 100% !important;
    width: 100%;
    margin-left: 0px !important;
}
</style>

{% schema %}
  {
    "name": "spectrum youtube video",
    "settings": [
      {
        "type":"color",
        "id":"medal-coor",
        "label":"Background color"
      }
      ,{
        "type":"textarea",
        "id":"medal",
        "label":"Heading"
      },
      {
        "type":"textarea",
        "id":"medal-para",
        "label":"Paragraph"
      }
    ],
     "blocks": [
    {
      "type": "yt_videos_img",
      "name": "Video/Image block",
      "settings": [
        {
          "type": "video_url",
          "id": "os_video",
          "label": "You Tube Link",
          "accept": [
            "youtube",
            "vimeo"
          ]
        },
        { 
          "id": "yt_content", 
          "type": "textarea", 
          "label": "Content" 
        }
      ]
    }
    ],
    "presets":[
      {
        "name": "spectrum youtube video"
      }
    ]
  }
{% endschema %}