<section class="home-commercialspa">
        <div class="container">
            <div class="row">
                <!-- soldout strated here  -->
                <div class="col-md-4 pd-col">
                    <a href="/products/medical-4-spectrum" style="text-align: -webkit-center;">
                        <picture>
                            <source media="(min-width:769px)" srcset="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/m1a.png">
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/m1a.png" class="img-responsive commercialspa5-img mx-auto" alt="Commercial Spa 485™" title="Medical-Commercial485">
                        </picture>
                    </a>
                    {% assign productone = all_products['medical-4-spectrum'] %}
                    <div class="home-center">
                        <a class="fullspectrum" dataid="49247571345696">
                            <img src="https://www.pulmonologist7.com/images/plum_soldout.png" alt="learn-more" class="img-responsive shower-learn-more mx-auto"> </a>
                        <h3 class="home-card-hed">
                            <a href="/">Medical 1™</a>
                        </h3>
                        <p class="shower-card-early-bird text-center">Early Bird Special : <del> {{ productone.compare_at_price_max | money_without_trailing_zeros }}</del></p>
                        <mark class="save-mark"> You Save:{{ productone.compare_at_price_max | minus: productone.price | money_without_trailing_zeros }}</mark>
                        <p class=" text-center">
                            <mark class="home-price-cl"> {{ productone.price | money_without_trailing_zeros }} </mark>
                        </p>
                    </div>

                </div>
                <!-- soldout  ended here  -->
                <!-- medical5-fullspectrum.php strated here  -->
                <div class="col-md-4 pd-col">
                  {% assign producttwo = all_products['medical-5-fullspectrum'] %}
                    <a href="https://shopify.medicalsaunas.com/products/medical-5-fullspectrum" style="text-align: -webkit-center;">
                        <picture style="text-align: -webkit-center;">
                            <source media="(min-width:769px)" srcset="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical5-front1.png">
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical5-front1.png" class="img-responsive commercialspa6-img" alt="Spa-Commercial-Homepage-16.png" title="Medical-Commercial486">
                        </picture>
                    </a>
                    <div class="home-center">
                        <a class="fullspectrum" dataid="49768323744032">
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/plum_buynow.png" alt="learn-more" class="img-responsive shower-learn-more mx-auto">
                        </a>
                        <h3 class="home-card-hed">
                            <a href="https://shopify.medicalsaunas.com/products/medical-5-fullspectrum">Medical 5™</a>
                        </h3>
                        <p class="shower-card-early-bird text-center">Early Bird Special : <del>{{ producttwo.compare_at_price_max | money_without_trailing_zeros }}</del></p>
                        <mark class="save-mark"> You Save: {{ producttwo.compare_at_price_max | minus: producttwo.price | money_without_trailing_zeros }}</mark>
                        <p class=" text-center">
                            <mark class="home-price-cl"> {{ producttwo.price | money_without_trailing_zeros }} </mark>
                        </p>
                    </div>
                </div>
                <!-- medical5-fullspectrum.php ended here  -->
                <!-- medical6-fullspectrum.php strated here  -->
                <div class="col-md-4 pd-col">
                  {% assign productthree = all_products['medical-6-spectrum'] %}
                    <a href="https://shopify.medicalsaunas.com/products/medical-6-spectrum">
                        <picture style="text-align: -webkit-center;">
                            <source media="(min-width:769px)" srcset="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical6-front.png">
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical6-front.png" class="img-responsive commercialspa7-img" alt="Spa-Commercial-Homepage-17.png" title="Medical-Commercial487">
                        </picture>
                    </a>
                    <div class="home-center">
                        <a class="fullspectrum" dataid="49768382005536">
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/plum_buynow.png" alt="learn-more" class="img-responsive shower-learn-more mx-auto">
                            </a>
                          <h3 class="home-card-hed">
                            <a href="https://shopify.medicalsaunas.com/products/medical-6-spectrum">Medical 6™</a>
                            </h3>
                            <p class="shower-card-early-bird text-center">Early Bird Special : <del>{{ productthree.compare_at_price_max | money_without_trailing_zeros }}</del></p>
                            <mark class="save-mark"> You Save: {{ productthree.compare_at_price_max | minus: productthree.price | money_without_trailing_zeros }}</mark>
                            <p class=" text-center">
                                <mark class="home-price-cl"> {{ productthree.price | money_without_trailing_zeros }}  </mark>
                            </p>
                    </div>
                </div>
                <!-- medical6-fullspectrum.php ended here  -->
            </div>
            <div class="row">
                <!-- medical7-fullspectrum.phpstrated here  -->
                <div class="col-md-6 pd-col">
                  {% assign productfour = all_products['medical7-fullspectrum'] %}
                    <a href="https://shopify.medicalsaunas.com/products/medical7-fullspectrum">
                        <picture style="text-align: -webkit-center;">
                            <source media="(min-width:769px)" srcset="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical7-new.png">
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical7p-front.png" class="img-responsive commercialspa8-img" alt="Spa-Commercial-Homepage-18.png" title="Medical-Commercial488">
                        </picture>
                    </a>
                    <div class="home-center">
                            <a class="fullspectrum" dataid="49769530687776">
                                <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/plum_buynow.png" alt="learn-more" class="img-responsive shower-learn-more mx-auto">
                            </a>
                            <h3 class="home-card-hed">
                                <a href="https://shopify.medicalsaunas.com/products/medical7-fullspectrum">Medical 7™</a>
                            </h3>
                            <p class="shower-card-early-bird text-center">Early Bird Special : <del>{{ productfour.compare_at_price_max | money_without_trailing_zeros }}</del></p>
                            <mark class="save-mark"> You Save: {{ productfour.compare_at_price_max | minus: productfour.price | money_without_trailing_zeros }}</mark>
                            <p class=" text-center"> <mark class="home-price-cl"> {{ productfour.price | money_without_trailing_zeros }}</mark> </p>
                    </div>
                </div>
                <!-- medical7-fullspectrum.php closed here  -->
                <!-- medical8plusv2-fullspectrum.php strated here  -->
                <div class="col-md-6 pd-col">
                  {% assign productfive = all_products['medical-8-fullspectrum'] %}
                    <a href="https://shopify.medicalsaunas.com/products/medical-8-fullspectrum">
                        <picture style="text-align: -webkit-center;">
                            <source media="(min-width:769px)" srcset="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical8-front.png">
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical8-front.png" class="img-responsive commercialspa8-img" alt="Spa-Commercial-Homepage-18.png" title="Medical-Commercial489">
                        </picture>
                    </a>
                    <div class="home-center home-pl"> 
                        <!-- <a href="/commercialspa489.php">
                            <img src="../images/learn-more.png" alt="learn-more" class="img-responsive shower-learn-more mx-auto"></a> -->
                        <a class="fullspectrum" dataid="49771992580384">
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/plum_buynow.png" alt="learn-more" class="img-responsive mx-auto shower-learn-more" style="margin-top:0px"> </a>

                        <h3 class="home-card-hed">
                            <a href="https://shopify.medicalsaunas.com/products/medical-8-fullspectrum">Medical 8 Plus V2™</a>
                        </h3>
                        <p class="shower-card-early-bird text-center">Early Bird Special : <del>{{ productfive.compare_at_price_max | money_without_trailing_zeros }}</del></p>
                        <mark class="save-mark"> You Save: {{ productfive.compare_at_price_max | minus: productfive.price | money_without_trailing_zeros }}</mark>
                        <p class=" text-center">
                            <mark class="home-price-cl"> {{ productfive.price | money_without_trailing_zeros }} </mark>
                        </p>
                    </div>
                </div>
                <!-- medical8plusv2-fullspectrum.php closed here  -->
            </div>
        </div>
    </section>

<script>
 $(document).on('click', '.fullspectrum', function(event) {
    // Prevent default behavior (in case it's a form submit or link click)
    event.preventDefault();

    var ID = $(this).attr("dataid");

    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: ID
        },
        dataType: 'json',
        success: function (data) {
            console.log('Item added to cart. Quantity:', data.quantity);
            window.location.href = '/cart';
        },
        error: function (xhr, status, error) {
            console.log('Error adding item to cart:', error);
        }
    });
});
  
</script>





<style>
.template-collection-medicalsaunas-fulls1 .home-center {
    text-align: center;
}
  .template-collection-medicalsaunas-fulls1 .shower-card-early-bird {
    font-size: 20px;
    color: #b1afaf;
  }

    .template-collection-medicalsaunas-fulls1 mark {
    color: #000;
    background: #ff0;
}
    .template-collection-medicalsaunas-fulls1 .save-mark {
    background-color: #FF0;
    border-radius: 0px;
    color: #f00;
    font-size: 20px;
    font-weight: 500;
    padding: 9px;
}
  .template-collection-medicalsaunas-fulls1 .home-price-cl {
    background-color: #BBEBFB;
    color: #f00;
    font-size: 20px;
}
  .template-collection-medicalsaunas-fulls1 .shower-learn-more {
    width: 216px;
    height: 64px;
    margin-top: 10px;
}


  
</style>









{% schema %}
  {
    "name": "spectrum-product",
    "settings": [
      
    ],
   

    "presets": [
    {
      "name": "spectrum-product"
    }
  ]
  }
{% endschema %}


