<section class="middle-content" id="{{ section.id }}">
  <div class="container">
   <div class="row">
<div class="col-md-12">
  <h4>PRODUCT <span style="color:#000">SPECIFICATIONS</span> </h4>
  <div class="over-flow">      
  <table class="table table-condensed responsive">
  <thead>
      <tr>
        <th style="font-size:0px;">Model</th>
       {% for block in section.blocks %}
           <th class="prod-brk-th"><a href="{{ block.settings.row-now }}"><img src="{{ block.settings.row | img_url:'master' }}" style="min-height:168px;" alt="{{ product.title }}"></a></th>
          {% endfor %}
        </tr>
    </thead>
      <tbody>
     <tr>
      <td>Model: </td>
      <td width="15%" align="center" valign="middle"><a href="/products/medical-3">Medical 3™</a></td>
      <td width="15%" align="center" valign="middle"><a href="/products/medical-4-spectrum">Medical 4™<br>Full Spectrum</a></td>
      <td width="15%" align="center" valign="middle"><a href="/products/medical-5">Medical 5™</a></td>
      <td width="15%" align="center" valign="middle"><a href="/products/medical-6">Medical 6 Plus™</a></td>
     </tr>
    <tr class="gray">
      <td data-label="">Capacity</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™">1 person</td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle">2 people</td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle">3 people</td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle">4-6 people</td>
    </tr>
   <tr>
      <td data-label="">Heaters</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™">6</td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle">6</td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle">9</td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle">12</td>
    </tr>    
   <tr class="gray">
      <td data-label=""><strong>Ultra</strong> Full Spectrum™</td> 
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"></td>
    </tr>  
    <tr>
      <td data-label="">Hot/Cold Cleansing System™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 8™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr class="gray">
      <td data-label="">Detox Routine™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
     <tr>
      <td data-label="">Insulated Airflow System™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr class="gray">
      <td data-label="">3D Heat Therapy™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td data-label="">Safe Cool Down System™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr class="gray"> 
      <td data-label="">Skin Rejuvenation/Cleansing System™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td data-label="">Natural Hemlock Wooden Construction</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr class="gray">
      <td data-label="">Simple Touch Exterior LED Control Panel™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td data-label="">Clasp-together Assembly</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr class="gray">
      <td data-label="" align="left" valign="middle">Roof Vent</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
     <tr>
      <td data-label="" align="left" valign="middle">Tempered Glass Door</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr class="gray">
      <td data-label="">Speaker System with AUX/MP3  Connection</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
      <tr>
      <td data-label="">Rapid Internal Heating System™</td>
       <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 8™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
  <tr class="gray">
      <td data-label="">Energy Efficient Heating System™</td>
       <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 8™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
  	<tr>
      <td data-label="">Simple Touch Interior &amp; Exterior LED Control Panels™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr> 
    <tr class="gray">
      <td data-label="">Radio &amp; CD Player Functionality</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td data-label="">Exterior Mood Lighting</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"><i class="fa fa-check"></i></td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 8™"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
  	<tr class="gray">
      <td data-label="">Chromatic Therapy System™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr> 
    <tr>
      <td data-label="">Omni-Directional Heating™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr class="gray">
      <td data-label="">Deep Bench Seating for Extra Comfort</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>  
    <tr>
      <td data-label="">Interior Reading Light System™</td> 
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr class="gray">
      <td data-label="">Silent Heating System™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
  	<tr>
      <td data-label="">Audio Theater System™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr class="gray">
      <td data-label="">Extra-Energy Efficient: 15% Thicker Glass &amp; Wood Panels</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td data-label="">Executive Corner Unit Design</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
      <tr class="gray">
      <td data-label="">Extra-Insulated Airflow System™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>
     <tr>
      <td data-label="">Extra-Rapid Internal Heating System™</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™"></td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"></td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"><i class="fa fa-check"></i></td>
    </tr>  
    <tr class="gray">
      <td data-label="">Interior Dimensions</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™">(WDH): 36″ x 32″ x 66.5″</td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle">(WDH): 43″ x 37″ x 68″</td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle">(WDH): 59″ x 41″ x 68″</td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle">(WDH): 62″ x 62″ x 68″</td>
    </tr>
    <tr>
      <td data-label="">Exterior Dimensions</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™">(WDH): 39″ x 36″ x 73"</td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle"> (WDH): 47″ x 42″ x 77″</td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"> (WDH): 63″ x 45″ x 77″</td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle"> (WDH): 66″ x 66″ x 77″</td>
    </tr>
    <tr class="gray">
      <td data-label="">Operating Voltage</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™">120V/15amp</td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle">120V/15amp</td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle">120V/20amp</td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle">240V/20amp</td>
    </tr>
    <tr>
      <td data-label="">Weight</td>
      <td width="15%" align="center" valign="middle" data-label="Breakthrough 7™">265 lbs.</td>
      <td data-label="Breakthrough 7™" width="15%" align="center" valign="middle">355 lbs.</td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle">425 lbs.</td>
      <td data-label="Breakthrough 8™" width="15%" align="center" valign="middle">595 lbs.</td>
    </tr>
  </tbody>
  </table>
  </div>
  </div>
   </div>
  </div>
  </section>
  
  <style>
@media(max-width:767px){

.temp_medical-4-spectrum .table-condensed tr{
  display:flex;
}
  .template-product-spectrum-med-4 .table>thead:first-child>tr:first-child>th{
    min-width:175px;
  }
 .template-product-spectrum-med-4 table.responsive td:before {
    content: unset !important;
 }
 .template-product-spectrum-med-4 table.responsive tr td:first-child{
    text-align:left;
  }
  #{{ section.id }} .table {
    border:none;
  }
  #{{ section.id }} .table>tbody>tr>td{
      border:none;
  }
  #{{ section.id }} .table>thead>tr>th{
      border:none;
  }

  
}


    
  </style>

  {% schema %}
  {
    "name": "spectrum4 product specif",
    "settings": [],
    "blocks":[
      {
        "type": "table-row",
        "name":"table-row",
        "settings": [
          {
            "type": "image_picker",
            "id":"row",
            "label":"Add Row"
          },
          {
            "type": "url",
            "id":"row-now",
            "label":"Add url"
          }
        ]
      }
    ],
    "presets":[
      {
       "name": "spectrum4 product specif" 
      }
    ]
  }
{% endschema %}