<section id="{{ section.id }}" class="spectrum-5">
<div class="container">
  <div class="middle-content">
       <h2 style="color:#0382CF; text-align:left;">{{ section.settings.heading }}</h2>
        {{ section.settings.paragraph }}
      </div>
  <div class="text-center">
    {% if section.settings.imaeg !=blank  %}
    <img src="{{ section.settings.imaeg |img_url:'master' }}" alt="#">
      {% endif %}
  </div>
</div>
</section>

<style>
 
 #{{ section.id }} .middle-content {
    font-size: 16px;
    line-height: 26px;
}
#{{ section.id }} {
    background-color:{{section.settings.colours}};
    padding: 15px;
}
#{{ section.id }} .middle-content h3{
  margin-bottom:20px !important;
}
  .template-product-spectrum-med-4 #{{ section.id }} .middle-content {
    font-size: 16px;
  line-height: 26px;
}
</style>
{% schema %}
  {
    "name": "spectrum 5 full width",
    "settings": [
      {
        "type": "color",
        "id": "colours",
        "label":"Background color",
        "default":"#fff"
      }
      ,{
        "type": "textarea",
        "id": "heading",
        "label":"Heading"
      },
      {
        "type": "textarea",
        "id": "paragraph",
        "label":"Paragraph"
      },
      {
        "type": "image_picker",
        "id": "imaeg",
        "label":"Full Image"
      }
    ],
    "presets":[
      {
        "name": "spectrum 5 full width"
      }
    ]
  }
{% endschema %}