 <!-- product _01  -->
    {% assign selected_cnsproduct_handle = section.settings.cnscollection_product1 %}
    {% assign cnsproduct_01 = all_products[selected_cnsproduct_handle] %}
    <!-- product _02  -->
    {% assign selected_cnsproduct_handle = section.settings.cnscollection_product2 %}
    {% assign cnsproduct_02 = all_products[selected_cnsproduct_handle] %}
    <!-- product _03  -->
    {% assign selected_cnsproduct_handle = section.settings.cnscollection_product3 %}
    {% assign cnsproduct_03 = all_products[selected_cnsproduct_handle] %}
    <!-- product _04  -->
    {% assign selected_cnsproduct_handle = section.settings.cnscollection_product4 %}
    {% assign cnsproduct_04 = all_products[selected_cnsproduct_handle] %}
    <!-- product _04  -->
    {% assign selected_cnsproduct_handle = section.settings.cnscollection_product5 %}
    {% assign cnsproduct_05 = all_products[selected_cnsproduct_handle] %}
    
<style>
  .cns-collectioncomp{
    background-color:#000;
    padding:5%;
    margin-top: 75px;
  }
    .cns-collscomp {
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: space-between;
        margin-top: 20px;
        background-color: #fff;
        padding: 0 80px 20px;
    }
    h4.cns-collhead {
        font-size: 40px;
        font-weight: bold;
      width:35%;
    }
    h4.cns-collhead span{
        display:block;
    }
    .cns-scollscomp {
        display: flex;
        justify-content: space-around;
        width:65%;
    }
    .cns-collprodduct-a {
        width: 50%;
    }
    .cns-collprodduct-b {
        width: 50%;
    }
    img.cns-productimage {
        display: flex;
        margin: auto;
    }
  .cns-selctproduct{
      background-color: #e5f7ff;
      font-size:18px;
      font-weight: 600;
      cursor:pointer;
      height: 40px;
  }
  .cns-pricegroup {
      display: flex;
      align-items: center;
      gap: 30px;
  }
  span.cns-original-price {
      font-size: 20px;
      padding-right: 8px;
      text-decoration: line-through;
      color: #9d9d9d;
  }
  span.cns-current-price {
      font-size: 20px;
      font-weight: 600;
  }
  a.cnsproduct_gocart {
      width: 100%;
      padding: 10px;
      font-size: 15px;
  }
  .cns-mcollectiontable{
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .cns-collectiontable {
      display: flex;
      justify-content: space-between;
      width:90%;
      margin:auto;
      border-top: 1px solid #dbdbdb;
  }
  .cns-tableleft {
      width: 15%;
      
  }
  h4.cns-specname {
      padding-left: 15px;
      font-size: 20px;
      font-weight: 600;
  }
  .cns-tableright {
      /* display: flex; */
      /* justify-content: space-between; */
      align-items: center;
      width: 85%;
  }
  .cns-tableright-a {
      width: 100%;
      padding: 11px;
      display: flex;
      align-items: center;
          /* border-top: 1px solid #dbdbdb; */
  }
  .cns-bggray{
      background-color: #f0f0f0;
  }
  h4.cns-twidth {
      margin: 0;
      width: 20%;
      font-size: 14px;
      font-weight: 600;
  }
  ul.csn-twidth-disc {
      display: flex;
      gap: 35px;
      margin: 0;
      list-style: none;
      width: 80%;
  }
  ul.csn-twidth-disc li {
      width: 50%;
      text-align: center;
  }
  .cns-mcollectiontable:last-child{
      padding-bottom:50px;
    }
  @media (max-width: 767px) {
    .cns-collscomp {
        display: block;
        padding: 18px;
    }
    h4.cns-collhead {
        font-size: 30px;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
    .cns-scollscomp {
          width: 100%;
      }
    .cns-formgroup{
      padding: 5px 5px 0;
    }
    .cns-pricegroup {
        display: grid;
        align-items: center;
        gap: 10px;
    }
      .cns-collectiontable {
        background-color: #fff;
        display: grid;
        align-items: center;
        justify-content: stretch;
        padding: 0;
        margin-top: -25px;
        border-top: 0;
    }
    .cns-tableleft {
        width: 100%;
        border-top: none;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    h4.cns-specname {
        font-size: 20px;
        text-align: center;
        padding: 5px;
    }
    .cns-tableright {
        display: grid;
        align-items: center;
        width: 100%;
        margin: auto;
        padding: 0;
        justify-content: stretch;
    }
    h4.cns-twidth {
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0 0px;
    }
    .cns-tableright-a {
        padding: 0px;
        display: grid;
    }
    ul.csn-twidth-disc {
        display: flex;
        gap: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        padding: 0;
    }
    ul.csn-twidth-disc li {
        width: 50%;
        text-align: center;
        padding: 10px;
    }
    .cns-collectioncomp {
        margin-top: 30px;
    }
    .cns-mcollectiontable:last-child{
      padding-bottom:30px;
    }
    .cns-selctproduct {
        font-size: 13px;
    }
  }
</style>
<div class="cns-collectioncomp">
    <div class="cns-collscomp">
      <h4 class="cns-collhead">
        Compare <span>Nature Saunas</span>
      </h4>
      <div class="cns-scollscomp">
        <div class="cns-collprodduct-a">
          <a class="cns-productimglink" href="{{ section.settings.cnscollection_productlink1 }}"><img class="cns-productimage" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Nature_4.png?v=1747135994" alt="nature Sauna"></a>
           <div class="form-group cns-formgroup">
              <select class="form-control cns-selctproduct" id="exampleFormControlSelect1">
                <option >Nature 4™</option>
                <option >Nature 5™</option>
                <option >Nature 6™</option>
                <option >Nature 7™</option>
                <option >Nature 8™ Plus</option>
              </select>
            </div>
            <div class="form-group cns-formgroup ">
              <div class="cns-pricegroup">
                <div>
                  <span class="cns-original-price">$11,999</span><span class="cns-current-price">$5,589</span>
                </div>
                <a href="/cart/add?id=50072481562912&quantity=1" 
                   onclick="event.preventDefault(); fetch('/cart/add?id=50072481562912&quantity=1').then(() => window.location.href = '/cart');" 
                   class="btn btn-primary cnsproduct_gocart">
                   Shop Now
                </a>
              </div>
            </div>
        </div>
        <div class="cns-collprodduct-b">
          <a class="cns-productimglink" href="{{ section.settings.cnscollection_productlink2 }}"><img class="cns-productimage" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/NATURE_5.png?v=1747135994" alt="nature Sauna"></a>
           <div class="form-group cns-formgroup">
              <select class="form-control cns-selctproduct" id="exampleFormControlSelect1">
                <option >Nature 4™</option>
                <option selected>Nature 5™</option>
                <option >Nature 6™</option>
                <option >Nature 7™</option>
                <option >Nature 8™ Plus</option>
              </select>
            </div>
            <div class="form-group cns-formgroup ">
                <div class="cns-pricegroup">
                  <div>
                    <span class="cns-original-price">{{ cnsproduct_02.compare_at_price | money_without_trailing_zeros}}</span><span class="cns-current-price">{{ cnsproduct_02.price | money_without_trailing_zeros}}</span>
                  </div>
                  <a href="/cart/add?id=50078402380064&quantity=1" 
                     onclick="event.preventDefault(); fetch('/cart/add?id=50078402380064&quantity=1').then(() => window.location.href = '/cart');" 
                     class="btn btn-primary cnsproduct_gocart">
                     Shop Now
                  </a>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="cns-mcollectiontable">
       <div class="cns-collectiontable">
          <div class="cns-tableleft">
            <h4 class="cns-specname">Exterior</h4>
          </div>
          <div class="cns-tableright">
            <div class="cns-tableright-a">
              <h4 class="cns-twidth">Width</h4>
              <ul class="csn-twidth-disc">
                <li class="csn-twidth-disca ewidth-a"><span class="abc">1</span></li>
                <li class="csn-twidth-discb ewidth-b">2</li>
              </ul>
            </div>
            <div class="cns-tableright-a cns-bggray">
              <h4 class="cns-twidth">Depth</h4>
              <ul class="csn-twidth-disc">
                <li class="csn-tdepth-disca edepth-a">3</li>
                <li class="csn-tdepth-discb edepth-b">4</li>
              </ul>
            </div>
            <div class="cns-tableright-a">
              <h4 class="cns-twidth">Height</h4>
              <ul class="csn-twidth-disc">
                <li class="csn-theight-disca eheight-a">5</li>
                <li class="csn-theight-discb eheight-b">6</li>
              </ul>
            </div>
            <div class="cns-tableright-a cns-bggray">
              <h4 class="cns-twidth">Door Opening</h4>
              <ul class="csn-twidth-disc">
                <li class="csn-tdoorop-a edopen-a">7</li>
                <li class="csn-tdoorop-b edopen-b">8</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="cns-mcollectiontable">
       <div class="cns-collectiontable">
          <div class="cns-tableleft">
            <h4 class="cns-specname">Interior</h4>
          </div>
          <div class="cns-tableright">
            <div class="cns-tableright-a">
              <h4 class="cns-twidth">Width</h4>
              <ul class="csn-twidth-disc">
                <li class="csn-twidth-disca iwidth-a"><span class="abc">9</span></li>
                <li class="csn-twidth-discb iwidth-b">10</li>
              </ul>
            </div>
            <div class="cns-tableright-a cns-bggray">
              <h4 class="cns-twidth">Depth</h4>
              <ul class="csn-twidth-disc">
                <li class="csn-tdepth-disca idepth-a">11</li>
                <li class="csn-tdepth-discb idepth-b">12</li/li>
              </ul>
            </div>
            <div class="cns-tableright-a">
              <h4 class="cns-twidth">Height</h4>
              <ul class="csn-twidth-disc">
                <li class="csn-theight-disca iheight-a">13</li>
                <li class="csn-theight-discb iheight-b">14</li>
              </ul>
            </div>
            <div class="cns-tableright-a cns-bggray">
              <h4 class="cns-twidth">Door Opening</h4>
              <ul class="csn-twidth-disc">
                <li class="csn-tdoorop-a idopen-a">15</li>
                <li class="csn-tdoorop-b idopen-b">16</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="cns-mcollectiontable">
       <div class="cns-collectiontable">
          <div class="cns-tableleft">
            <h4 class="cns-specname">Weight</h4>
          </div>
          <div class="cns-tableright">
            <div class="cns-tableright-a">
              <h4 class="cns-twidth">Basswood</h4>
              <ul class="csn-twidth-disc">
                <li class="csn-twidth-disca wwidth-a">17</li>
                <li class="csn-twidth-discb wwidth-b">18</li>
              </ul>
            </div>
            <div class="cns-tableright-a cns-bggray">
              <h4 class="cns-twidth">Eucalyptus</h4>
              <ul class="csn-twidth-disc">
                <li class="csn-tdepth-disca wdepth-a">19</li>
                <li class="csn-tdepth-discb wdepth-b">20</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="cns-mcollectiontable">
       <div class="cns-collectiontable">
          <div class="cns-tableleft">
            <h4 class="cns-specname">Utilities</h4>
          </div>
          <div class="cns-tableright">
            <div class="cns-tableright-a">
              <h4 class="cns-twidth">Electrical</h4>
              <ul class="csn-twidth-disc">
                <li class="csn-twidth-disca uelectric-a">21</li>
                <li class="csn-twidth-discb uelectric-b">22</li>
              </ul>
            </div>
            <div class="cns-tableright-a cns-bggray">
              <h4 class="cns-twidth">Heater</h4>
              <ul class="csn-twidth-disc">
                <li class="csn-tdepth-disca uheater-a">23</li>
                <li class="csn-tdepth-discb uheater-b">24</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    
</div>

<script>
  const saunaData = {
    "Nature 4™": {
      image: "https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Nature_4.png?v=1747135994",
      originalPrice: "{{ cnsproduct_01.compare_at_price | money_without_trailing_zeros}}",
      currentPrice: "{{ cnsproduct_01.price | money_without_trailing_zeros}}",
      cartId: "50072481562912",
      productlink: "{{ section.settings.cnscollection_productlink1 }}",
      exterior: { width: '1', depth: '3', height: '5', dooropening: '7' },
      interior: { width: '9', depth: '11', height: '13', dooropening: '15' },
      weight: { basswood: '17', eucalyptus: '19' },
      utilities: { electrical: '21', heater: '23' }
    },
    "Nature 5™": {
      image: "https://cdn.shopify.com/s/files/1/0897/8953/0400/files/NATURE_5.png?v=1747135994",
      originalPrice: "{{ cnsproduct_02.compare_at_price | money_without_trailing_zeros}}",
      currentPrice: "{{ cnsproduct_02.price | money_without_trailing_zeros}}",
      cartId: "50078402380064",
      productlink: "{{ section.settings.cnscollection_productlink2 }}",
      exterior: { width: '2', depth: '4', height: '6', dooropening: '7' },
      interior: { width: '8', depth: '10', height: '12', dooropening: '14' },
      weight: { basswood: '16', eucalyptus: '18' },
      utilities: { electrical: '20', heater: '22' }
    },
    "Nature 6™": {
      image: "https://cdn.shopify.com/s/files/1/0897/8953/0400/files/NATURE_6.png?v=1747135994",
      originalPrice: "{{ cnsproduct_03.compare_at_price | money_without_trailing_zeros}}",
      currentPrice: "{{ cnsproduct_03.price | money_without_trailing_zeros}}",
      cartId: "50078422106400",
      productlink: "{{ section.settings.cnscollection_productlink3 }}",
      exterior: { width: '25', depth: '26', height: '27', dooropening: '28' },
      interior: { width: '29', depth: '30', height: '31', dooropening: '32' },
      weight: { basswood: '33', eucalyptus: '34' },
      utilities: { electrical: '35', heater: '36' }
    },
    "Nature 7™": {
      image: "https://cdn.shopify.com/s/files/1/0897/8953/0400/files/NATURE_7.png?v=1747135994",
      originalPrice: "{{ cnsproduct_04.compare_at_price | money_without_trailing_zeros}}",
      currentPrice: "{{ cnsproduct_04.price | money_without_trailing_zeros}}",
      cartId: "50078437212448",
      productlink: "{{ section.settings.cnscollection_productlink4 }}",
      exterior: { width: '37', depth: '38', height: '39', dooropening: '40' },
      interior: { width: '41', depth: '42', height: '43', dooropening: '44' },
      weight: { basswood: '45', eucalyptus: '46' },
      utilities: { electrical: '47', heater: '48' }
    },
    "Nature 8™ Plus": {
      image: "https://cdn.shopify.com/s/files/1/0897/8953/0400/files/NATURE_8.png?v=1747135994",
      originalPrice: "{{ cnsproduct_05.compare_at_price | money_without_trailing_zeros}}",
      currentPrice: "{{ cnsproduct_05.price | money_without_trailing_zeros}}",
      cartId: "50078634836256",
      productlink: "{{ section.settings.cnscollection_productlink5 }}",
      exterior: { width: '49', depth: '50', height: '51', dooropening: '52' },
      interior: { width: '53', depth: '54', height: '55', dooropening: '56' },
      weight: { basswood: '57', eucalyptus: '58' },
      utilities: { electrical: '59', heater: '60' }
    }
  };

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".cns-selctproduct").forEach(select => {
      select.addEventListener("change", () => {
        const container = select.closest(".cns-collprodduct-a, .cns-collprodduct-b");
        const side = container.classList.contains("cns-collprodduct-a") ? "a" : "b";
        updateSaunaDetails(container, side);
      });
    });
  });

  function updateSaunaDetails(container, side) {
    const selectedValue = container.querySelector("select").value;
    const data = saunaData[selectedValue];
    if (!data) return;

    // Image and Prices
    container.querySelector("img.cns-productimage").src = data.image;
    container.querySelector("span.cns-original-price").textContent = data.originalPrice;
    container.querySelector("span.cns-current-price").textContent = data.currentPrice;

    // Shop link
    const link = container.querySelector("a.cnsproduct_gocart");
    if (link) {
      link.href = `/cart/add?id=${data.cartId}&quantity=1`;
      link.setAttribute("onclick", `event.preventDefault(); fetch('/cart/add?id=${data.cartId}&quantity=1').then(() => window.location.href = '/cart');`);
    }

    // Product link
    const productimglink = container.querySelector("a.cns-productimglink");
    if (productimglink) productimglink.href = data.productlink;

    // Update Specs - only that side
    document.querySelector(`.ewidth-${side}`).textContent = data.exterior.width;
    document.querySelector(`.edepth-${side}`).textContent = data.exterior.depth;
    document.querySelector(`.eheight-${side}`).textContent = data.exterior.height;
    document.querySelector(`.edopen-${side}`).textContent = data.exterior.dooropening;

    document.querySelector(`.iwidth-${side}`).textContent = data.interior.width;
    document.querySelector(`.idepth-${side}`).textContent = data.interior.depth;
    document.querySelector(`.iheight-${side}`).textContent = data.interior.height;
    document.querySelector(`.idopen-${side}`).textContent = data.interior.dooropening;

    document.querySelector(`.wwidth-${side}`).textContent = data.weight.basswood;
    document.querySelector(`.wdepth-${side}`).textContent = data.weight.eucalyptus;

    document.querySelector(`.uelectric-${side}`).textContent = data.utilities.electrical;
    document.querySelector(`.uheater-${side}`).textContent = data.utilities.heater;

   
  }
</script>

{% schema %}
{
  "name": "table-collection010525",
  "settings": [
     {
        "type": "product",
        "id": "cnscollection_product1",
        "label": "Select products"
      },
     {
        "type": "product",
        "id": "cnscollection_product2",
        "label": "Select products"
      },
     {
        "type": "product",
        "id": "cnscollection_product3",
        "label": "Select products"
      },
     {
        "type": "product",
        "id": "cnscollection_product4",
        "label": "Select products"
      },
     {
        "type": "product",
        "id": "cnscollection_product5",
        "label": "Select products"
      },
     {
        "type": "url",
        "id": "cnscollection_productlink1",
        "label": "Select products link 1"
      },
     {
        "type": "url",
        "id": "cnscollection_productlink2",
        "label": "Select products link 2"
      },
     {
        "type": "url",
        "id": "cnscollection_productlink3",
        "label": "Select products link 3"
      },
     {
        "type": "url",
        "id": "cnscollection_productlink4",
        "label": "Select products link 4"
      },
     {
        "type": "url",
        "id": "cnscollection_productlink5",
        "label": "Select products link 5"
      },
     
  ],
  "blocks": [
   
  ],
  "presets": [
    {
      "name": "table-collection010525",
    }
  ]
}
{% endschema %}