{%- style -%}

  .review-div-class iframe {
    width: 100% !important;
  }
  .review-div-class .youtube-text-p a {
    color: #545454 !important;
  }
  @media screen and (min-width: 750px) {

  }

  {% endstyle %}
<section class="w3_bg {{ section.settings.addclass }}">
  <div class="w3_bg">
    <div class="acc-bg-blue w3_bg">
      <div class="container w3_bg">
        <div class="feature-h-text collapsed w3_bg" data-toggle="collapse" data-target="#medical-acc21">
          {% if section.settings.yt_video_head != blank %}
            <h4 class=" head-a1 text-uppercase addnewcl">
              {{ section.settings.yt_video_head }}
            </h4>
          {% endif %}
          <i class="fa fa-angle-up head-arrow arrow-gray"></i>
        </div>
      </div>
    </div>
    <div id="medical-acc21" class="collapse in w3_bg youtube-connt">
      <div
        class="container w3_bg"
        style="margin-top:{{ section.settings.mtop }}PX; margin-bottom:{{ section.settings.mbottom }}PX"
      >
        <div class="Inner-main w3_bg" id="section-id-{{ section.id }}">
          <div class="col-md-12 col-sm-12 col-xs-12 design-p0 narure-benifits w3_bg">
            {{ section.settings.yt_video_content_top }}
          </div>

          <div class="row w3_bg">
            {% for block in section.blocks %}
              {% if block.settings.os_video != blank or block.settings.image != blank %}
                <div class="col-md-6 padding-0 w3_bg review-div-class" id="block-id-{{ section.id }}">
                  {% if block.settings.os_video != blank %}
                    <iframe
                      src="https://www.youtube.com/embed/{{block.settings.os_video.id}}"
                      allowfullscreen=""
                      width="525"
                      height="315"
                      style="margin-left:17px;background-image:url({{ block.settings.image | image_url }})"
                      frameborder="0"
                      class="youtube-video"
                      html=""
                      data-src="https://www.youtube.com/embed/{{block.settings.os_video.id}}"
                      data-done="Loaded"
                    >
                    </iframe>
                  {% endif %}
                  <p class="font-style youtube-text-p">
                    <a
                      {% if block.settings.yt_video_link %}
                        href="{{ block.settings.yt_video_link }}"
                      {% endif %}
                    >
                      {{ block.settings.yt_content }}
                    </a>
                  </p>
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <!--
            <div class="row w3_bg">

              <div class="col-md-6 padding-0 w3_bg">
                <iframe src="https://www.youtube.com/embed/pOlIQbXb-AY" allowfullscreen="" width="525" height="315" style="margin-left:17px;background-image:url(https://i.ytimg.com/vi/pOlIQbXb-AY/sddefault.jpg)" frameborder="0" class="youtube-video" html="" data-src="https://www.youtube.com/embed/pOlIQbXb-AY" data-done="Loaded"></iframe>
                <p class="font-style youtube-text-p">
                  <strong>Dr. Oz and Oprah in a Sauna </strong>
                </p>
              </div>

              <div class="col-md-6 padding-0 w3_bg">
                <iframe src="https://www.youtube.com/embed/sDAcl5NzOEk" allowfullscreen="" width="525" height="315" style="margin-left:17px;background-image:url(https://i.ytimg.com/vi/sDAcl5NzOEk/sddefault.jpg)" frameborder="0" class="youtube-video" html="" data-src="https://www.youtube.com/embed/sDAcl5NzOEk" data-done="Loaded"></iframe>
                <p class="font-style youtube-text-p">
                  <strong>The Health Benefits of Far Infrared Saunas for Cancer </strong>
                  <br>
                  <br>
                </p>
              </div>

            </div>
          -->
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "test Youtube Videos",
  "settings": [

  {
    "id": "yt_video_head",
    "type": "textarea",
    "label": "Main Heading"
  },
  {
    "id": "yt_video_content_top",
    "type": "textarea",
    "label": "Main Top content"

  }, {
        "type": "text",
        "id": "addclass",
        "label": "Add Class"
      },
      {
        "type": "text",
        "id": "mtop",
        "label": "Margin top (PX)"
      },
    {
        "type": "text",
        "id": "mbottom",
        "label": "Margin Bottom (PX)"
      }

  ],
  "blocks": [
  {
    "type": "yt_videos_img",
    "name": "Video/Image block",
    "settings": [
      {
        "type": "video_url",
        "id": "os_video",
        "label": "You Tube Link",
        "accept": [
          "youtube",
          "vimeo"
        ]
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Select Image",
        "info": "To display image above link should be blank"
      },
      {
        "id": "yt_content",
        "type": "textarea",
        "label": "Content"
      },
      {
        "id": "yt_video_link",
        "type": "url",
        "label": "Image/text link"
      }

    ]
  }
],
  "presets":[
    {
      "name": "test Youtube Videos"
     }
  ]
}
{% endschema %}
