<section class="designer-show w3_bg {{ section.settings.addclass }}">
    <div class="acc-bg-blue w3_bg">
      <div class="container w3_bg">
        <div class="feature-h-text w3_bg" data-toggle="collapse" data-target="#{{ section.id }}" aria-expanded="true">
          <h4 class="head-a1 addnewcl">{{ section.settings.heading }} <span class="">{{ section.settings.headblue }}</span></h4>
          <i class="fa fa-angle-down head-arrow arrow-gray rotate180"></i>
        </div>
      </div>
    </div>
    <div class="container spa-p0 collapse in w3_bg" id="{{ section.id }}" aria-expanded="true" style="margin-top:{{ section.settings.mtop }}PX; margin-bottom:{{ section.settings.mbottom }}PX">
      <div class="row w3_bg">
        <div class="col-md-12 spa-p0 w3_bg">
        
          {% for block in section.blocks %}  
           <img src="{{ block.settings.image | img_url:'master' }}"  alt="medical sauna's nature4 - 01" class="img-responsive spa-4space padding-top5">
           <p class="design-a1">{{ block.settings.content }}</p>
          <br>
          {% endfor %}

        </div>
      </div>
    </div>
  </section>
{% schema %}
  {
    "name": "test Designer showcase",
    "settings": [
       {
        "type": "text",
        "id":"heading",
        "label":"Main Heading"
      },
      {
        "type": "text",
        "id":"headblue",
        "label":"White text"
      }, {
          "type": "text", 
          "id": "addclass", 
          "label": "Add Class" 
        }, 
        {
          "type": "text",
          "id": "mtop",
          "label": "Margin top (PX)"
        },
      {
          "type": "text",
          "id": "mbottom",
          "label": "Margin Bottom (PX)"
        }
    ],
     "blocks": [
      {
        "type":"custom",
        "name":"Image",
        "settings":[
          {
            "type": "image_picker",
            "id":"image",
            "label":"Image"
          },
          {
             "type": "text",
             "id":"content",
             "label":"Content"
          }
        ]
      }
     ],
    "presets":[
      {
        "name": "test Designer showcase"
      }
    ]
  }
{% endschema %}