<style>
.financing-section{
padding: 40px;  
} 
.financing-banner {
    background-color: #f0f6fc;
    border-radius: 10px;
    padding: 80px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
  .financing-text {
    width: 58%;
  }

  .foll{
    width: 42%;
    text-align: center;
}

  .financing-title {
    font-size: 24px;
    font-weight: 700;
    color: #003e6b;
    margin-bottom: 10px;
  }

  .financing-description {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }

  .financing-note {
    font-size: 13px;
    color: #555;
  }

.financing-logos {
    display: block;
    /* align-items: center; */
    gap: 15px;
    /* margin-top: 20px; */
}
.learnmorep{
    margin: auto;
    background-color: #f0f6fc;
    border: 1px solid #0096d9;
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 50%;
  border-radius: 5px;
}
  .financing-button {
    margin-top: 20px;
    background-color: white;
    border: 1px solid #0073e6;
    color: #0073e6;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
  }

  .financing-button:hover {
    background-color: #0073e6;
    color: white;
  }
 .logo-button{
   
 }
  .logo-imj{
    margin-bottom:20px;
  }
  @media only screen and (max-width: 767px) {
    .financing-title {
      font-size: 30px;
      font-weight: 600;
      color: #003e6b;
      margin-bottom: 10px;
      margin-top: 5px;
      line-height: 35px;
}
    .financing-section {
    padding: 0px;
      width: 95%;
      margin:auto;
}
    .financing-text {
        width: 100%;
        padding-top: 20px;
    }
    .foll {
    width: 100%;
    text-align: center;
}
     .financing-banner {
        display: block;
        position: relative;
        padding: 10px;
        padding-bottom: 30px;
        padding-top: 50px;
    }
    .learnmorep {
    margin: auto;
    background-color: #fff;
    border: 1px solid #0096d9;
    padding: 8px 12px 8px 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 18px;
}

     .logo-imj {
        position: absolute;
        top: 28px;
        left: 16px;
        margin-bottom: 20px;
        margin: auto;
        width: 68%;
    }
    
  }
</style>

<section class="financing-section">

<div class="financing-banner">
  <div class="financing-text">
    <div class="financing-title">{{ section.settings.title }}</div>
    <div class="financing-description">{{ section.settings.description }}</div>
    <div class="financing-note">{{ section.settings.note }}</div>
  </div>
  <div class="foll">
    <div class="financing-logos">
      <img src="{{ section.settings.synchrony_logo |  img_url:'master' }}" alt="Synchrony" class="logo-imj">
      
      <p class="learnmorep">  <a class="logo-button" href="{{ section.settings.button_link }}">
        {{ section.settings.button_label }}
      </a></p>
    </div>
   
  </div>
</div>
</section>
{% schema %}
{
  "name": "text-section-010525",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "0% APR Financing Available with $0 Down"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Flexible payment plans offered through Synchrony and Affirm—available in 12, 24, 39, or 43-month terms to fit your budget."
    },
    {
      "type": "text",
      "id": "note",
      "label": "Note",
      "default": "Financing options may vary by product. Subject to credit check and approval."
    },
    {
      "type": "image_picker",
      "id": "synchrony_logo",
      "label": "Synchrony Logo"
    },
    {
      "type": "image_picker",
      "id": "affirm_logo",
      "label": "Affirm Logo"
    },
      {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Text",
      "default": "LEARN MORE"
    }

  ],
  "presets": [
    {
      "name": "text-section-010525"
    }
  ]
}
{% endschema %}
