<section class="w3_bg sfsd">
    <div class="w3_bg">
      <div class="acc-bg-blue w3_bg">
        <div class="container w3_bg tyrts">
          <div class="feature-h-text collapsed w3_bg" data-toggle="collapse" data-target="#{{ section.id }}">

            <h4 class=" head-a1  medical-beni removebr">{{ section.settings.heading }} <br><span class="spn-a addnewcl">{{ section.settings.headblue }}</span></h4>
            <i class="fa fa-angle-up head-arrow arrow-gray"></i>
          </div>
        </div>
      </div>
      <div id="{{ section.id }}" class="container collapse in w3_bg bhyu {{ section.settings.addclass }}"> 
        <picture>
          <img src="{{ section.settings.image | img_url:'master' }}" alt="medical benifits medical sauna's 3" class="mobjkileimg" data-done="Loaded">
           <img src="{{ section.settings.image1 | img_url:'master' }}" alt="medical benifits medical sauna's 3" class="mobjkileimg" data-done="Loaded">
           <img src="{{ section.settings.image2 | img_url:'master' }}" alt="medical benifits medical sauna's 3" class="mobjkileimg" data-done="Loaded">
        </picture>
      </div>
    </div>
  </section>
{% schema %}
  {
    "name": "three Image",
    "settings": [
      {
        "type": "text",
        "id":"addclass",
        "label":" addclass"
      },
       {
        "type": "image_picker",
        "id":"image",
        "label":" Image"
      },
      {
        "type": "image_picker",
        "id":"image1",
        "label":" Image"
      },
      {
        "type": "image_picker",
        "id":"image2",
        "label":" Image"
      },
      {
        "type": "text",
        "id":"heading",
        "label":"Main Heading"
      },
      {
        "type": "text",
        "id":"headblue",
        "label":"White text"
      }
      
    ],
    "presets":[
      {
         "name": "three Image"
      }
    ]
  }
{% endschema %}