<section>
    <div class="container padding-mob designer-showcase-img">
      <div class="Inner-main">
        <div class="col-md-12 col-sm-12 col-xs-12 gallery gallery_1 footer_images">
          <h3 class="designer-show-h">{{ section.settings.heading }} <font color="0096d9">{{ section.settings.headblue }}</font> </h3>

           {% for block in section.blocks %}  
          <div class="col-md-12 gallery gallery_{{ forloop.index }} footer_images">
            <img src="{{ block.settings.image | img_url:'master' }}" class="img-responsive" alt="Traditional 9 Plus™ in a Modern Showcase" style="width:100%; max-width:100%;">
            <p class="document font-style">{{ block.settings.content }}
            </p>
          </div>
              {% endfor %}


        </div>
      </div>
    </div>
  </section>

   <style>
     .designer-showcase-img{
        margin-top:10px;
      }
   </style>
  
{% schema %}
  {
    "name": "trad-9-image-gallery",
    "settings": [
      {
        "type": "text",
        "id":"heading",
        "label":"Main Heading"
      },
      {
        "type": "text",
        "id":"headblue",
        "label":"White text"
      }
    ],
    "blocks": [
      {
        "type":"custom",
        "name":"Image",
        "settings":[
          {
            "type": "image_picker",
            "id":"image",
            "label":"Image"
          },
          {
             "type": "text",
             "id":"content",
             "label":"Content"
          }
        ]
      }
     ],
    "presets":[
      {
         "name": "trad-9-image-gallery"
      }
    ]
  }
{% endschema %}