<section class="full-part">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="padding-top:10px;">
          <h2 class="mobile_center font-style" style="color:#0382CF; text-align: center;"><strong>{{ section.settings.bluetext }}<span style="color:#000"> {{ section.settings.textc }}</span></strong></h2>
          
          {% for block in section.blocks %}
          <div class="col-sm-6 col-xs-6 col-md-4">
            {% if block.settings.main-img != blank %}
            <figure style="text-align:center;">
              <img src="{{ block.settings.main-img | img_url:'master' }}" alt="medicalsaunas traditional8plus features - 0{{ forloop.index }}">
              <figcaption class="features-fig" style="text-align:center; font-size:16px; padding-left: 0px;">
                <strong>{{ block.settings.main-text }}</strong>
              </figcaption>
            </figure>
            {% endif %}
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>
  </section>

  <style>
  @media (max-width: 767px) {
    .full-part .col-md-12 {
      display: flex !important;
      flex-wrap: wrap !important;
    }
   .full-part .col-md-12 .col-sm-6.col-xs-6{
     width:100%;
   }
   
    .full-part .col-md-12 .mobile_center.font-style{
      font-size:25px !important;
    }
  }
  </style>

  
  {% schema %}
  {
    "name": "trad-9 break-feature",
    "settings": [
      {
        "type": "text",
        "id": "bluetext",
        "label": "Blue Text"
      },
      {
        "type": "text",
        "id": "textc",
        "label": "Text"
      }
    ],
    "blocks": [
      {
        "type":"box",
        "name":"Add box",
        "limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "id": "main-img",
            "label":"Image"
          },
          {
            "type": "text",
            "id": "main-text",
            "label":"text"
          }
        ]
      }
    ],
    "presets":[
      {
       "name": "trad-9 break-feature" 
      }
    ]
  }
{% endschema %}