<section class="vedio-text-container page-width">

<div class="row >
<div class="col-md-12">
<div class="col-md-7 left-content">

  
<div class="para1"><p> {{ section.settings.para1 }}</p></div>

  
<div class="red-highlight"><p>{{ section.settings.para2 }}</p></div>

 <div class="para1"><p>{{ section.settings.para3 }}</p> </div>
   
</div>

  
<div class="col-md-5 right-vedio">


<div class="embed-responsive embed-responsive-16by9">
    <iframe class="youtube-video" src="https://www.youtube.com/embed/{{ section.settings.os_video.id }}" title="Frozen™ Cold Plunge, the World's First Cold Plunge with a Steam Generator" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
</div>

</div>
  <div class="paragraph">
    
    {% for block in section.blocks %}
    <p> {{ block.settings.para4 }}</p>
    {% endfor %}
  </div>
</div>
</div>
     </section>               
                    
<style>


  .page-width{
    width:1230px;
  }
  .col-md-7.left-content {
    padding-left: 0px;
}
  .red-highlight p {
    font-weight: 700;
    color:#FF0000;
}
.paragraph {
    margin-bottom: 100px;
  margin-top:10px;
}
  .paragraph p {
    margin-bottom: 30px;
    
    color:#545454;
}
  .para1 p {
    color: #545454;
}




  
</style>
     

     






  {% schema %}
  {
    "name": "vedio-right",
    "settings": [
        {
        "type":"textarea",
        "id":"para1",
        "label":"Description"
             
      },
          {
        "type":"textarea",
        "id":"para2",
        "label":"Description"
             
      },
        {
        "type":"textarea",
        "id":"para3",
        "label":"Description"
             
      },
      {
        "type": "video_url",
        "id": "os_video",
        "label": "You Tube Link",
        "accept": [
          "youtube",
          "vimeo"
        ]
      },
       
      
    ],
    
    "blocks":[
       {
          "type":"image_right",
          "name":"Large_description",
          "settings":[
             {
        "type":"textarea",
        "id":"para4",
        "label":" Add Description"
             
      },
          ]
       }
 ],
    
    "presets": [
      {
        "name": "vedio-right"
      }
    ]
  }
{% endschema %}
