
<style>
   .medicalbased-a {
    font-family: Open Sans, sans-serif !important;
    color: #545454;
    cursor: default;
    font-size: 14px;
    line-height: 22px;
    margin: 5px 0;
    padding: 0;
    text-align: justify;
}
  .p-b-low{
    padding-bottom: 1%;
  }
  @media screen and (max-width: 767px) {
   .medicalbased {
    display: block;
}
}

  @media (max-width: 640px) {
    .w3_bg .head-a1 {
        text-align: left;
        font-size: 18px !important;
        width: 81%;
        padding-left: 0%;
        padding-bottom: 2% !important;
        padding-top: 2% !important;
        margin: 0%;
        text-transform: uppercase;
    }
      span.addnewcl {
        font-size: 12px;
        line-height: 17px;
    }
}
</style
<section class="w3_bg medical3-v2a {{ section.settings.addclass }}">
    <div class="w3_bg">
    <div class="acc-bg-blue w3_bg">
            <div class="container w3_bg">
            <div class="feature-h-text collapsed w3_bg" data-toggle="collapse" data-target="#{{ section.id }}">
                <h4 class="head-a1">{{ section.settings.heading }} </h4>
                <i class="fa fa-angle-up head-arrow arrow-gray"></i>
            </div>
            </div>
        </div>
        <div id="{{ section.id }}" class="collapse in container w3_bg" style="margin-top:{{ section.settings.mtop }}px; margin-bottom:{{ section.settings.mbottom }}px" >
          
           {% for block in section.blocks %}
            
           {%  if block.type == 'image_right' %}
              <section class="full-part w3_bg {{ block.settings.addclass2 }}" id="section-block-{{ block.id }}">
                 <div class="w3_bg">
                    <div class="row w3_bg medicalbased right-side-flow mb-1-img new-view--{{ forloop.index }} {{ forloop.index }}">
                    
                       <div class="col-md-6 mobile-p-0 medicalbased-a w3_bg block-id-{{ block.id }}" id="text-column-5">

                          {%  if block.settings.heading_r != blank %}
                         <h5 class="nature_padding_row font-style skin-reju"> 
                           {{ block.settings.heading_r }} 
                         </h5>
                         {% endif %}
                         
                         {{ block.settings.text_title_r }}

                          {%  if block.settings.heading2_r != blank %}
                         <h5 class="nature_padding_row font-style skin-reju">
                            {{ block.settings.heading2_r }}
                          </h5>
                         {% endif %}
                         
                           {{ block.settings.text_title2_r }}

                         {%  if block.settings.heading3_r != blank %}
                         <h5 class="nature_padding_row font-style skin-reju">
                            {{ block.settings.heading3_r }}
                          </h5>
                         {% endif %}
                           {{ block.settings.text_title3_r }}

                         {%  if block.settings.heading4_r != blank %}
                         <h5 class="nature_padding_row font-style skin-reju">
                            {{ block.settings.heading4_r }}
                          </h5>
                         {% endif %}
                           {{ block.settings.text_title4_r }}
                      </div>
                    
                     <div class="col-md-6 mobile-p-0  w3_bg block-id-{{ block.id }} p-b-low" id="image-column-5">
                         {% if block.settings.feature_image_r != blank %} 
                           <img width="" height="" 
                            src="{{ block.settings.feature_image_r | img_url: 'master' }}" 
                            alt="{{ block.settings.feature_image_r.alt }}"
                            class="rapid-img"
                            data-done="Loaded">
                             {% endif %}
                      </div>

                    </div>
                  </div>
              </section>


<style>
  #image-column-4{
    margin:10px 0!important;
  }
    #image-column-4 img {
    width: 100%!important;   
}

  @media (max-width:640px){
    .left-side-flow{
      display:flex !important;
    }
    .img-order2{
      order:2;
    }
    
    .col-md-6{
      padding:0!important;
    }
  }

  .onezero section-block-{{ block.id }} {
    padding-bottom: 20px;
  }
</style>
             
            {% endif %}


             
             
            {%  if block.type == 'image_left' %}
            <section class="full-part w3_bg {{ block.settings.addclass1 }}" id="section-block-{{ block.id }}">
                <div class="w3_bg">
                    <div class="row medicalbased left-side-flow mb-1-img w3_bg">
                        <div class="col-md-6 mobile-p-0 w3_bg img-order2" id="image-column-5">
                            <img width="" height="" 
                              src="{{ block.settings.feature_image_l | img_url: 'master' }}" 
                              alt="{{ block.settings.feature_image_l.alt }}" 
                              class="medical-rapidimg" 
                              html="" 
                              data-done="Loaded">
                        </div>                      
                        <div class="col-md-6 mobile-p-0 medicalbased-a w3_bg" id="text-column-5">

                          {%  if block.settings.heading_l != blank %}
                          <h5 class="nature_padding_row font-style skin-reju">
                            {{ block.settings.heading_l }}
                          </h5>
                          {% endif %}
                           {{ block.settings.text_title_l }}

                          {%  if block.settings.heading2_l != blank %}
                          <h5 class="nature_padding_row font-style skin-reju">
                            {{ block.settings.heading2_l }}
                          </h5>
                          {% endif %}
                           {{ block.settings.text_title2_l }}

                          {%  if block.settings.heading3_l != blank %}
                          <h5 class="nature_padding_row font-style skin-reju">
                            {{ block.settings.heading3_l }}
                          </h5>
                          {% endif %}
                           {{ block.settings.text_title3_l }}

                          {%  if block.settings.heading4_l != blank %}
                          <h5 class="nature_padding_row font-style skin-reju">
                            {{ block.settings.heading4_l }}
                          </h5>
                          {% endif %}
                           {{ block.settings.text_title4_l }}
                        </div>
                    </div>
                </div>
            </section>

<style>
  #image-column-4{
    margin:10px 0!important;
  }
    #image-column-5 img {
    width: 100%!important;
}
   @media (max-width:640px){
       #section-block-{{ block.id }} .medicalbased {
        flex-direction: column !important;
       }
       #section-block-{{ block.id }} .medicalbased {
        flex-direction: column !important;
      }
   }


</style>

              
              {% endif %}

             {%  if block.type == 'text_only' %}
              <section class="full-part w3_bg {{ block.settings.addclass3 }}" id="section-block-{{ block.id }}">
                  <div class="col-md-12 mobile-p-0 w3_bg">
                      <h5 class="font-style hot-coldmedi">
                        {{ block.settings.heading }}
                      </h5>
                    
                    <p class="para-text">{{ block.settings.desc }}</p>
                  </div>
              </section>
            {% endif %}

             {%  if block.type == 'image_only' %}
               <section class="full-part w3_bg {{ block.settings.addclass4 }}" id="section-block-{{ block.id }}">
                  <div class="col-md-12 mobile-p-0 w3_bg">
                  <picture>
                    <source media="(min-width:560px)" srcset="{{ block.settings.feature_image_only | img_url: 'master' }}">
                    {% if block.settings.feature_image_only !=blank %}<img src="{{ block.settings.feature_image_only | img_url: 'master' }}" 
                    data-src="{{ block.settings.feature_image_only | img_url: 'master' }}" 
                    alt="{{ block.settings.feature_image_only.alt }}"
                    class="img-responsive desktpo-img benefits-pd"
                    width=""
                    height=""
                    data-done="Loaded">{% endif %}
                    {%  if block.settings.mimage !=blank %}
                     <img class="mimageon mobi-img" src="{{ block.settings.mimage | img_url: 'master' }}">
                    {% endif %}
                </picture>
                      
                  </div>
              </section>

               <style>
                  #section-block-{{ block.id }} .mobile-p-0 {
                    display: flex !important;
                    justify-content: center !important;
                  }

               </style>

                 
                {% endif %}
     
 {% endfor %}
          
       
   




<div class="container" id="icons-section">
   {% if section.settings.checked != blank %}  
   <div class=" custom_icons">
 {% for block in section.blocks %}
         
                     

 {%  if block.type == 'icon_block' %}
                              
                              <div class="icons">
                                <picture>
                                  <source media="(min-width:560px)" srcset="{{ block.settings.image | img_url: 'master' }}">
                                  <img 
                                    src="{{ block.settings.image | img_url: 'master' }}" 
                                    alt="{{ block.settings.image.alt }}" 
                                    class="img-responsive benefits-pd"
                                    data-done="Loaded">
                                </picture>
                            
                                <div class="multi_textcss">
                                  <h5><strong class="benefits_strong_h">{{ block.settings.title }}</strong></h5>
                                  <p>{{ block.settings.detail }}</p>
                                </div>
                              </div>
                             {% endif %}   
                      
                                     
            
   
  
    {% endfor %}
      </div> 
  {% endif %} 
    </div>
 </div>
 </div>


  
</section>


<style>
  #{{ section.id }} {
    margin-top:0 !important;
  }
   #{{ section.id }} .col-md-12.mobile-p-0.w3_bg {
    display: inline;
  }



  @media (max-width:640px){
     #{{ section.id }} {
    margin-bottom:0 !important;
  }
   .temp_medical-4 .row.medicalbased.left-side-flow.mb-1-img.w3_bg {
    display: flex;
    flex-direction: column-reverse;
}
    
       .temp_medical-5 .row.medicalbased.left-side-flow.mb-1-img.w3_bg,.temp_medical-5 .medicalbased.left-side-flow {
    display: flex;
    flex-direction: column-reverse;
}
    
     .temp_medical-6 .row.medicalbased.left-side-flow.mb-1-img.w3_bg,.temp_medical-6 .medicalbased.left-side-flow {
    display: flex!important;
    flex-direction: column-reverse!important;
}
         .temp_medical-7plus .row.medicalbased.left-side-flow.mb-1-img.w3_bg,.temp_medical-7plus .medicalbased.left-side-flow {
    display: flex!important;
    flex-direction: column-reverse!important;
}
         .temp_medical-3 .row.medicalbased.left-side-flow.mb-1-img.w3_bg,.temp_medical-3 .medicalbased.left-side-flow {
    display: flex!important;
    flex-direction: column-reverse!important;
}

    .w3_bg.medical3-v2a .head-a1 {
    text-align: left;
    font-size: 20px!important;
    width: 81%;
    padding-left: 0%;
    padding-bottom: 2%!important;
    padding-top: 2%!important;
    margin: 0%;
    text-transform: uppercase;
}
    .w3_bg.medical3-v2a.col-md-6 {
  padding:0px
}
.w3_bg.medical3-v2a  .full-part .row.w3_bg {
        flex-direction: column-reverse !important;
}

    .w3_bg.medical3-v2a.firstcomparision  .head-a1 {
         text-align: left;
       font-size: 20px!important;
       width: 81%;
       padding-left: 0%;
       padding-bottom: 2%!important;
       padding-top: 2%!important;
      margin: 0%;
       text-transform: uppercase;
    }
     .w3_bg.medical3-v2a.firstcomparision .head-a1 span {
       display: block;
    }

    /* .w3_bg.medical3-v2a .head-a1 span {
      display: block;
     }
      .w3_bg.medical3-v2a .head-a1 {
    text-align: left;
    font-size: 20px!important;
    width: 81%;
    padding-left: 0%;
    padding-bottom: 2%!important;
    padding-top: 2%!important;
    margin: 0%;
    text-transform: uppercase;
    } */

  }
</style>

{% schema %}
  {
    "name": "zero-comparition-g3",
    "settings": [
      {
          "type": "text",
          "id": "addclass",
          "label": "addclass"
        },
       {
          "type": "textarea",
          "id": "heading",
          "label": "Hedaing"
        }, {
          "type": "text",
          "id": "mtop",
          "label": "Margin top (PX)"
        },
      {
          "type": "text",
          "id": "mbottom",
          "label": "Margin Bottom (PX)"
        },
      
      {
"type": "checkbox",
"id": "checked",
"label": "Show Icon Box Section",
"default": false
}
    ],
    "blocks":[
       {
          "type":"image_right",
          "name":"Image Right Text Left",
          "settings":[
             {
                "type":"text",
                "id":"addclass2",
                "label":"Add class"
             },
              {
                "type":"text",
                "id":"block-id",
                "label":"ID",
                "info": "Do Not Touch OR Edit ID"
             },
            {
                "type":"image_picker",
                "id":"feature_image_r",
                "label":"image"
             },
             {
                "type":"text",
                 "id":"heading_r",
                "label":"Heading",
               "default":"Our World Famous Hip Twist™"
             },
            {
                "type":"textarea",
                 "id":"text_title_r",
                "label":"description"
             },
            {
                "type":"text",
                 "id":"heading2_r",
                "label":"Heading2"
             },
             {
                "type":"textarea",
                 "id":"text_title2_r",
                "label":"Description 2"
             },
            {
                "type":"text",
                 "id":"heading3_r",
                "label":"Heading 3"
             },
             {
                "type":"textarea",
                 "id":"text_title3_r",
                "label":"Description 3"
             },
            {
                "type":"text",
                 "id":"heading4_r",
                "label":"Heading 4"
             },
             {
                "type":"textarea",
                 "id":"text_title4_r",
                "label":"Description 4"
             } 
          ]
       },
       {
          "type":"image_left",
          "name":"Image Left Text Right",
          "settings":[
             {
                "type":"text",
                "id":"addclass1",
                "label":"Add class"
             },
              {
                "type":"text",
                "id":"block-id",
                "label":"ID",
                "info": "Do Not Touch OR Edit ID"
             },
            {
                "type":"image_picker",
                "id":"feature_image_l",
                "label":"image"
             },
             {
                "type":"text",
                 "id":"heading_l",
                "label":"Heading",
               "default":"Our World Famous Hip Twist™"
             },
            {
                "type":"textarea",
                 "id":"text_title_l",
                "label":"description"
             },
            {
                "type":"text",
                 "id":"heading2_l",
                "label":"Heading2"
             },
             {
                "type":"textarea",
                 "id":"text_title2_l",
                "label":"Description 2"
             },
            {
                "type":"text",
                 "id":"heading3_l",
                "label":"Heading 3"
             },
             {
                "type":"textarea",
                 "id":"text_title3_l",
                "label":"Description 3"
             },
            {
                "type":"text",
                 "id":"heading4_l",
                "label":"Heading 4"
             },
             {
                "type":"textarea",
                 "id":"text_title4_l",
                "label":"Description 4"
             } 
 
          ]
       },
      {
        "type": "image_only",
        "name": "Image Block full width",
        "settings": [
           {
                "type":"text",
                "id":"addclass4",
                "label":"Add class"
             },
          {
            "type": "image_picker",
            "id": "feature_image_only",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "mimage",
            "label": "Mobile Image"
          }
        ]
      },
      {
      "type": "text_only",
      "name": "Text full width",
      "settings": [
         {
                "type":"text",
                "id":"addclass3",
                "label":"Add class"
             },
        {
          "type": "text",
          "id": "ID",
          "label": "ID",
          "info": "DO Not Touch or Edit ID"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Hedaing"
        },
        {
          "type": "textarea",
          "id": "desc",
          "label": "Text"
        }
      ]
    },
     {
    "type": "video_only",
    "name": "Vido Url",
    "settings": [
       {
        "type": "url",
        "id": "video_url",
        "label": "Video URL"
      }
    ]
   },
    {
      "type":"text_image",
      "name":"3 column",
      "settings":[
         {
      "type": "text",
      "id": "ID_New",
      "label": "ID",
      "info": "DO Not Touch or Edit ID"
    },
    {
      "type":"text",
      "id":"heading_new",
      "label":"Heading"
   },
  {
      "type":"image_picker",
      "id":"feature_images",
      "label":"image"
   },
  
  {
      "type":"richtext",
       "id":"description",
      "label":"description"
   } 
    ]
       },
      {
        "type":"multi_column_image",
        "name":"Multi Column with Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label":"Image 1"
          },
          {
            "type": "text",
            "id": "title_1",
            "label":"Title 1"
          },
          {
            "type": "richtext",
            "id": "detail_1",
            "label":"Detail 1"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label":"Image 2"
          },
          {
            "type": "text",
            "id": "title_2",
            "label":"Title 2"
          },
          {
            "type": "richtext",
            "id": "detail_2",
            "label":"Detail 2"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label":"Image 3"
          },
          {
            "type": "text",
            "id": "title_3",
            "label":"Title 3"
          },
          {
            "type": "richtext",
            "id": "detail_3",
            "label":"Detail 3"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label":"Image 4"
          },
          {
            "type": "text",
            "id": "title_4",
            "label":"Title 4"
          },
          {
            "type": "richtext",
            "id": "detail_4",
            "label":"Detail 4"
          },
          {
            "type": "image_picker",
            "id": "image_5",
            "label":"Image 5"
          },
          {
            "type": "text",
            "id": "title_5",
            "label":"Title 5"
          },
          {
            "type": "richtext",
            "id": "detail_5",
            "label":"Detail 5"
          },
          {
            "type": "image_picker",
            "id": "image_6",
            "label":"Image 6"
          },
          {
            "type": "text",
            "id": "title_6",
            "label":"Title 6"
          },
          {
            "type": "richtext",
            "id": "detail_6",
            "label":"Detail 6"
          }
        ]
      },

{
      "type": "icon_block",
      "name": "Icon Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "detail",
          "label": "Detail"
        }
      ]
    }

    ],

    
    "presets": [{
      "name": "zero-comparition-g3"
    }]
  }
{% endschema %}